#tippy-16 {
    width: auto;
}
#tippy-16 .tippy-content {
    overflow: hidden;
}
#tippy-16 ul li a {
    color: black !important;
    font-size: 13.5px !important;
    text-transform: none !important;
    padding: 0px 10px 0px 10px !important;
    transition: 0s !important;
    text-shadow: none !important;
    width: 100%;
    display: flex;
}
#tippy-16 ul li:last-of-type a {
    border-bottom: none !important;
}
  
#tippy-16 ul li::before, #tippy-16 ul li::after {
    display: none !important;
}
  
#tippy-16 ul li a:hover {
    background-color: #ecf5fb;
}
#tippy-16 ul li {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type a, #tippy-16 ul li:last-of-type a::before {
    color: red !important;
   }
#tippy-16 ul li:first-of-type a::before {
    content: "\e016";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:nth-child(2) a::before {
    content: "\e015";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:last-of-type a::before {
    content: "\e9b";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}

.timeline-calendar {
    padding: 2em 1.5em 2em 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
    overflow-x: hidden;
}
.timeline-calendar__head {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 1.5em; */
    margin-bottom: 2em;
    position: relative;
    gap: 20px;
    align-items: center;
}
.timeline-calendar__head > span:nth-child(1) {
    font-size: 1.3em;
    color: black;
    font-weight: 700;
}
.timeline-calendar__stages {
    font-size: 1.2em;
    font-weight: 700;
    display: flex;
    background-color: #d1ebfb;
    margin: 2em 0 0.75em 0;
    position: relative;
    padding: 1.3px 10px 1.3px 51px;
}
.circle-element-for-stages {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #d1ebfb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline__select-body {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.timeline-calendar__select-season {
    margin-left: 7px;
    padding: 5px 0 5px 5px;
}
.timeline-calendar__select-season {
    outline: 1px solid #d0d9dd;
    border-radius: 3px;
    transition: all .3s ease;
    cursor: pointer;
}

.olympic-games-icon {
    width: 24px;
    height: 24px;
    fill: #81aad5;
    scale: 1;
}
.local-championship-icon {
    width: 22px;
    height: 22px;
    fill: #81aad5;
    scale: 1;
}
.circle-icon {
    fill: #81aad5;
    scale: 1;
}
.circle-icon-21 {
    width: 21px;
    height: 21px;
}
.timeline-calendar__table-wrapper {
    overflow-x: auto;
    margin-top: 0.3em;
}

.timeline-calendar__table {
    border-collapse: collapse;
    width: 100%;
    min-width: 450px;
}
.timeline-calendar__table tbody tr:nth-child(2n+1) {
    background-color: #e7f3fa;
}
.timeline-calendar__table tbody tr td:not(:last-child) {
    padding: 2.4px 7px;
}
.timeline-calendar__table tbody tr td:not(:first-child, :last-child) {
    text-align: center;
}
.timeline-calendar__table tbody tr td:last-child {
    width: 100.6px;
}
.targets-block {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    padding: 3px 6px;
    border: 1px solid #c4c4c4;
    background: white;
    -webkit-tap-highlight-color: transparent;
}
.targets-block.done {
    cursor: auto;
}
.target-block__circle {
    display: flex;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    /* background-color: white; */
    position: relative;
    overflow: hidden;
    scale: 1;
}
.target-block__circle::before {
    content: '';
    background-color: #313131;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}
.targets-block.current .target-block__circle::before {
    transition: all .3s ease;
}
.targets-block.current .target-block__circle:nth-child(2n):before {
    background-color: white;
}
.targets-block.done .target-block__circle::before {
    background-color: white;
}
.targets-block.done .target-block__circle {
    border: 1px solid #8e8e8e;
    /* border-color: #8e8e8e; */
}
.targets-block.current .target-block__circle:nth-child(2n) {
    border: 1px solid #8e8e8e;
    /* border-color: #8e8e8e; */
}
.targets-block.current {
    cursor: crosshair;
}
a.targets-block.done {
    cursor: pointer;
}
.timeline-calendar__location{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.timeline-calendar__location a {
    font-weight: 600;
}
.timeline-calendar__table tbody tr td:nth-child(2) {
    width: 102.6px;
    white-space: nowrap;
}
.timeline-calendar__table tbody tr td:nth-child(3) {
    width: 58.75px;
}
@media (hover: hover) {
    .timeline-calendar__select-season:hover {
        outline-color: #bfc6ca;
    }
    .timeline-calendar__table tr:hover td {
        background-color: #fffce5;
    }
    .targets-block.current .target-block__circle:nth-child(2n+1):hover::before {
        background-color: #5a5a5a;
    }
    .targets-block.done:hover .target-block__circle::before {
        background-color: #5a5a5a;
    }
    .targets-block.done:hover .target-block__circle {
        border: none;
    }
}

@media screen and (max-width: 550px) {
    .timeline-calendar {
        padding: 2em 1.06em 2em 1.06em;
    }
    .timeline-calendar__table tbody tr td:nth-child(2), .timeline-calendar__table tbody tr td:nth-child(3) {
        width: auto;
    }
}










html[data-theme="dark"] .timeline-calendar, html[data-theme="dark"] .circle-element-for-stages {
    background-color: #202124;
}
html[data-theme="dark"] .timeline-calendar__head > span:nth-child(1), html[data-theme="dark"] .timeline-calendar {
    color: #dfdfdf;
}
html[data-theme="dark"] .timeline-calendar__stages {
    background-color: #15314d;
}
html[data-theme="dark"] .circle-element-for-stages {
    border-color: #15314d;
}
html[data-theme="dark"] .olympic-games-icon, html[data-theme="dark"] .local-championship-icon, html[data-theme="dark"] .circle-icon-21 {
    fill: #2b63b1;
}
html[data-theme="dark"] .timeline-calendar__table tbody tr:nth-child(2n+1) {
    background-color: #1f2d40;
}
html[data-theme="dark"] .targets-block.done .target-block__circle::before, html[data-theme="dark"] .targets-block, html[data-theme="dark"] .targets-block.current .target-block__circle:nth-child(2n)::before {
    background-color: #e8e8e8;
}

@media (hover: hover) {
    html[data-theme="dark"] .timeline-calendar__table tr:hover td {
      background-color: #282720;
    }
    html[data-theme="dark"] .targets-block.done:hover .target-block__circle::before {
        background-color: #5a5a5a;
    }
}




html[data-theme="summer"] .timeline-calendar, html[data-theme="summer"] .circle-element-for-stages {
    background-color: #fffdf8;
}
html[data-theme="summer"] .timeline-calendar__stages {
    background-color: #ffefc9;
}
html[data-theme="summer"] .circle-element-for-stages {
    border-color: #ffefc9;
}
html[data-theme="summer"] .olympic-games-icon, html[data-theme="summer"] .local-championship-icon, html[data-theme="summer"] .circle-icon-21 {
    fill: #65c063;
}
html[data-theme="summer"] .timeline-calendar__table tbody tr:nth-child(2n+1) {
    background-color: #fff2d5;
}
html[data-theme="summer"] .targets-block.done .target-block__circle::before, html[data-theme="summer"] .targets-block, html[data-theme="summer"] .targets-block.current .target-block__circle:nth-child(2n)::before {
    background-color: #fffdf8;
}
html[data-theme="summer"] .timeline-calendar a {
    color: #348232;
}
html[data-theme="summer"] .timeline-calendar a:hover:not(.targets-block) {
    color: #63b961 !important;
    border-color: #63b961;
}


@media (hover: hover) {
    html[data-theme="summer"] .timeline-calendar__table tr:hover td {
      background-color: #e2f4e2;
    }
    html[data-theme="summer"] .targets-block.done:hover .target-block__circle::before {
        background-color: #5a5a5a;
    }
}





html[data-theme="grey"] .timeline-calendar__stages {
    background-color: #e9e9e9;
}
html[data-theme="grey"] .circle-element-for-stages {
    border-color: #e9e9e9;
}
html[data-theme="grey"] .olympic-games-icon, html[data-theme="grey"] .local-championship-icon, html[data-theme="grey"] .circle-icon-21 {
    fill: #869db2;
}
html[data-theme="grey"] .timeline-calendar__table tbody tr:nth-child(2n+1) {
    background-color: #eeeeee;
}
html[data-theme="grey"] .timeline-calendar a {
    color: #2f5278;
}
html[data-theme="grey"] .timeline-calendar a:hover:not(.targets-block) {
    color: #73abd2 !important;
    border-color: #73abd2;
}







html[data-theme="Black"] .timeline-calendar, html[data-theme="Black"] .circle-element-for-stages {
    background-color: #121212;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
    border: 1px solid #292a2c;
}
html[data-theme="Black"] .timeline-calendar__head > span:nth-child(1), html[data-theme="Black"] .timeline-calendar {
    color: #c9ccd0;
}
html[data-theme="Black"] .timeline-calendar__stages {
    background-color: #102442;
}
html[data-theme="Black"] .circle-element-for-stages {
    border-color: #102442;
}
html[data-theme="Black"] .olympic-games-icon, html[data-theme="Black"] .local-championship-icon, html[data-theme="Black"] .circle-icon-21 {
    fill: #255490;
}
html[data-theme="Black"] .timeline-calendar__table tbody tr:nth-child(2n+1) {
    background-color: #0e1721;
}
html[data-theme="Black"] .targets-block.done .target-block__circle::before, html[data-theme="Black"] .targets-block, html[data-theme="Black"] .targets-block.current .target-block__circle:nth-child(2n)::before {
    background-color: #d7d7d7;
}

@media (hover: hover) {
    html[data-theme="Black"] .timeline-calendar__table tr:hover td {
      background-color: #232219;
    }
    html[data-theme="Black"] .targets-block.done:hover .target-block__circle::before {
        background-color: #5a5a5a;
    }
}