#tippy-16 {
    width: auto;
}
#tippy-16 .tippy-content {
    overflow: hidden;
}
#tippy-16 ul li a {
    color: black !important;
    font-size: 13.5px !important;
    text-transform: none !important;
    padding: 0px 10px 0px 10px !important;
    transition: 0s !important;
    text-shadow: none !important;
    width: 100%;
    display: flex;
}
#tippy-16 ul li:last-of-type a {
    border-bottom: none !important;
}
  
#tippy-16 ul li::before, #tippy-16 ul li::after {
    display: none !important;
}
  
#tippy-16 ul li a:hover {
    background-color: #ecf5fb;
}
#tippy-16 ul li {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type a, #tippy-16 ul li:last-of-type a::before {
    color: red !important;
   }
#tippy-16 ul li:first-of-type a::before {
    content: "\e016";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:nth-child(2) a::before {
    content: "\e015";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:last-of-type a::before {
    content: "\e9b";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}

.timeline-my-profile {
    padding: 2em 1.5em 1.75em 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
    overflow-x: hidden;
}
.timeline-my-profile__head {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 1.5em; */
    margin-bottom: 2em;
    position: relative;
    gap: 20px 25px;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
}
.timeline-my-profile__head > span:first-child {
    font-size: 1.3em;
    color: black;
    font-weight: 700;
}
.timeline-my-profile__head span span {
    color: #1f7ec4;
}
.timeline-my-profile__title {
    background-color: #e7f3fa;
    padding: 3.4px 0 3.4px 3.5px;
    display: flex;
    margin-top: 1.5em;
    font-weight: 600;
}


.logged-block {
    color: #08a400;
    margin-top: 5px;
}

.timeline-my-profile__body {
}
.timeline-my-profile__body-avatar-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px 30px;
    flex-wrap: wrap;
    align-items: center;
}
.timeline-my-profile__body-avatar-image {
}
.discussion-male {
    width: 100px;
    height: 100px;
}
.timeline-my-profile__body-avatar-upload {
    display: flex;
    height: fit-content;
    padding: 10px 17px;
    justify-items: center;
    border-radius: 15px;
    background-color: #e7f3fa;
    cursor: pointer;
    margin-bottom: 10px;
}
.timeline-my-profile__body-avatar-upload-wrapper {
    overflow-x: auto;
}
.timeline-my-profile__body-avatar-table {
    border-collapse: collapse;
    overflow: hidden;
    /* min-width: 350px; */
}
.timeline-my-profile__predictor-tournament {
    border-collapse: collapse;
    overflow: hidden;
}
.timeline-my-profile__predictor-tournament-wrapper {
    border-collapse: collapse;
    overflow: hidden;
    width: fit-content;
}
.timeline-my-profile__body-avatar-table tr:nth-child(2n+1), .timeline-my-profile__predictor-tournament tbody tr:nth-child(2n+1) {
  background-color: #e7f3fa;
}
.timeline-my-profile__body-avatar-table tbody tr td, .timeline-my-profile__predictor-tournament tr td {
    padding: 2.4px 7px 2.4px 7px;
}
.timeline-my-profile__body-avatar-table tbody tr td:first-child {
    color: #0e68ab;
    text-align: right;
}
.timeline-my-profile__predictor-tournament thead tr td {
    color: #5d5d5d;
}
.timeline-my-profile__body-form-group {
    display: flex;
    flex-direction: row;
}
.data-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 10px;
}
.timeline-my-profile__body-form-group-1, .timeline-my-profile__body-form-group-2 {
    width: 50%;
}
.timeline-my-profile__body-form-group span:not(.radio-buttons-body span) {
    display: flex;
    width: 100%;
    margin: 2em 0 5px 0;
}
.registr-option span {
    display: flex;
    align-items: center;
}
.timeline-my-profile__body-form-group-wrapper button {
    display: flex;
    padding: 8.5px 15px;
    background-color: #e7f3fa;
    border-radius: 33px;
    margin-top: 15px;
    transition: all .3s ease;
    -webkit-tap-highlight-color: transparent;
    color: #002b71;
    font-size: 1em;
}
.timeline-my-profile__predictor-tournament {
    text-align: center;
}


.timeline-my-profile__body-my-favourite-title {
    margin: 2em 0 .9em 0;
    color: #1f7ec4;
    font-size: 1.2em;
}

.timeline-my-profile__body-my-favourite-list {
    margin-top: 15px;
    display: flex;
    gap: 7px;
    flex-direction: column;
}
.timeline-my-profile__body-my-favourite-list li {
    display: flex;
    align-items: center;
}
.timeline-my-profile__body-my-favourite-list li a {
    margin: 0 10px 0 4px;
}

.timeline-my-profile__body-checking {
    margin-top: 2em;
}
.radio-group {
    display: flex;
    gap: 10px 30px;
    align-items: center;
    flex-wrap: wrap;
}
.radio-group p {
    display: flex;
    height: 27.2px;
}
.timeline-my-profile__body-checking-radiobuttons [type="radio"]:checked,
.timeline-my-profile__body-checking-radiobuttons [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.timeline-my-profile__body-checking-radiobuttons [type="radio"]:checked + label,
.timeline-my-profile__body-checking-radiobuttons [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 27.2px;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
}
.timeline-my-profile__body-checking-radiobuttons [type="radio"]:checked + label:before,
.timeline-my-profile__body-checking-radiobuttons [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 27.2px;
    height: 27.2px;
    border-radius: 100%;
    background: #e7f3fa;
    border: 2px solid transparent;
    transition: all .3s ease;
}
.timeline-my-profile__body-checking-radiobuttons [type="radio"]:checked + label:after,
.timeline-my-profile__body-checking-radiobuttons [type="radio"]:not(:checked) + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 11px;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 14px;
    border: solid #679bcd;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.timeline-my-profile__body-checking-radiobuttons input:checked + .radio-label::before {
    border-color: #c0e5fb;
}
.timeline-my-profile__body-checking-radiobuttons [type="radio"]:not(:checked) + label:after {
    opacity: 0;
}
.timeline-my-profile__body-checking-radiobuttons p label:last-child {
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.timeline__item-comments-write-textarea-content {
    margin-top: .5em;
    margin-left: 0;
}
.timeline__item-comments-write-textarea-content .popup {
    transform: translate(-50%, -50%);
}

@media (hover: hover) {
    .timeline-my-profile__predictor-tournament tbody tr:hover {
        background-color: #fffce5;
    }
    .timeline-my-profile__body-form-group-wrapper button:hover {
        background-color: #d1ebfb;
    }
    .timeline-my-profile__body-checking-radiobuttons .radio-group .radio-label:hover::before {
        border-color: #c0e5fb;
    }
}
@media screen and (max-width: 600px) {
    .timeline-my-profile {
        padding: 2em 1.06em 1.75em 1.06em;
    }
    .timeline-my-profile__body-form-group {
        flex-wrap: wrap;
    }
    .timeline-my-profile__body-form-group-1, .timeline-my-profile__body-form-group-2 {
        width: 100%;
    }
    .timeline-my-profile__body-avatar-wrapper {
        gap: 20px;
        justify-content: center;
    }
    .timeline-my-profile__body-form-group-wrapper button {
        margin: 25px auto 0 auto;
    }
    .timeline-my-profile__body-my-favourite-list {
        width: fit-content;
        margin: 15px auto 0 auto;
    }
    .timeline-my-profile__body-my-favourite-title {
        text-align: center;
    }
    .timeline-my-profile__predictor-tournament-wrapper {
        margin: 0 auto;
    }
}
@media screen and (max-width: 500px) {
    .timeline-my-profile__body-avatar-table tbody tr td:first-child {
        text-align: left;
    }
    .timeline-my-profile__body-avatar-table tbody tr td {
        display: flex;
        flex-direction: column;
    }
    .timeline-my-profile__body-avatar-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 430px) {
    .button-icon::before {
        content: "";
    }
    #toolbar-message-button .button-text {
        display: initial;
    }
    #toolbar-message-button {
        width: initial;
        scale: initial;
        margin-left: initial;
    }
}
@media (max-width: 379px) {
    .toolbar-list::before {
        position: absolute;
        content: "";
        top: 0;
        right: 57px;
        bottom: 0px;
        z-index: 1;
        width: 0px;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(252,252,252,1) 100%);
    }
}
@media (max-width: 340px) {
    .button-icon::before {
        content: "\e091";
        font-family: 'icomoon';
        color: #81aad5;
        font-size: 1.20em;
    }
    #toolbar-message-button .button-text {
        display: none;
    }
    #toolbar-message-button {
        width: 33px;
        scale: 1;
        margin-left: 20px;
    }
    .toolbar-list::before {
        display: initial;
        position: absolute;
        content: "";
        top: 0;
        right: 57px;
        bottom: 0px;
        z-index: 1;
        width: 20px;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(252,252,252,1) 100%);
    }
}