#tippy-16 {
    width: auto;
}
#tippy-16 .tippy-content {
    overflow: hidden;
}
#tippy-16 ul li a {
    color: black !important;
    font-size: 13.5px !important;
    text-transform: none !important;
    padding: 0px 10px 0px 10px !important;
    transition: 0s !important;
    text-shadow: none !important;
    width: 100%;
    display: flex;
}
#tippy-16 ul li:last-of-type a {
    border-bottom: none !important;
}
  
#tippy-16 ul li::before, #tippy-16 ul li::after {
    display: none !important;
}
  
#tippy-16 ul li a:hover {
    background-color: #ecf5fb;
}
#tippy-16 ul li {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type a, #tippy-16 ul li:last-of-type a::before {
    color: red !important;
   }
#tippy-16 ul li:first-of-type a::before {
    content: "\e016";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:nth-child(2) a::before {
    content: "\e015";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:last-of-type a::before {
    content: "\e9b";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}

.timeline-tournament {
    padding: 2em 1.5em 2em 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
    overflow-x: hidden;
}
.timeline-tournament__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    position: relative;
    gap: 15px 25px;
    /* align-items: center; */
}
.timeline__date {
    align-items: flex-start;
    margin-top: 5px;
}
.timeline-tournament__head > span:nth-child(1) {
    font-size: 1.3em;
    color: black;
    font-weight: 700;
}
.timeline-tournament__menu {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.tournament-menu__body {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px 7px;
    justify-content: center;
}
.timeline-tournament__menu a {
    display: inline-block;
    width: fit-content;
    padding: 7px 13px;
    background-color: #e7f3fa;
    white-space: nowrap;
    border-radius: 33px;
    transition: all .3s ease;
    -webkit-tap-highlight-color: transparent;
}
.timeline-tournament__menu a.active {
    background-color: #c0e5fb;
}





.timeline-cup__footer-legend-title {
    display: flex;
    background-color: #d1ebfb;
    position: relative;
    padding: 1.3px 10px 1.3px 51px;
    justify-content: space-between;
    margin: 2em 0 1em 0;
    gap: 25px;
}
.circle-element-for-cup {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #d1ebfb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seasons-icon {
    width: 22px;
    height: 22px;
    fill: #81aad5;
    scale: 1;
}
.timeline-cup__footer-legend-title > span {
    font-size: 1.2em;
    font-weight: 700;
    padding-right: 110px;
}
.timeline-cup__footer-legend-title form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
.timeline-cup__footer-legend-title form span {
    display: none;
}
.timeline-cup__footer-legend-title select {
    border-radius: 3px;
    transition: all .3s ease;
    cursor: pointer;
    padding: 4px 0 4px 5px;
    display: inline-block;
    outline: 1px solid #d0d9dd;
}

.timeline-tournament__slogan {
    display: flex;
    flex-direction: row;
    gap: 30px 0;
    margin-bottom: 2em;
}
.timeline-tournament__slogan-logo {
    display: flex;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.timeline-tournament__slogan-logo-change {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    opacity: 0;
    border-radius: 50%;
}
.timeline-tournament__slogan-logo:hover .timeline-tournament__slogan-logo-change {
    opacity: 1;
}


.fileUpload {
    display: flex;
    background-color: rgb(0, 0, 0, 0.45);
	color: white;
	position: relative;
	text-align: center;
	width: 100%;
    cursor: pointer;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}


.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}
input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}




.timeline-tournament__slogan-logo img {
    width: 100%;
    flex-shrink: 0;
}
.timeline-tournament__slogan-text {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 3px solid #d0e8f4;
    position: relative;
    margin-left: 30px;
    min-height: 100px;
}
.timeline-tournament__slogan-text span {
    padding: 10px 20px 10px 30px;
}
.timeline-tournament__slogan-text-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    fill: #d0e8f4;
    top: 50%;
    left: -22px;
    transform: translateY(-50%);
    background-color: white;
    padding: 5px 0;
}
.timeline-tournament__team-container {
    display: flex;
    flex-direction: row;
    gap: 2em 30px;
    margin-top: 2em;
}
.timeline-tournament__team-container-title {
    display: block;
    color: #1f7ec4;
    font-size: 1.2em;
    margin-bottom: 0.9em;
}
.timeline-tournament__table, .timeline-tournament__table-2 {
    border-collapse: collapse;
    width: 100%;
}
.timeline-tournament__table tr td, .timeline-tournament__table-2 tr td {
    padding: 4.8px 7px;
}
.timeline-tournament__table tr td:not(:first-child), .timeline-tournament__table-2 tr td {
    text-align: center;
}
.timeline-tournament__table-2 .td-row {
    justify-content: center;
}
.timeline-tournament__table tr:first-child td, .timeline-tournament__table-2 tr:first-child td {
    color: #5d5d5d;
}
.timeline-tournament__table tr:nth-child(2n), .timeline-tournament__table-2 tr:nth-child(2n) {
    background-color: #e7f3fa;
}
.timeline-tournament__team-container-content {
    flex-basis: 50%;
}
.td-avatar img {
    width: 100%;
}
.td-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}
.td-avatar {
    display: flex;
    width: 42.5px;
    height: 42.5px;
    min-width: 42.5px;
    min-height: 42.5px;
    position: relative;
    scale: 1;
}
.avatar-male, .avatar-female, .avatar-unknown {
    width: 42.5px;
    height: 42.5px;
    fill: #679bcd;
}
.logged {
    position: absolute;
    height: 12px;
    width: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #1bd212;
    right: 1px;
    top: 29px;
    scale: 1;
    z-index: 1;
}
.timeline-tournament__table .my-string td {
    background-color: #bfffbf;
}
.timeline-tournament__table tr:nth-child(2n) .logged {
    border-color: #e7f3fa;
}
.timeline-tournament__table .my-string td .logged {
    border-color: #bfffbf;
}

@media (hover: hover) {
    .timeline-cup__footer-legend-title select:hover {
        outline-color: #bfc6ca;
    }
    .timeline-tournament__table tr:hover:not(:first-child, .my-string) td, .timeline-tournament__table-2 tr:hover:not(:first-child) td {
        background-color: #fffce5;
    }
    .timeline-tournament__menu a:hover:not(.active) {
        background-color: #d1ebfb;
    }
    .timeline-tournament__table tr:hover:not(.my-string) td .logged {
        border-color: #fffce5;
    }
}

@media screen and (max-width: 650px) {
    .timeline-cup__footer-legend-title form {
        position: absolute;
        top: calc(100% + 19px);
        right: 0;
    }
    .timeline-cup__footer-legend-title form span {
        display: inline-block;
    }
    .timeline-cup__footer-legend-title > span {
        padding-right: 0;
    }
    .timeline-cup__footer-legend-title {
        margin-bottom: 3.5em;
    }
    .timeline-tournament__team-container {
        flex-wrap: wrap;
    }
    .timeline-tournament__team-container-content {
        flex-basis: 100%;
    }
    .timeline-tournament__slogan-logo {
        margin: 0 auto;
    }
}
@media screen and (max-width: 550px) {
    .timeline-tournament {
        padding: 2em 1.06em 2em 1.06em;
    }
}
@media screen and (max-width: 360px) {
    .timeline-tournament__slogan {
        flex-wrap: wrap;
    }
    .timeline-tournament__slogan-text {
        margin-left: 15px;
      }
}