#tippy-16 {
    width: auto;
}
   #tippy-16 .tippy-content {
    overflow: hidden;
}
#tippy-16 ul li a {
    color: black !important;
    font-size: 13.5px !important;
    text-transform: none !important;
    padding: 0px 10px 0px 10px !important;
    transition: 0s !important;
    text-shadow: none !important;
    width: 100%;
    display: flex;
}
#tippy-16 ul li:last-of-type a {
    border-bottom: none !important;
}
  
#tippy-16 ul li::before, #tippy-16 ul li::after {
    display: none !important;
}
  
#tippy-16 ul li a:hover {
    background-color: #ecf5fb;
}
#tippy-16 ul li {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type a, #tippy-16 ul li:last-of-type a::before {
    color: red !important;
   }
#tippy-16 ul li:first-of-type a::before {
    content: "\e016";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:nth-child(2) a::before {
    content: "\e015";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:last-of-type a::before {
    content: "\e9b";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}

.timeline-cup-result {
    padding: 2em 1.5em 2em 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
    overflow-x: hidden;
}
.timeline-cup-result__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    position: relative;
    gap: 20px;
    align-items: center;
}
.timeline-cup-result__head > span:nth-child(1) {
    font-size: 1.3em;
    color: black;
    font-weight: 700;
}
.timeline-cup-result__head-settings {
    display: flex;
    gap: 30px;
    align-items: center;
}
.age-button {
    display: flex;
}
.age-button-svg {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.age-button-svg path {
    fill: #84acd4;
    transition: all .3s ease;
}
.timeline-cup.profiles-color .age-button-svg path:nth-child(3) {
    fill: #ff0000;
}
.timeline-cup.profiles-color .age-button-svg path:nth-child(4) {
    fill: #fcd401;
}
.timeline-cup.profiles-color .age-button-svg path:nth-child(1) {
    fill: #1bd212;
}

.age-color-1, .age-color-2, .age-color-3, .age-color-4, .age-color-5, .age-color-6 {
    transition: background-color .3s ease;
}
.timeline-cup.profiles-color .age-color-1 {
    background-color: #cfffcf;
}
.timeline-cup.profiles-color .age-color-2 {
    background-color: #95ff95;
}
.timeline-cup.profiles-color .age-color-3 {
    background-color: #ffc;
}
.timeline-cup.profiles-color .age-color-4 {
    background-color: #ff7;
}
.timeline-cup.profiles-color .age-color-5 {
    background-color: #ffd4d4;
}
.timeline-cup.profiles-color .age-color-6 {
    background-color: #ff9f9f;
}

.timeline-cup-result-table {
    width: 100%;
}
.yellow-jersey {
    background: radial-gradient(circle, rgba(255, 231, 100, 0.7) 0%, rgb(255, 231, 100) 100%) !important;
    cursor: help;
    border-radius: 3px;
}
.red-jersey {
    background: radial-gradient(circle, rgba(255, 163, 163, 0.7) 0%, rgb(255, 163, 163) 100%) !important;
    cursor: help;
    border-radius: 3px;
}
.blue-jersey {
    background: radial-gradient(circle, rgba(136, 204, 255, 0.7) 0%, rgb(136, 204, 255) 100%) !important;
    cursor: help;
    border-radius: 3px;
}
.timeline-cup-result-wrapper {
    overflow-x: auto;
}
.timeline-cup-result-table tbody tr td:nth-child(1) {
    width: 32.4px;
}
.timeline-cup-result-table tbody tr td {
    white-space: nowrap;
}
.timeline-cup-result-table tbody tr td:nth-child(3) {
    padding: 2.4px 7px 2.4px 2.4px;
}
.timeline-cup-result-table tbody tr td:nth-child(4), .timeline-cup-result-table tbody tr td:nth-child(5), .timeline-cup-result-table tbody tr td:nth-child(6), .timeline-cup-result-table tbody tr td:nth-child(7), .timeline-cup-result-table tbody tr td:nth-child(8) {
    padding: 2.4px 7px 2.4px 7px;
}
.timeline-cup-result-table tbody tr td:first-child {
    padding: 2.4px 0 !important;
}
.timeline-cup-result-table tbody tr td:nth-child(2) {
    padding: 2.4px 2.4px 2.4px 4.8px !important;
}
.timeline-cup-result-table tbody tr td:not(:nth-child(3)) {
    text-align: center;
}
.timeline-cup-result-table tbody tr td:last-child {
    width: 68px;
}
.timeline-cup-result-table tbody tr:not(:first-child) td:nth-child(1) {
    font-weight: 600;
    font-size: 0.95em;
    text-align: center;
}
.timeline-cup-result-table tbody tr:nth-child(2n) {
    background-color: #e7f3fa;
}
.timeline-cup-result-table {
    border-collapse: collapse;
    margin-top: 2em;
}
.timeline-cup-result-table tbody tr:nth-child(1) {
    color: #5d5d5d;
}
.timeline-cup-result-table tbody tr td:nth-child(2) {
    width: 22.8px;
}
.timeline-cup-result-table tbody tr td a.short-name {
    display: none;
}
.timeline-cup-result-table tbody tr td:nth-child(4), .timeline-cup-result-table tbody tr td:nth-child(5), .timeline-cup-result-table tbody tr td:nth-child(7) {
    max-width: fit-content;
}
.timeline-cup-result-table img {
    cursor: pointer;
}
.chosen-string.active {
    background-color: #ffcfe8 !important;
    box-shadow: 0 0 0 1px white;
}
.bib-icon::before {
    content: "\e927";
    font-family: 'icomoon';
    font-size: 0.80em;
    font-weight: normal;
    color: #8d8d8d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bib-icon, .shooting-icon, .timeline-cup-result-table tr td:nth-child(8), .timeline-cup-result-table tr td:nth-child(7) {
    position: relative;
}
.timeline-cup-result-table tr:first-child td:nth-child(8)::before {
    content: "\e925";
    font-family: 'icomoon';
    font-size: 0.80em;
    font-weight: normal;
    color: #8d8d8d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shooting-icon::before {
    content: "\e077";
    font-family: 'icomoon';
    font-size: 0.80em;
    font-weight: normal;
    color: #8d8d8d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.shooting-icon::before, .bib-icon::before, .timeline-cup-result-select-body-text.short {
    display: none;
}

.timeline-cup-result__select-body {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    flex-wrap: wrap;
    gap: 1.5em 16px;
    align-items: center;
}
.timeline-cup__flag {
    display: flex;
    align-items: center;
}
.timeline-cup__flag div {
    display: flex;
    gap: 0 5px;
    flex-wrap: wrap;
    width: min-content;
    white-space: nowrap;
}
.timeline-cup__flag select {
    outline: 1px solid #d0d9dd;
    border-radius: 3px;
    transition: all .3s ease;
    cursor: pointer;
}
.timeline-cup__select-flag {
    margin-left: 10px;
    padding: 5px 0 5px 5px;
    width: 98px;
}
.timeline-cup__flag span:nth-child(2) {
    font-size: 0.9em;
}
.timeline-cup-result__analysis-button a {
    padding: 6px 20px;
    background-color: #e7f3fa;
    position: relative;
    border-radius: 33px;
    z-index: 2;
    display: flex;
    transition: all .3s ease;
    -webkit-tap-highlight-color: transparent;
}
.timeline-cup-result-discription {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
}
.timeline-cup-result-discription-links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.toggle-style-table {
    display: flex;
    border-radius: 33px 0 0 33px;
    height: 28px;
    position: relative;
    width: 60px;
    cursor: pointer;
    justify-content: space-between;
    height: 22px;
    box-shadow: 0 1px 2px rgba(209, 235, 251,.5) inset, 0 -1px 0 rgba(209, 235, 251,.2) inset;
    background-color: #e7f3fa;
    border-radius: 33px;
    -webkit-tap-highlight-color: transparent;
}
.toggle-style-table__text {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    color: #5d5d5d;
    user-select: none;
}
.toggle-style-table__icon {
    position: absolute;
    top: 50%;
    height: 28px;
    width: 28px;
    left: -1px;
    border: 2px solid #c0e5fb;
    background-color: white;
    transition: all .4s ease;
    transform: translateY(-50%);
    -webkit-tap-highlight-color: transparent;
}
.timeline-cup-result.modern .toggle-style-table__icon {
    border-radius: 50%;
}
.timeline-cup-result.old .toggle-style-table__icon {
    transform: translate(33px, -50%) rotate(360deg);
    border-radius: 0;
}
.toggle-style-table__text {
    display: flex;
    justify-content: center;
    font-size: 0.7em;
}

.cell-container, .photo-profile {
    display: none;
}
.timeline-cup-result.modern tbody tr td:nth-child(2) img {
    display: none;
}
.timeline-cup-result.modern .cell-container {
    display: flex;
    flex-direction: column;
}
.timeline-cup-result.modern .photo-profile {
    display: block;
    background-color: white;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 0 1px 2px rgba(0,0,0,.3) inset, 0 -1px 0 rgba(0,0,0,.2) inset;
    transition: all 0.3s ease;
    overflow: hidden;
    scale: 1.01;
    -webkit-tap-highlight-color: transparent;
}
.timeline-cup-result.modern .photo-profile:hover {
    box-shadow: 0 1px 2px rgb(129, 170, 213, .4) inset, 0 -1px 0 rgb(129, 170, 213, .3) inset;
}
.timeline-cup-result.modern .photo-profile.wierer {
    background-image: url(img/profiles/1.png);
}
.timeline-cup-result.modern .photo-profile.vittozzi {
    background-image: url(img/profiles/2.png);
}
.timeline-cup-result.modern .photo-profile.herrmann {
    background-image: url(img/profiles/3.png);
}
.timeline-cup-result.modern .photo-profile.simon {
    background-image: url(img/profiles/4.png);
}
.timeline-cup-result.modern .photo-profile.lander {
    background-image: url(img/profiles/5.png);
}
.timeline-cup-result.modern .photo-profile.fogt {
    background-image: url(img/profiles/6.png);
}
.timeline-cup-result.modern .photo-profile.tandrevold {
    background-image: url(img/profiles/7.png);
}
.timeline-cup-result.modern .photo-profile.h-shevalye {
    background-image: url(img/profiles/8.png);
}
.timeline-cup-result.modern .photo-profile.knotten {
    background-image: url(img/profiles/9.png);
}
.timeline-cup-result.modern .photo-profile.p-klemenchich {
    background-image: url(img/profiles/10.png);
}
.timeline-cup-result.modern .photo-profile.kebinger {
    background-image: url(img/profiles/11.png);
}
.timeline-cup-result.modern .photo-profile.s-bushe {
    background-image: url(img/profiles/12.png);
}
.timeline-cup-result.modern .photo-profile.davidova {
    background-image: url(img/profiles/13.png);
}
.timeline-cup-result.modern .photo-profile.arnekleyv {
    background-image: url();
}
.timeline-cup-result.modern .photo-profile.tomingas {
    background-image: url(img/profiles/15.png);
}
.timeline-cup-result.modern .photo-profile.zhanmonno {
    background-image: url(img/profiles/16.png);
}
.timeline-cup-result.modern .photo-profile.auhentaller {
    background-image: url(img/profiles/17.png);
}
.timeline-cup-result.modern .photo-profile.zduch {
    background-image: url(img/profiles/18.png);
}
.timeline-cup-result.modern .photo-profile.baserga {
    background-image: url(img/profiles/19.png);
}
.timeline-cup-result.modern .photo-profile.e-oeberg {
    background-image: url(img/profiles/20.png);
}
.timeline-cup-result.modern .photo-profile.shtayner {
    background-image: url(img/profiles/21.png);
}
.timeline-cup-result.modern .photo-profile.hekki {
    background-image: url(img/profiles/22.png);
}
.timeline-cup-result.modern .photo-profile.h-oeberg {
    background-image: url(img/profiles/23.png);
}
.timeline-cup-result.modern .photo-profile.hettih {
    background-image: url(img/profiles/24.png);
}
.timeline-cup-result.modern .photo-profile.magnusson {
    background-image: url(img/profiles/25.png);
}
.timeline-cup-result.modern .photo-profile.harvatova {
    background-image: url(img/profiles/26.png);
}
.timeline-cup-result.modern .photo-profile.kolombo {
    background-image: url(img/profiles/27.png);
}
.timeline-cup-result.modern .photo-profile.mozer {
    background-image: url(img/profiles/28.png);
}
.timeline-cup-result.modern .photo-profile.passler {
    background-image: url(img/profiles/29.png);
}
.timeline-cup-result.modern .photo-profile.tachizaki {
    background-image: url(img/profiles/30.png);
}
.timeline-cup-result.modern .photo-profile.i-fialkova {
    background-image: url(img/profiles/31.png);
}
.timeline-cup-result.modern .photo-profile.bilosyuk {
    background-image: url(img/profiles/32.png);
}
.timeline-cup-result.modern .photo-profile.halvarsson {
    background-image: url();
}
.timeline-cup-result.modern .photo-profile.a-gasparin {
    background-image: url(img/profiles/34.png);
}
.timeline-cup-result.modern .photo-profile.avvakumova {
    background-image: url(img/profiles/35.png);
}
.timeline-cup-result.modern .photo-profile.yuppe {
    background-image: url(img/profiles/36.png);
}
.timeline-cup-result.modern .photo-profile.dzhima {
    background-image: url(img/profiles/37.png);
}
.timeline-cup-result.modern .photo-profile.merkushina {
    background-image: url(img/profiles/38.png);
}
.timeline-cup-result.modern .photo-profile.komola {
    background-image: url(img/profiles/39.png);
}
.timeline-cup-result.modern .photo-profile.brursson {
    background-image: url(img/profiles/40.png);
}
.timeline-cup-result.modern .photo-profile.vobornikova {
    background-image: url(img/profiles/41.png);
}
.timeline-cup-result.modern .photo-profile.rid {
    background-image: url(img/profiles/42.png);
}
.timeline-cup-result.modern .photo-profile.vaydely {
    background-image: url(img/profiles/43.png);
}
.timeline-cup-result.modern .photo-profile.li {
    background-image: url(img/profiles/44.png);
}
.timeline-cup-result.modern .photo-profile.persson {
    background-image: url(img/profiles/45.png);
}
.timeline-cup-result.modern .photo-profile.hauzer {
    background-image: url(img/profiles/46.png);
}
.timeline-cup-result.modern .photo-profile.tomashevska {
    background-image: url(img/profiles/47.png);
}
.timeline-cup-result.modern .photo-profile.irvin {
    background-image: url(img/profiles/48.png);
}
.timeline-cup-result.modern .photo-profile.p-fialkova {
    background-image: url(img/profiles/49.png);
}
.timeline-cup-result.modern .photo-profile.ermits {
    background-image: url(img/profiles/50.png);
}
.timeline-cup-result.modern .photo-profile.yislova {
    background-image: url(img/profiles/51.png);
}
.timeline-cup-result.modern .photo-profile.lien {
    background-image: url(img/profiles/52.png);
}
.timeline-cup-result.modern .photo-profile.minkkinen {
    background-image: url(img/profiles/53.png);
}
.timeline-cup-result.modern .photo-profile.blashko {
    background-image: url(img/profiles/54.png);
}
.timeline-cup-result.modern .photo-profile.royseland {
    background-image: url(img/profiles/55.png);
}
.timeline-cup-result.modern .photo-profile.yankya {
    background-image: url(img/profiles/56.png);
}
.timeline-cup-result.modern .photo-profile.kyuelym {
    background-image: url(img/profiles/57.png);
}
.timeline-cup-result.modern .photo-profile.el-gasparin {
    background-image: url(img/profiles/58.png);
}
.timeline-cup-result.modern .photo-profile.gandler {
    background-image: url(img/profiles/59.png);
}
.timeline-cup-result.modern .photo-profile.maka {
    background-image: url(img/profiles/60.png);
}
.timeline-cup-result.modern .photo-profile.lampich {
    background-image: url(img/profiles/61.png);
}
.timeline-cup-result.modern .photo-profile.kadeva {
    background-image: url(img/profiles/62.png);
}
.timeline-cup-result.modern .photo-profile.tolmacheva {
    background-image: url();
}
.timeline-cup-result.modern .photo-profile.shovo {
    background-image: url(img/profiles/64.png);
}
.timeline-cup-result.modern .photo-profile.femshteynevik {
    background-image: url(img/profiles/65.png);
}
.timeline-cup-result.modern .photo-profile.kondratyeva {
    background-image: url(img/profiles/66.png);
}
.timeline-cup-result.modern .photo-profile.levins {
    background-image: url(img/profiles/67.png);
}
.timeline-cup-result.modern .photo-profile.kochergina {
    background-image: url(img/profiles/68.png);
}
.timeline-cup-result.modern .photo-profile.yakela {
    background-image: url(img/profiles/69.png);
}
.timeline-cup-result.modern .photo-profile.talihyarm {
    background-image: url(img/profiles/70.png);
}
.timeline-cup-result.modern .photo-profile.payffer {
    background-image: url(img/profiles/71.png);
}
.timeline-cup-result.modern .photo-profile.kipyachenkova {
    background-image: url(img/profiles/72.png);
}
.timeline-cup-result.modern .photo-profile.lestsinskayte {
    background-image: url(img/profiles/73.png);
}
.timeline-cup-result.modern .photo-profile.sato {
    background-image: url(img/profiles/74.png);
}
.timeline-cup-result.modern .photo-profile.bendika {
    background-image: url(img/profiles/75.png);
}
.timeline-cup-result.modern .photo-profile.chon {
    background-image: url(img/profiles/76.png);
}
.timeline-cup-result.modern .photo-profile.dikinson {
    background-image: url(img/profiles/77.png);
}
.timeline-cup-result.modern .photo-profile.mayer {
    background-image: url(img/profiles/78.png);
}
.timeline-cup-result.modern .photo-profile.kinnunen {
    background-image: url(img/profiles/79.png);
}
.timeline-cup-result.modern .photo-profile.chirkova {
    background-image: url(img/profiles/80.png);
}
.timeline-cup-result.modern .photo-profile.meny {
    background-image: url(img/profiles/81.png);
}
.timeline-cup-result.modern .photo-profile.dikson {
    background-image: url(img/profiles/82.png);
}
.timeline-cup-result.modern .photo-profile.stremous {
    background-image: url(img/profiles/83.png);
}
.timeline-cup-result.modern .photo-profile.ahatova {
    background-image: url(img/profiles/84.png);
}
.timeline-cup-result.modern .photo-profile.z-remenova {
    background-image: url(img/profiles/85.png);
}
.timeline-cup-result.modern .photo-profile.hirnikely {
    background-image: url(img/profiles/86.png);
}
.timeline-cup-result.modern .photo-profile.remenova {
    background-image: url(img/profiles/87.png);
}
.timeline-cup-result.modern .photo-profile.fukuda {
    background-image: url(img/profiles/88.png);
}
.timeline-cup-result.modern .photo-profile.sabule {
    background-image: url(img/profiles/89.png);
}
.timeline-cup-result.modern .photo-profile.gilenko {
    background-image: url(img/profiles/90.png);
}
.timeline-cup-result.modern .photo-profile.vinklarkova {
    background-image: url(img/profiles/91.png);
}
.timeline-cup-result.modern .photo-profile.zdravkova {
    background-image: url(img/profiles/92.png);
}
.timeline-cup-result.modern .photo-profile.zhuk {
    background-image: url(img/profiles/93.png);
}
.timeline-cup-result.modern .photo-profile.todorova {
    background-image: url(img/profiles/94.png);
}
.timeline-cup-result.modern .photo-profile.kuuttinen {
    background-image: url();
}
.timeline-cup-result.modern .photo-profile.shnayder {
    background-image: url(img/profiles/96.png);
}
.timeline-cup-result.modern .photo-profile.yiny {
    background-image: url(img/profiles/97.png);
}


.timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(3) {
    padding: 2.4px 7px 2.4px 4.8px;
}
.timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(2) {
    padding: 4.8px 2.4px 4.8px 3.5px !important;
}
.timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(4), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(5), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(6), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(7), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(8) {
    padding: 4.8px 7px 4.8px 7px;
}
.nation {
    display: none;
}
.timeline-cup-result.modern .nation {
    display: initial;
}
.cell-container-name-nat {
    display: inline-flex;
    flex-direction: column;
}
.text-2 {
    display: none;
}
@media (hover: hover) {
    .timeline-cup__flag select:hover {
        outline-color: #bfc6ca;
    }
    .toggle-style-table:hover .toggle-style-table__icon {
        box-shadow: 0 0 0 2px rgba(192, 229, 251,.35);
    }
    .timeline-cup-result__analysis-button a:hover {
        background-color: #d1ebfb;
    }
    .timeline-cup-result-table tbody tr:not(:first-child, .active):hover td {
        background-color: #fffce5;
    }
    .timeline-cup .age-button-svg:hover path:nth-child(1) {
        fill: #1bd212;
    }
    .timeline-cup .age-button-svg:hover path:nth-child(3) {
        fill: #ff0000;
    }
    .timeline-cup .age-button-svg:hover path:nth-child(4) {
        fill: #fcd401;
    }
}

.personal-best {
    color: #08a400;
    cursor: help;
    position: relative;
}
.personal-best::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 1.5px;
    height: 100%;
    background-color: #08a400;
}

@media screen and (max-width: 992px) {
    .timeline-cup-result-table tbody tr td:nth-child(4), .timeline-cup-result-table tbody tr td:nth-child(5), .timeline-cup-result-table tbody tr td:nth-child(7) {
        max-width: none;
    }
}

@media screen and (max-width: 600px) {
    .text-1, .timeline-cup-result-select-body-text, .timeline-cup-result-table tbody tr td a.long-name, .shooting-icon span, .bib-icon span {
        display: none;
    }
    .text-2, .timeline-cup-result-select-body-text.short, .timeline-cup-result-table tbody tr td a.short-name, .shooting-icon::before, .bib-icon::before {
        display: initial;
    }
    .timeline-cup-result-table tr:first-child td:nth-child(8)::before {
        content: "";
    }
    .timeline-cup-result-table tr:first-child td:nth-child(7)::before {
        content: "\e925";
        font-family: 'icomoon';
        font-size: 0.80em;
        font-weight: normal;
        color: #8d8d8d;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(4), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(5), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(6), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(7), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(8) {
        padding: 4.8px 6px 4.8px 6px;
    }
      .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(3) {
        padding: 2.4px 6px 2.4px 4.8px;
    }
}
@media screen and (max-width: 550px) {
    .timeline-cup-result {
        padding: 2em 1.06em 2em 1.06em;
    }
}










/*фон*/
html[data-theme="dark"] .toggle-style-table__icon, html[data-theme="dark"] .timeline-cup-result {
    background-color: #202124;
}
/*цвет текста*/
html[data-theme="dark"] .timeline-cup-result__head > span:nth-child(1), html[data-theme="dark"] .timeline-cup-result {
    color: #dfdfdf;
}
html[data-theme="dark"] .timeline-cup-result.modern .photo-profile {
    background-color: #dfdfdf;
}


/*цвет конопки*/
html[data-theme="dark"] .timeline-cup-result__analysis-button a {
    background-color: #184779;
}

/*переключатель*/
html[data-theme="dark"] .toggle-style-table {
    background-color: #1f2d40;
    box-shadow: none;
    border: 1px solid #2a3c56;
}
/*ободка перключателя*/
html[data-theme="dark"] .toggle-style-table__icon {
    border-color: #184779;
}

/*серый цвет*/

html[data-theme="dark"] .timeline-cup-result-table tbody tr:nth-child(1), html[data-theme="dark"] .toggle-style-table__text {
    color: #b5b5b5;
}
html[data-theme="dark"] .timeline-cup-result-table tr:first-child td:nth-child(7)::before, html[data-theme="dark"] .shooting-icon::before, html[data-theme="dark"] .bib-icon::before, html[data-theme="dark"] .timeline-cup-result-table tr:first-child td:nth-child(8)::before {
    color: #b5b5b5;
}

/*зебра*/
html[data-theme="dark"] .timeline-cup-result-table tbody tr:nth-child(2n) {
    background-color: #1f2d40;
}
/*красная строка*/
html[data-theme="dark"] .chosen-string.active {
    background-color: #4a3d44 !important;
    box-shadow: 0 0 0 1px #202124;
}
/*зеленая полоса*/
html[data-theme="dark"] .personal-best::before {
    background-color: #079600;
}
html[data-theme="dark"] .personal-best {
    color: #079600;
}


/*свг картинка*/
html[data-theme="dark"] .age-button-svg path {
    fill: #2d63af;
}
html[data-theme="dark"] .timeline-cup.profiles-color .age-button-svg path:nth-child(1) {
    fill: #7bd27b;
}
html[data-theme="dark"] .timeline-cup.profiles-color .age-button-svg path:nth-child(3) {
    fill: #dd7878;
}
html[data-theme="dark"] .timeline-cup.profiles-color .age-button-svg path:nth-child(4) {
    fill: #caca61;
}

/*майки лидера*/
html[data-theme="dark"] .red-jersey {
    background: radial-gradient(circle, rgb(146, 80, 80) 0%, rgb(145, 68, 68) 100%) !important;
}

html[data-theme="dark"] .yellow-jersey {
    background: radial-gradient(circle, rgb(168, 168, 87) 0%, rgb(165, 165, 75) 100%) !important;
}

html[data-theme="dark"] .blue-jersey {
    background: radial-gradient(circle, rgb(74, 106, 130) 0%, rgb(67, 101, 127) 100%) !important;
}

/*ободок фото*/
html[data-theme="dark"] .timeline-cup-result.modern .photo-profile:hover {
    box-shadow: none;
}



html[data-theme="dark"] .timeline-cup.profiles-color .age-color-1 {
    background-color: #b8e9b8;
    color: #12151a;
}
html[data-theme="dark"] .timeline-cup.profiles-color .age-color-2 {
    background-color: #7bd27b;
    color: #12151a;
}
html[data-theme="dark"] .timeline-cup.profiles-color .age-color-3 {
    background-color: #d8d8a4;
    color: #12151a;
}
html[data-theme="dark"] .timeline-cup.profiles-color .age-color-4 {
    background-color: #caca61;
    color: #12151a;
}
html[data-theme="dark"] .timeline-cup.profiles-color .age-color-5 {
    background-color: #e0a2a2;
    color: #12151a;
}
html[data-theme="dark"] .timeline-cup.profiles-color .age-color-6 {
    background-color: #dd7878;
    color: #12151a;
}

html[data-theme="dark"] .timeline-cup.profiles-color .age-color-1:hover, html[data-theme="dark"] .timeline-cup.profiles-color .age-color-2:hover, html[data-theme="dark"] .timeline-cup.profiles-color .age-color-3:hover, html[data-theme="dark"] .timeline-cup.profiles-color .age-color-4:hover, html[data-theme="dark"] .timeline-cup.profiles-color .age-color-5:hover,  html[data-theme="dark"] .timeline-cup.profiles-color .age-color-6:hover {
    color: #286ede !important;
    border-color: #286ede;
}





@media (hover: hover) {
    html[data-theme="dark"] .toggle-style-table:hover .toggle-style-table__icon {
        box-shadow: 0 0 0 2px rgba(24, 71, 121, 0.35);
    }
    /*ховер кнопки*/
    html[data-theme="dark"] .timeline-cup-result__analysis-button a:hover {
      background-color: #235f9f;
    }
    /*ховер строки*/
    html[data-theme="dark"] .timeline-cup-result-table tbody tr:not(:first-child, .active):hover td {
        background-color: #282720;
    }
    html[data-theme="dark"] .timeline-cup .age-button-svg:hover path:nth-child(1) {
        fill: #7bd27b;
    }
    html[data-theme="dark"] .timeline-cup .age-button-svg:hover path:nth-child(3) {
        fill: #dd7878;
    }
    html[data-theme="dark"] .timeline-cup .age-button-svg:hover path:nth-child(4) {
        fill: #caca61;
    }
  }









/*фон*/
html[data-theme="Black"] .timeline-cup-result {
    background-color: #121212;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
    border: 1px solid #292a2c;
}
html[data-theme="Black"] .toggle-style-table__icon {
    background-color: #121212;
}
/*цвет текста*/
html[data-theme="Black"] .timeline-cup-result__head > span:nth-child(1), html[data-theme="Black"] .timeline-cup-result {
    color: #c9ccd0;
}
html[data-theme="Black"] .timeline-cup-result.modern .photo-profile {
    background-color: #c9ccd0;
}


/*цвет конопки*/
html[data-theme="Black"] .timeline-cup-result__analysis-button a {
    background-color: #102442;
}

/*переключатель*/
html[data-theme="Black"] .toggle-style-table {
    background-color: #0e1721;
    box-shadow: none;
    border: 1px solid #18283a;
}
/*ободка перключателя*/
html[data-theme="Black"] .toggle-style-table__icon {
    border-color: #173660;
}

/*серый цвет*/

html[data-theme="Black"] .timeline-cup-result-table tbody tr:nth-child(1), html[data-theme="Black"] .toggle-style-table__text {
    color: #a4a6a7;
}
html[data-theme="Black"] .timeline-cup-result-table tr:first-child td:nth-child(7)::before, html[data-theme="Black"] .shooting-icon::before, html[data-theme="Black"] .bib-icon::before, html[data-theme="Black"] .timeline-cup-result-table tr:first-child td:nth-child(8)::before {
    color: #a4a6a7;
}

/*зебра*/
html[data-theme="Black"] .timeline-cup-result-table tbody tr:nth-child(2n) {
    background-color: #0e1721;
}
/*красная строка*/
html[data-theme="Black"] .chosen-string.active {
    background-color: #32292e !important;
    box-shadow: 0 0 0 1px #121212;
}
/*зеленая полоса*/
html[data-theme="Black"] .personal-best::before {
    background-color: #056900;
}
html[data-theme="Black"] .personal-best {
    color: #056900;
}


/*свг картинка*/
html[data-theme="Black"] .age-button-svg path {
    fill: #265591;
}
html[data-theme="Black"] .timeline-cup.profiles-color .age-button-svg path:nth-child(1) {
    fill: #65ad65;
}
html[data-theme="Black"] .timeline-cup.profiles-color .age-button-svg path:nth-child(3) {
    fill: #b56363;
}
html[data-theme="Black"] .timeline-cup.profiles-color .age-button-svg path:nth-child(4) {
    fill: #a5a550;
}

/*майки лидера*/
html[data-theme="Black"] .red-jersey {
    background: radial-gradient(circle, rgb(119, 62, 62) 0%, rgb(120, 56, 56) 100%) !important
}

html[data-theme="Black"] .yellow-jersey {
    background: radial-gradient(circle, rgb(131, 131, 75) 0%, rgb(130, 130, 65) 100%) !important;
}

html[data-theme="Black"] .blue-jersey {
    background: radial-gradient(circle, rgb(52, 72, 88) 0%, rgb(45, 68, 86) 100%) !important;
}

/*ободок фото*/
html[data-theme="Black"] .timeline-cup-result.modern .photo-profile:hover {
    box-shadow: none;
}



html[data-theme="Black"] .timeline-cup.profiles-color .age-color-1 {
    background-color: #99c099;
    color: #12151a;
}
html[data-theme="Black"] .timeline-cup.profiles-color .age-color-2 {
    background-color: #65ad65;
    color: #12151a;
}
html[data-theme="Black"] .timeline-cup.profiles-color .age-color-3 {
    background-color: #afaf86;
    color: #12151a;
}
html[data-theme="Black"] .timeline-cup.profiles-color .age-color-4 {
    background-color: #a5a550;
    color: #12151a;
}
html[data-theme="Black"] .timeline-cup.profiles-color .age-color-5 {
    background-color: #ba8787;
    color: #12151a;
}
html[data-theme="Black"] .timeline-cup.profiles-color .age-color-6 {
    background-color: #b56363;
    color: #12151a;
}

html[data-theme="Black"] .timeline-cup.profiles-color .age-color-1:hover, html[data-theme="Black"] .timeline-cup.profiles-color .age-color-2:hover, html[data-theme="Black"] .timeline-cup.profiles-color .age-color-3:hover, html[data-theme="Black"] .timeline-cup.profiles-color .age-color-4:hover, html[data-theme="Black"] .timeline-cup.profiles-color .age-color-5:hover,  html[data-theme="Black"] .timeline-cup.profiles-color .age-color-6:hover {
    color: #286ede !important;
    border-color: #286ede !important;
}






@media (hover: hover) {
    /*ховер перключателя*/
    html[data-theme="Black"] .toggle-style-table:hover .toggle-style-table__icon {
        box-shadow: 0 0 0 2px rgb(23, 54, 96, 0.35);
    }
    /*ховер кнопки*/
    html[data-theme="Black"] .timeline-cup-result__analysis-button a:hover {
      background-color: #173660;
    }
    /*ховер строки*/
    html[data-theme="Black"] .timeline-cup-result-table tbody tr:not(:first-child, .active):hover td {
        background-color: #232219;
    }
    html[data-theme="Black"] .timeline-cup .age-button-svg:hover path:nth-child(1) {
        fill: #65ad65;
    }
    html[data-theme="Black"] .timeline-cup .age-button-svg:hover path:nth-child(3) {
        fill: #b56363;
    }
    html[data-theme="Black"] .timeline-cup .age-button-svg:hover path:nth-child(4) {
        fill: #a5a550;
    }
  }









/*цвет текста*/
html[data-theme="grey"] .timeline-cup-result__head > span:nth-child(1), html[data-theme="grey"] .timeline-cup-result {
    color: #1e1e1e;
}

/*цвет конопки*/
html[data-theme="grey"] .timeline-cup-result__analysis-button a {
    background-color: #e9e9e9;
}

/*переключатель*/
html[data-theme="grey"] .toggle-style-table {
    background-color: #eeeeee;
    box-shadow: 0 1px 2px rgba(181, 203, 217, 0.5) inset, 0 -1px 0 rgba(181, 203, 217, 0.2) inset;
    box-shadow: 0 1px 2px rgba(145, 145, 145, 0.5) inset, 0 -1px 0 rgba(145, 145, 145, 0.2) inset;
}
/*ободка перключателя*/
html[data-theme="grey"] .toggle-style-table__icon {
    border-color: #e1e1e1;
    border-color: #dadada;
}

/*серый цвет*/

html[data-theme="grey"] .timeline-cup-result-table tbody tr:nth-child(1), html[data-theme="grey"] .toggle-style-table__text {
    color: #7e7e7e;
}
html[data-theme="grey"] .timeline-cup-result-table tr:first-child td:nth-child(7)::before, html[data-theme="grey"] .shooting-icon::before, html[data-theme="grey"] .bib-icon::before, html[data-theme="grey"] .timeline-cup-result-table tr:first-child td:nth-child(8)::before {
    color: #7e7e7e;
}

/*зебра*/
html[data-theme="grey"] .timeline-cup-result-table tbody tr:nth-child(2n) {
    background-color: #eeeeee;
}
/*красная строка*/
html[data-theme="grey"] .chosen-string.active {
    background-color: #f4d4e5 !important;
}
/*зеленая полоса*/
html[data-theme="grey"] .personal-best::before {
    background-color: #50ae4b;
}
html[data-theme="grey"] .personal-best {
    color: #50ae4b;
}


/*свг картинка*/
html[data-theme="grey"] .age-button-svg path {
    fill: rgba(98, 129, 157, 0.75);
}
html[data-theme="grey"] .timeline-cup.profiles-color .age-button-svg path:nth-child(1) {
    fill: #8aed8a;
}
html[data-theme="grey"] .timeline-cup.profiles-color .age-button-svg path:nth-child(3) {
    fill: #ef9595;
}
html[data-theme="grey"] .timeline-cup.profiles-color .age-button-svg path:nth-child(4) {
    fill: #ecec6e;
}

/*майки лидера*/
html[data-theme="grey"] .red-jersey {
    background: radial-gradient(circle, rgb(246, 183, 183) 0%, rgb(245, 166, 166) 100%) !important;
}

html[data-theme="grey"] .yellow-jersey {
    background: radial-gradient(circle, rgb(255, 241, 162) 0%, rgb(247, 227, 115) 100%) !important;
}

html[data-theme="grey"] .blue-jersey {
    background: radial-gradient(circle, rgba(139, 197, 240, 0.7) 0%, rgb(139, 197, 240) 100%) !important;
}

/*ободок фото*/
html[data-theme="grey"] .timeline-cup-result.modern .photo-profile:hover {
    box-shadow: 0 1px 2px rgb(136, 167, 200, .4) inset, 0 -1px 0 rgb(136, 167, 200, .3) inset;
}




html[data-theme="grey"] .timeline-cup.profiles-color .age-color-1 {
    background-color: #c1edc1;
}
html[data-theme="grey"] .timeline-cup.profiles-color .age-color-2 {
    background-color: #8aed8a;
}
html[data-theme="grey"] .timeline-cup.profiles-color .age-color-3 {
    background-color: #eeeebe;
}
html[data-theme="grey"] .timeline-cup.profiles-color .age-color-4 {
    background-color: #ecec6e;
}
html[data-theme="grey"] .timeline-cup.profiles-color .age-color-5 {
    background-color: #edc6c6;
}
html[data-theme="grey"] .timeline-cup.profiles-color .age-color-6 {
    background-color: #ef9595;
}




@media (hover: hover) {
    html[data-theme="grey"] .toggle-style-table:hover .toggle-style-table__icon {
        box-shadow: 0 0 0 2px rgba(218, 218, 218, 0.35);
    }
    /*ховер кнопки*/
    html[data-theme="grey"] .timeline-cup-result__analysis-button a:hover {
      background-color: #e1e1e1;
    }
    html[data-theme="grey"] .timeline-cup .age-button-svg:hover path:nth-child(1) {
        fill: #8aed8a;
    }
    html[data-theme="grey"] .timeline-cup .age-button-svg:hover path:nth-child(3) {
        fill: #ef9595;
    }
    html[data-theme="grey"] .timeline-cup .age-button-svg:hover path:nth-child(4) {
        fill: #ecec6e;
    }
  }









/*фон*/
html[data-theme="summer"] .toggle-style-table__icon, html[data-theme="summer"] .timeline-cup-result {
    background-color: #fffdf8;
}


/*цвет конопки*/
html[data-theme="summer"] .timeline-cup-result__analysis-button a {
    background-color: #fff2d4;
    color: #348232;
}
html[data-theme="summer"] .timeline-cup-result-table a, html[data-theme="summer"] .timeline-cup-result-discription-links a {
    color: #348232;
}
html[data-theme="summer"] .timeline-cup-result-table a:hover, html[data-theme="summer"] .timeline-cup-result-discription-links a:hover {
    color: #63b961 !important;
    border-color: #63b961 !important;
}

/*переключатель*/
html[data-theme="summer"] .toggle-style-table {
    background-color: #fff2d4;
    box-shadow: 0 1px 2px rgba(218, 210, 194,.5) inset, 0 -1px 0 rgba(218, 210, 194, 0.2) inset;
}
/*ободка перключателя*/
html[data-theme="summer"] .toggle-style-table__icon {
    border-color: #ffeab8;
}


/*зебра*/
html[data-theme="summer"] .timeline-cup-result-table tbody tr:nth-child(2n) {
    background-color: #fff2d5;
}
/*красная строка*/
html[data-theme="summer"] .chosen-string.active {
    background-color: #fbd2e7 !important;
    box-shadow: 0 0 0 1px #fffdf8;
}


/*свг картинка*/
html[data-theme="summer"] .age-button-svg path {
    fill: rgb(101, 192, 99);
}
html[data-theme="summer"] .timeline-cup.profiles-color .age-button-svg path:nth-child(1) {
    fill: #1bd212;
}
html[data-theme="summer"] .timeline-cup.profiles-color .age-button-svg path:nth-child(3) {
    fill: #ff0000;
}
html[data-theme="summer"] .timeline-cup.profiles-color .age-button-svg path:nth-child(4) {
    fill: #fcd401;
}

/*майки лидера*/
html[data-theme="summer"] .red-jersey {
    background: radial-gradient(circle, rgb(255, 182, 182) 0%, rgb(255, 163, 163) 100%) !important;
}

html[data-theme="summer"] .yellow-jersey {
    background: radial-gradient(circle, rgb(250, 234, 138) 0%, rgb(250, 231, 122) 100%) !important;
}

html[data-theme="summer"] .blue-jersey {
    background: radial-gradient(circle, rgba(151, 210, 255, 0.7) 0%, rgb(151, 210, 255) 100%) !important;
}

/*ободок фото*/
html[data-theme="dark"] .timeline-cup-result.modern .photo-profile:hover {
    box-shadow: none;
}




@media (hover: hover) {
    html[data-theme="summer"] .toggle-style-table:hover .toggle-style-table__icon {
        box-shadow: 0 0 0 2px rgba(255, 234, 184, 0.35);
    }
    html[data-theme="summer"] .timeline-cup-result.modern .photo-profile:hover {
        box-shadow: 0 1px 2px rgb(8, 164, 0, .4) inset, 0 -1px 0 rgb(8, 164, 0, .3) inset;
      }
    /*ховер кнопки*/
    html[data-theme="summer"] .timeline-cup-result__analysis-button a:hover {
      background-color: #ffeab8;
    }
    /*ховер строки*/
    html[data-theme="summer"] .timeline-cup-result-table tbody tr:not(:first-child, .active):hover td {
        background-color: #e2f4e2;
    }
    html[data-theme="summer"] .timeline-cup .age-button-svg:hover path:nth-child(1) {
        fill: #1bd212;
    }
    html[data-theme="summer"] .timeline-cup .age-button-svg:hover path:nth-child(3) {
        fill: #ff0000;
    }
    html[data-theme="summer"] .timeline-cup .age-button-svg:hover path:nth-child(4) {
        fill: #fcd401;;
    }
  }