#tippy-16 {
    width: auto;
}
#tippy-16 .tippy-content {
    overflow: hidden;
}
#tippy-16 ul li a {
    color: black !important;
    font-size: 13.5px !important;
    text-transform: none !important;
    padding: 0px 10px 0px 10px !important;
    transition: 0s !important;
    text-shadow: none !important;
    width: 100%;
    display: flex;
}
#tippy-16 ul li:last-of-type a {
    border-bottom: none !important;
}
  
#tippy-16 ul li::before, #tippy-16 ul li::after {
    display: none !important;
}
  
#tippy-16 ul li a:hover {
    background-color: #ecf5fb;
}
#tippy-16 ul li {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type a, #tippy-16 ul li:last-of-type a::before {
    color: red !important;
   }
#tippy-16 ul li:first-of-type a::before {
    content: "\e016";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:nth-child(2) a::before {
    content: "\e015";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:last-of-type a::before {
    content: "\e9b";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}

.timeline-tournament {
    padding: 2em 1.5em 2em 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
    overflow-x: hidden;
}
.timeline-tournament__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    position: relative;
    gap: 15px 25px;
    /* align-items: center; */
}
.timeline__date {
    align-items: flex-start;
    margin-top: 5px;
}
.timeline-tournament__head > span:nth-child(1) {
    font-size: 1.3em;
    color: black;
    font-weight: 700;
}
.timeline-tournament__menu {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.tournament-menu__body {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px 7px;
    justify-content: center;
}
.timeline-tournament__menu a {
    display: inline-block;
    width: fit-content;
    padding: 7px 13px;
    background-color: #e7f3fa;
    white-space: nowrap;
    border-radius: 33px;
    transition: all .3s ease;
    -webkit-tap-highlight-color: transparent;
}
.timeline-tournament__menu a.active {
    background-color: #c0e5fb;
}
.timeline-tournament__red-title {
    display: flex;
    color: red;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 2em;
}
.timeline-tournament__title {
    display: block;
    font-size: 1.2em;
    margin: 2em 0 0.5em 0;
    color: #1f7ec4;
}
.checkbox-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.checkbox-group #allow-messages:checked + .label-for-allow-messages::after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 11px;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 14px;
    border: solid #679bcd;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.checkbox-group #allow-messages:checked + .label-for-allow-messages::before {
    border-color: #c0e5fb;
}
.checkbox-group .label-for-allow-messages::before {
    content: '';
    -webkit-appearance: none;
    border: 2px solid transparent;
    background-color: #e7f3fa;
    padding: 12px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    transition: all .3s ease;
}
.checkbox-group .label-for-allow-messages {
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.checkbox-group label:last-child {
    margin-left: 12px;
}
.form-group label:not(.checkbox-group .label-for-allow-messages) {
    display: flex;
    position: relative;
}
.form-group input:not(.input-text) {
    padding: 8.5px 10px 8.5px 10px;
    height: fit-content;
}
.checkbox-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
.timeline-tournament__join-button {
    margin-top: 2em;
}
.timeline-tournament__join-button input {
    background-color: transparent;
    padding: 6.5px 15px;
    white-space: pre-wrap;
    cursor: pointer;
    border-radius: 33px;
    border: 2px solid #c0e5fb;
    color: #002b71;
    transition: all .3s ease;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}


.my-forecast__table-wrapper {
    overflow-x: auto;
}
.my-forecast__container {
    display: none;
}
.show-table .my-forecast__container {
    display: inherit;
}
.show-table .timeline-tournament__join-button {
    display: none;
}
.timeline__tournament-table tr td {
    padding: 2.4px 7px;
}
.my-forecast__table {
    width: 100%;
    border-collapse: collapse;
}
.my-forecast__table tr td {
    padding: 2.4px 7px;
    white-space: nowrap;
}
.my-forecast__table tr td:nth-child(2) {
    position: sticky;
    left: 0;
    top: 0;
}
.my-forecast__table tbody tr:nth-child(2n+1) td {
    background-color: #e7f3fa;
}
.my-forecast__table tbody tr:nth-child(2n) td {
    background-color: #fff;
}


.my-forecast__table tr td:nth-last-child(2) a, .my-forecast__table tr td:nth-last-child(1) a {
    display: flex;
    justify-content: center;
}
.forecast-icon {
    width: 15px;
    height: 15px;
    fill: #81aad5;
    scale: 1;
    transition: all .3s ease;
    -webkit-tap-highlight-color: transparent;
}



@media (hover: hover) {
    .my-forecast__table tr td:nth-last-child(2) a:hover svg, .my-forecast__table tr td:nth-last-child(1) a:hover svg {
        fill: #689fd8;
    }
    .my-forecast__table tbody tr:hover td {
        background-color: #fffce5;
    }
    .checkbox-group .label-for-allow-messages:hover::before {
        border-color: #c0e5fb;
    }
    .timeline-tournament__join-button input:hover {
        background-color: #d1ebfb;
        border-color: #d1ebfb;
    }
    .timeline-tournament__menu a:hover:not(.active) {
        background-color: #d1ebfb;
    }
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 550px) {
    .timeline-tournament {
        padding: 2em 1.06em 2em 1.06em;
    }
}















html[data-theme="dark"] .timeline-tournament {
    background-color: #202124;
}
html[data-theme="dark"] .timeline-tournament, html[data-theme="dark"] .timeline-tournament__head > span:nth-child(1) {
    color: #dfdfdf;
}
html[data-theme="dark"] .tournament-menu__body a, html[data-theme="dark"] .timeline__tournament-navigation-next::after {
    color: #abcbff;
}
html[data-theme="dark"] .tournament-menu__body a {
    background-color: #15314d;
}
html[data-theme="dark"] .timeline__tournament-navigation ul li a {
    background-color: #1f2d40;
}
html[data-theme="dark"] .timeline__tournament-navigation ul li a.active, html[data-theme="dark"] .timeline__tournament-navigation a:hover:not(.active)::before, html[data-theme="dark"] .timeline__tournament-navigation-next:hover::before, html[data-theme="dark"] .timeline__tournament-navigation-prev:hover::before {
    background-color: #235f9f;
}
html[data-theme="dark"] .timeline__tournament-navigation a::before, html[data-theme="dark"] .timeline__tournament-navigation-next::before, html[data-theme="dark"] .timeline__tournament-navigation-prev::before {
    background-color: #235f9f;
}
html[data-theme="dark"] .timeline__tournament-table tr:first-child td, html[data-theme="dark"] .compare-icon::before {
    color: #b5b5b5;
}
html[data-theme="dark"] .timeline__tournament-table tr:nth-child(2n) {
    background-color: #1f2d40;
}
html[data-theme="dark"] .timeline__tournament-table .logged {
    border-color: #202124;
}
html[data-theme="dark"] .timeline__tournament-table tr:nth-child(2n) .logged {
    border-color: #1f2d40;
}
html[data-theme="dark"] .avatar-male, html[data-theme="dark"] .avatar-female, html[data-theme="dark"] .avatar-unknown {
    fill: #2d63af;
}
html[data-theme="dark"] .timeline__tournament-table .my-string td {
    background-color: #324932;
}
html[data-theme="dark"] .timeline__tournament-table .my-string .logged {
    border-color: #324932 !important;
}
html[data-theme="dark"] .bonus-icon {
    fill: #d40000;
}
html[data-theme="dark"] .triangle-down::before, html[data-theme="dark"] .timeline-tournament__red-title {
    color: #d40000;
}
html[data-theme="dark"] .triangle::before {
    color: #1bd212;
}


html[data-theme="dark"] .tournament-menu__body .active {
    background-color: #235f9f;
}

/*бордер ссылок*/
html[data-theme="dark"] .timeline-tournament a:hover {
    border-color: #8ab4f8 !important;
}
/*цвет кружка*/
html[data-theme="dark"] .checkbox-group .label-for-allow-messages::before {
    background-color: #1f2d40;
}
/*цвет ободка кружка*/
html[data-theme="dark"] .timeline-tournament__join-button input, html[data-theme="dark"] .checkbox-group #allow-messages:checked + .label-for-allow-messages::before {
    border-color: #184779;
}
/*цвет галочки*/
html[data-theme="dark"] .checkbox-group #allow-messages:checked + .label-for-allow-messages::after {
    border-color: #2b63b1;
}
/*цвет заголовков*/
html[data-theme="dark"] .timeline-tournament__title {
    color: #2b7ed7;
}

/*зебра таблицы*/
html[data-theme="dark"] .my-forecast__table tbody tr:nth-child(2n) td {
    background-color: #202124;
}
html[data-theme="dark"] .my-forecast__table tbody tr:nth-child(2n+1) td {
    background-color: #1f2d40;
}

/*цвет текста в кнопке*/
html[data-theme="dark"] .comment_button {
    color: #abcbff;
}

/*цвет мини картинок*/
html[data-theme="dark"] .forecast-icon {
    fill: #2b63b1;
}



@media (hover: hover) {
    /*цвет мини картинок*/
    html[data-theme="dark"] .my-forecast__table tr td:nth-last-child(2) a:hover svg, html[data-theme="dark"] .my-forecast__table tr td:nth-last-child(1) a:hover svg {
        fill: #3070ca;
    }
    /*цвет кнопки*/
    html[data-theme="dark"] .timeline-tournament__join-button input:hover {
        background-color: #184779;
    }
    /*цвет бордера кружка*/
    html[data-theme="dark"] .checkbox-group .label-for-allow-messages:hover::before {
        border-color: #184779;
    }
    /*цвет текста при ховере*/
    html[data-theme="dark"] .tournament-menu__body a:hover, html[data-theme="dark"] .timeline__tournament-navigation ul li a:hover {
        color: #abcbff !important;
    }
    /*цвет меню при ховере*/
    html[data-theme="dark"] .tournament-menu__body a:hover:not(.active) {
        background-color: #184779;
    }
    /*подсветка строки таблицы*/
    html[data-theme="dark"] .my-forecast__table tbody tr:hover td, html[data-theme="dark"] .timeline__tournament-table tr:hover:not(:first-child, .my-string) td {
        background-color: #282720;
    }
}







html[data-theme="Black"] .timeline-tournament {
    background-color: #121212;
    border: 1px solid #292a2c;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
}
html[data-theme="Black"] .timeline-tournament, html[data-theme="Black"] .timeline-tournament__head > span:nth-child(1) {
    color: #c9ccd0;
}
html[data-theme="Black"] .tournament-menu__body a, html[data-theme="Black"] .timeline__tournament-navigation-next::after {
    color: #6688c0;
}
html[data-theme="Black"] .tournament-menu__body a {
    background-color: #102442;
}
html[data-theme="Black"] .timeline__tournament-navigation ul li a {
    background-color: #101c29;
}
html[data-theme="Black"] .tournament-menu__body .active, html[data-theme="Black"] .timeline__tournament-navigation ul li a.active, html[data-theme="Black"] .timeline__tournament-navigation a:hover:not(.active)::before, html[data-theme="Black"] .timeline__tournament-navigation-next:hover::before, html[data-theme="Black"] .timeline__tournament-navigation-prev:hover::before {
    background-color: #1a3d6d;
}
html[data-theme="Black"] .timeline__tournament-navigation a::before, html[data-theme="Black"] .timeline__tournament-navigation-next::before, html[data-theme="Black"] .timeline__tournament-navigation-prev::before {
    background-color: #1a3d6d;
}
html[data-theme="Black"] .timeline__tournament-table tr:first-child td, html[data-theme="Black"] .compare-icon::before {
    color: #a4a6a7;
}
html[data-theme="Black"] .timeline__tournament-table tr:nth-child(2n) {
    background-color: #0e1721;
}
html[data-theme="Black"] .timeline__tournament-table .logged {
    border-color: #202124;
}
html[data-theme="Black"] .timeline__tournament-table tr:nth-child(2n) .logged {
    border-color: #0e1721;
}
html[data-theme="Black"] .avatar-male, html[data-theme="Black"] .avatar-female, html[data-theme="Black"] .avatar-unknown {
    fill: #265591;
}
html[data-theme="Black"] .timeline__tournament-table .my-string td {
    background-color: #202e20;
}
html[data-theme="Black"] .timeline__tournament-table .my-string .logged {
    border-color: #202e20 !important;
}
html[data-theme="Black"] .bonus-icon {
    fill: #d40000;
}
html[data-theme="Black"] .triangle-down::before, html[data-theme="Black"] .timeline__tournament-table .red, html[data-theme="Black"] .timeline-tournament__red-title {
    color: #d40000;
}
html[data-theme="Black"] .triangle::before, html[data-theme="Black"] .timeline__tournament-table .green {
    color: #177513;
}
html[data-theme="dark"] .triangle::before {
    color: #1bd212;
}


@media (hover: hover) {
    html[data-theme="Black"] .tournament-menu__body a:hover, html[data-theme="Black"] .timeline__tournament-navigation ul li a:hover {
        color: #6688c0 !important;
    }
    html[data-theme="Black"] .tournament-menu__body a:hover {
        background-color: #1a3d6d;
    }
    html[data-theme="Black"] .timeline__tournament-table tr:hover:not(:first-child, .my-string) td {
        background-color: #232219;
    }
    html[data-theme="Black"]  .timeline__tournament-table tr:hover:not(.my-string) td .logged {
        border-color: #232219;
    }
}




/*бордер ссылок*/
/* html[data-theme="Black"] .timeline-tournament a:hover {
    color: #93bbff;
    border-color: #93bbff;
} */
/*цвет кружка*/
html[data-theme="Black"] .checkbox-group .label-for-allow-messages::before {
    background-color: #0e1721;
}
/*цвет ободка кружка*/
html[data-theme="Black"] .timeline-tournament__join-button input, html[data-theme="Black"] .checkbox-group #allow-messages:checked + .label-for-allow-messages::before {
    border-color: #102442;
}
/*цвет галочки*/
html[data-theme="Black"] .checkbox-group #allow-messages:checked + .label-for-allow-messages::after {
    border-color: #255490;
}
/*цвет заголовков*/
html[data-theme="Black"] .timeline-tournament__title {
    color: #326bb3;
}

/*зебра таблицы*/
html[data-theme="Black"] .my-forecast__table tbody tr:nth-child(2n) td {
    background-color: #121212;
}
html[data-theme="Black"] .my-forecast__table tbody tr:nth-child(2n+1) td {
    background-color: #0e1621;
}

/*цвет текста в кнопке*/
html[data-theme="Black"] .comment_button {
    color: #6688c0;
}

/*цвет мини картинок*/
html[data-theme="Black"] .forecast-icon {
    fill: #255490;
}



@media (hover: hover) {
    /*цвет мини картинок*/
    html[data-theme="Black"] .my-forecast__table tr td:nth-last-child(2) a:hover svg, html[data-theme="Black"] .my-forecast__table tr td:nth-last-child(1) a:hover svg {
        fill: #2d65ac;
    }
    /*цвет кнопки*/
    html[data-theme="Black"] .timeline-tournament__join-button input:hover {
        background-color: #122b4d;
    }
    /*цвет бордера кружка*/
    html[data-theme="Black"] .checkbox-group .label-for-allow-messages:hover::before {
        border-color: #102442;
    }
    /*цвет текста при ховере*/
    /* html[data-theme="dark"] .tournament-menu__body a:hover, html[data-theme="dark"] .timeline__tournament-navigation ul li a:hover {
        color: #abcbff !important;
    } */
    /*цвет меню при ховере*/
    html[data-theme="Black"] .tournament-menu__body a:hover:not(.active) {
        background-color: #173660;
    }
    /*подсветка строки таблицы*/
    html[data-theme="Black"] .my-forecast__table tbody tr:hover td, html[data-theme="dark"] .timeline__tournament-table tr:hover:not(:first-child, .my-string) td {
        background-color: #232219;
    }
}
















html[data-theme="summer"] .timeline-tournament {
    background-color: #fffdf8;
}
html[data-theme="summer"] .tournament-menu__body a {
    color: #348232;
}
html[data-theme="summer"] .timeline__tournament-navigation-next::after {
    color: #e0a11d;
}
html[data-theme="summer"] .tournament-menu__body a {
    background-color: #fff2d4;
}
html[data-theme="summer"] .timeline__tournament-navigation ul li a {
    background-color: #fff2d4;
    color: #348232;
}
html[data-theme="summer"] .timeline__tournament-navigation ul li a.active, html[data-theme="summer"] .timeline__tournament-navigation a:hover:not(.active)::before, html[data-theme="summer"] .timeline__tournament-navigation-next:hover::before, html[data-theme="summer"] .timeline__tournament-navigation-prev:hover::before {
    background-color: #ffeab8;
}
html[data-theme="summer"] .timeline__tournament-navigation a::before, html[data-theme="summer"] .timeline__tournament-navigation-next::before, html[data-theme="summer"] .timeline__tournament-navigation-prev::before {
    background-color: #ffeab8;
}
html[data-theme="summer"] .timeline__tournament-table a {
    color: #348232;
}
html[data-theme="summer"] .timeline .timeline__tournament-table a:hover {
    color: #63b961 !important;
    border-color: #63b961 !important;
}
html[data-theme="summer"] .timeline__tournament-table tr:nth-child(2n) {
    background-color: #fff2d4;
}
html[data-theme="summer"] .timeline__tournament-table .logged {
    border-color: #fffdf8;
}
html[data-theme="summer"] .timeline__tournament-table .logged {
    background-color: #ff9d1f;
}
html[data-theme="summer"] .timeline__tournament-table tr:nth-child(2n) .logged {
    border-color: #fff2d4;
}
html[data-theme="summer"] .avatar-male, html[data-theme="summer"] .avatar-female, html[data-theme="summer"] .avatar-unknown {
    fill: #65c263;
}
html[data-theme="summer"] .timeline__tournament-table .my-string td {
    background-color: #bfffbf;
}
html[data-theme="summer"] .timeline__tournament-table .my-string .logged {
    border-color: #bfffbf !important;
}
html[data-theme="summer"] .bonus-icon {
    fill: #ff4949;
}
html[data-theme="summer"] .timeline-tournament__red-title {
    color: #ff4949;
}
html[data-theme="summer"] .tournament-menu__body .active {
    background-color: #ffe4a4;
}



@media (hover: hover) {
    html[data-theme="summer"] .tournament-menu__body a:hover, html[data-theme="summer"] .timeline__tournament-navigation ul li a:hover {
        color: #348232 !important;
    }
    html[data-theme="summer"] .tournament-menu__body a:hover:not(.active) {
        background-color: #ffe9b6;
    }
    html[data-theme="summer"] .timeline__tournament-table tr:hover:not(:first-child, .my-string) td {
        background-color: #e2f4e2;
    }
    html[data-theme="summer"]  .timeline__tournament-table tr:hover:not(.my-string) td .logged {
        border-color: #e2f4e2;
    }
}




/*бордер ссылок*/
html[data-theme="summer"] .timeline-tournament a:hover {
    color: #63b961 !important;
    border-color: #63b961 !important;
}
html[data-theme="summer"] .tournament-menu__body a:hover, html[data-theme="summer"] .timeline-tournament a {
    color: #348232 !important;
}
/*цвет кружка*/
html[data-theme="summer"] .checkbox-group .label-for-allow-messages::before {
    background-color: #fff2d5;
}
/*цвет ободка кружка*/
html[data-theme="summer"] .checkbox-group #allow-messages:checked + .label-for-allow-messages::before {
    border-color: #ffeab8;
}
html[data-theme="summer"] .timeline-tournament__join-button input {
    border-color: #ffedc3;
}
/*цвет галочки*/
html[data-theme="summer"] .checkbox-group #allow-messages:checked + .label-for-allow-messages::after {
    border-color: #65c063;
}
/*цвет заголовков*/
html[data-theme="summer"] .timeline-tournament__title {
    color: #e99e00;
}

/*зебра таблицы*/
html[data-theme="summer"] .my-forecast__table tbody tr:nth-child(2n) td {
    background-color: #fffdf8;
}
html[data-theme="summer"] .my-forecast__table tbody tr:nth-child(2n+1) td {
    background-color: #fff2d5;
}

/*цвет текста в кнопке*/
html[data-theme="summer"] .comment_button {
    color: #348232;
}

/*цвет мини картинок*/
html[data-theme="summer"] .forecast-icon {
    fill: #65c063;
}



@media (hover: hover) {
    /*цвет мини картинок*/
    html[data-theme="summer"] .my-forecast__table tr td:nth-last-child(2) a:hover svg, html[data-theme="summer"] .my-forecast__table tr td:nth-last-child(1) a:hover svg {
        fill: #72d670;
    }
    /*цвет кнопки*/
    html[data-theme="summer"] .timeline-tournament__join-button input:hover {
        background-color: #ffedc3;
    }
    /*цвет бордера кружка*/
    html[data-theme="summer"] .checkbox-group .label-for-allow-messages:hover::before {
        border-color: #ffeab8;
    }
    /*цвет текста при ховере*/
    html[data-theme="dark"] .tournament-menu__body a:hover, html[data-theme="dark"] .timeline__tournament-navigation ul li a:hover {
        color: #abcbff !important;
    }
    /*цвет меню при ховере*/
    html[data-theme="summer"] .tournament-menu__body a:hover:not(.active) {
        background-color: #ffe9b6;
    }
    /*подсветка строки таблицы*/
    html[data-theme="summer"] .my-forecast__table tbody tr:hover td, html[data-theme="summer"] .timeline__tournament-table tr:hover:not(:first-child, .my-string) td {
        background-color: #e2f4e2;
    }
}















html[data-theme="grey"] .timeline-tournament, html[data-theme="grey"] .timeline-tournament__head > span:nth-child(1) {
    color: #1e1e1e;
}
html[data-theme="grey"] .tournament-menu__body a, html[data-theme="grey"] .timeline__tournament-navigation-next::after {
    color: #2f5278;
}
html[data-theme="grey"] .tournament-menu__body a {
    background-color: #e9e9e9;
}
html[data-theme="grey"] .timeline__tournament-navigation ul li a {
    background-color: #eeeeee;
}
html[data-theme="grey"] .timeline__tournament-navigation ul li a.active, html[data-theme="grey"] .timeline__tournament-navigation a:hover:not(.active)::before, html[data-theme="grey"] .timeline__tournament-navigation-next:hover::before, html[data-theme="grey"] .timeline__tournament-navigation-prev:hover::before {
    background-color: #d7d7d7;
}
html[data-theme="grey"] .timeline__tournament-navigation a::before, html[data-theme="grey"] .timeline__tournament-navigation-next::before, html[data-theme="grey"] .timeline__tournament-navigation-prev::before {
    background-color: #d7d7d7;
}
html[data-theme="grey"] .timeline__tournament-table tr:first-child td {
    color: #7e7e7e;
}
html[data-theme="grey"] .compare-icon::before {
    color: #9b9b9b;
}
html[data-theme="grey"] .timeline__tournament-table tr:nth-child(2n) {
    background-color: #eeeeee;
}
html[data-theme="grey"] .timeline__tournament-table tr:nth-child(2n) .logged {
    border-color: #eeeeee;
}
html[data-theme="grey"] .avatar-male, html[data-theme="grey"] .avatar-female, html[data-theme="grey"] .avatar-unknown {
    fill: #89a0b5;
}
html[data-theme="grey"] .timeline__tournament-table .my-string td {
    background-color: #c7f4c7;
}
html[data-theme="grey"] .timeline__tournament-table .my-string .logged {
    background-color: #20ba19;
    border-color: #c7f4c7 !important;
}
html[data-theme="grey"] .tournament-menu__body .active {
    background-color: #e1e1e1;
}
html[data-theme="grey"] .timeline-tournament__red-title {
    color: #ff5252;
}



@media (hover: hover) {
    html[data-theme="grey"] .tournament-menu__body a:hover, html[data-theme="grey"] .timeline__tournament-navigation ul li a:hover {
        color: #2f5278 !important;
    }
    html[data-theme="grey"] .tournament-menu__body a:hover:not(.active) {
        background-color: #e4e4e4;
    }
}



html[data-theme="grey"] .timeline-tournament a:hover {
    color: #73abd2 !important;
    border-color: #73abd2 !important;
}
html[data-theme="grey"] .tournament-menu__body a:hover, html[data-theme="grey"] .timeline-tournament a {
    color: #2f5278 !important;
}


/*цвет кружка*/
html[data-theme="grey"] .checkbox-group .label-for-allow-messages::before {
    background-color: #ececec;
}
/*цвет ободка кружка*/
html[data-theme="grey"] .checkbox-group #allow-messages:checked + .label-for-allow-messages::before {
    border-color: #e1e1e1;
}
html[data-theme="grey"] .timeline-tournament__join-button input {
    border-color: #e9e9e9;
}
/*цвет галочки*/
html[data-theme="grey"] .checkbox-group #allow-messages:checked + .label-for-allow-messages::after {
    border-color: #869db2;
}
/*цвет заголовков*/
html[data-theme="grey"] .timeline-tournament__title {
    color: #648099;
}

/*зебра таблицы*/
html[data-theme="grey"] .my-forecast__table tbody tr:nth-child(2n) td {
    background-color: #fff;
}
html[data-theme="grey"] .my-forecast__table tbody tr:nth-child(2n+1) td {
    background-color: #eeeeee;
}

/*цвет текста в кнопке*/
html[data-theme="grey"] .comment_button {
    color: #2f5278;
}

/*цвет мини картинок*/
html[data-theme="grey"] .forecast-icon {
    fill: #869db2;
}



@media (hover: hover) {
    /*цвет мини картинок*/
    html[data-theme="grey"] .my-forecast__table tr td:nth-last-child(2) a:hover svg, html[data-theme="grey"] .my-forecast__table tr td:nth-last-child(1) a:hover svg {
        fill: #98b2ca;
    }
    /*цвет кнопки*/
    html[data-theme="grey"] .timeline-tournament__join-button input:hover {
        background-color: #e9e9e9;
    }
    /*цвет бордера кружка*/
    html[data-theme="grey"] .checkbox-group .label-for-allow-messages:hover::before {
        border-color: #e1e1e1;
    }
    html[data-theme="grey"] .my-forecast__table tbody tr:hover td, html[data-theme="grey"] .timeline__tournament-table tr:hover:not(:first-child, .my-string) td {
        background-color: #fffce5;
    }
}