#tippy-16 {
    width: auto;
}
   #tippy-16 .tippy-content {
    overflow: hidden;
}
#tippy-16 ul li a {
    color: black !important;
    font-size: 13.5px !important;
    text-transform: none !important;
    padding: 0px 10px 0px 10px !important;
    transition: 0s !important;
    text-shadow: none !important;
    width: 100%;
    display: flex;
}
#tippy-16 ul li:last-of-type a {
    border-bottom: none !important;
}
  
#tippy-16 ul li::before, #tippy-16 ul li::after {
    display: none !important;
}
  
#tippy-16 ul li a:hover {
    background-color: #ecf5fb;
}
#tippy-16 ul li {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type a, #tippy-16 ul li:last-of-type a::before {
    color: red !important;
   }
#tippy-16 ul li:first-of-type a::before {
    content: "\e016";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:nth-child(2) a::before {
    content: "\e015";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:last-of-type a::before {
    content: "\e9b";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}

.timeline-cup {
    padding: 2em 1.5em 2em 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
    overflow-x: hidden;
}
.timeline-cup__head {
    margin-bottom: 1.5em;
}
.timeline-cup__head span:nth-child(1) {
    font-size: 1.3em;
    color: black;
    font-weight: 700;
}

.timeline-cup-statistics-title {
    display: flex;
    background-color: #d1ebfb;
    margin-bottom: 0.5em;
    position: relative;
    padding: 1.3px 10px 1.3px 51px;
}
.timeline-cup-statistics-title:not(:first-child) {
    margin-top: 2em;
}
.timeline-cup-statistics-title span {
    font-size: 1.2em;
    font-weight: 600;
}
.timeline-cup-statistics-title-icon {
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    border: 2px solid #d1ebfb;
}
.timeline-cup-statistics-title-icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #81aad5;
    scale: 1;
}
.medals-icon {
    width: 21px;
    height: 21px;
}
.strong-old-icon {
    width: 22px;
    height: 23px;
}
.one-medal-icon {
    width: 22px;
    height: 22px;
}
.series-icon {
    width: 22px;
    height: 22px;
}
.timeline-cup-statistics-table-wrapper {
    /* width: 100%;
    min-width: 370px; */
    overflow-x: auto;
}
.timeline-cup-statistics-table {
    border-collapse: collapse;
    width: 100%;
    min-width: 345px;
}
.timeline-cup-statistics-table tr td:first-child {
    width: 100%;
} 
.timeline-cup-statistics-table tr td:last-child {
    text-align: center;
    white-space: nowrap;
}
.timeline-cup-statistics-table tr {
    /* border: 1px solid #c0e5fb; */
}
.timeline-cup-statistics-table tbody tr td {
    padding: 2.4px 7px 2.4px 7px;
}
.timeline-cup-statistics-table tbody tr:nth-child(2n+1) {
    background-color: #e7f3fa;
}
.timeline-cup-statistics-table thead tr td {
    /* background-color: #d1ebfb; */
    color: #5d5d5d;
}
.timeline-cup-statistics-table thead tr td:first-child {
    padding-left: 7px;
}

.timeline__more-tables {
    padding: 2em 1.5em 1.39em 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
}
.timeline__more-tables-head {
    padding-bottom: 0.75em;
}
.timeline__more-tables-head span {
    font-size: 1.3em;
    font-weight: 700;
}
.timeline__more-tables-body {
    margin-top: 0.75em;
}
.timeline__more-tables-body ul {
    position: relative;
    height: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
}
.timeline__more-tables-body li::before {
    content: "\e902";
    font-family: 'icomoon';
    color: #81aad5;
    font-size: 0.95em;
    padding-right: 5px;
}
.timeline__more-tables-body li.active::before {
    color: #8d8d8d;
}
.timeline__more-tables-body li.active {
    color: #5d5d5d;
}
.timeline__more-tables-body svg {
    position: absolute;
    top: 0;
    right: 0;
    fill: #e7f3fa;
    height: 130px;
    width: 130px;
    z-index: -1;
}

@media (hover: hover) {
    .timeline-cup-statistics-table tbody tr:hover {
        background-color: #fffce5;
    }
}

@media screen and (max-width: 992px) {
    .timeline-cup__table-comments-tables-recommend-list li {
        width: auto;
    }
    .timeline__more-tables-body ul, .timeline-cup__table-comments-tables-recommend-list {
        gap: 8px 0;
    }
    .timeline__more-tables-body ul {
        height: 172px;
    }
}

@media screen and (max-width: 550px) {
    .timeline-cup {
        padding: 2em 1.06em 2em 1.06em;
    }
      .timeline-cup, .timeline__more-tables {
        padding: 2em 1.06em 2em 1.06em;
    }
    .timeline__more-tables-body ul {
        height: auto;
    }
    .timeline__more-tables-body svg {
        top: 50%;
        transform: translateY(-50%);
        height: 180px;
        width: 180px;
    }
}