#tippy-16 {
    width: auto;
}
   #tippy-16 .tippy-content {
    overflow: hidden;
}
#tippy-16 ul li a {
    color: black !important;
    font-size: 13.5px !important;
    text-transform: none !important;
    padding: 0px 10px 0px 10px !important;
    transition: 0s !important;
    text-shadow: none !important;
    width: 100%;
    display: flex;
}
#tippy-16 ul li:last-of-type a {
    border-bottom: none !important;
}
  
#tippy-16 ul li::before, #tippy-16 ul li::after {
    display: none !important;
}
  
#tippy-16 ul li a:hover {
    background-color: #ecf5fb;
}
#tippy-16 ul li {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type a, #tippy-16 ul li:last-of-type a::before {
    color: red !important;
   }
#tippy-16 ul li:first-of-type a::before {
    content: "\e016";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:nth-child(2) a::before {
    content: "\e015";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:last-of-type a::before {
    content: "\e9b";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}

.timeline-cup-result {
    padding: 2em 1.5em 2em 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
    overflow-x: hidden;
}
.timeline-cup-result__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    position: relative;
    gap: 20px;
    align-items: center;
}
.timeline-cup-result__head > span:nth-child(1) {
    font-size: 1.3em;
    color: black;
    font-weight: 700;
}
.timeline-cup-result__head-settings {
    display: flex;
    gap: 30px;
    align-items: center;
}
.age-button {
    display: flex;
}
.age-button-svg {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.age-button-svg path {
    fill: #84acd4;
    transition: all .3s ease;
}
.timeline-cup.profiles-color .age-button-svg path:nth-child(3) {
    fill: #ff0000;
}
.timeline-cup.profiles-color .age-button-svg path:nth-child(4) {
    fill: #fcd401;
}
.timeline-cup.profiles-color .age-button-svg path:nth-child(1) {
    fill: #1bd212;
}

.age-color-1, .age-color-2, .age-color-3, .age-color-4, .age-color-5, .age-color-6 {
    transition: background-color .3s ease;
}
.timeline-cup.profiles-color .age-color-1 {
    background-color: #cfffcf;
}
.timeline-cup.profiles-color .age-color-2 {
    background-color: #95ff95;
}
.timeline-cup.profiles-color .age-color-3 {
    background-color: #ffc;
}
.timeline-cup.profiles-color .age-color-4 {
    background-color: #ff7;
}
.timeline-cup.profiles-color .age-color-5 {
    background-color: #ffd4d4;
}
.timeline-cup.profiles-color .age-color-6 {
    background-color: #ff9f9f;
}

.timeline-cup-result-table {
    width: 100%;
}
.yellow-jersey {
    background: radial-gradient(circle, rgba(255, 231, 100, 0.7) 0%, rgb(255, 231, 100) 100%) !important;
    cursor: help;
}
.red-jersey {
    background: radial-gradient(circle, rgba(255, 163, 163, 0.7) 0%, rgb(255, 163, 163) 100%) !important;
    cursor: help;
}
.blue-jersey {
    background: radial-gradient(circle, rgba(136, 204, 255, 0.7) 0%, rgb(136, 204, 255) 100%) !important;
    cursor: help;
}
.timeline-cup-result-wrapper {
    overflow-x: auto;
}
.timeline-cup-result-table tbody tr td:nth-child(1) {
    width: 32.4px;
}
.timeline-cup-result-table tbody tr td {
    white-space: nowrap;
}
.timeline-cup-result-table tbody tr td:nth-child(3) {
    padding: 2.4px 7px 2.4px 2.4px;
}
.timeline-cup-result-table tbody tr td:nth-child(4), .timeline-cup-result-table tbody tr td:nth-child(5), .timeline-cup-result-table tbody tr td:nth-child(6), .timeline-cup-result-table tbody tr td:nth-child(7), .timeline-cup-result-table tbody tr td:nth-child(8) {
    padding: 2.4px 7px 2.4px 7px;
}
.timeline-cup-result-table tbody tr td:first-child {
    padding: 2.4px 0 !important;
}
.timeline-cup-result-table tbody tr td:nth-child(2) {
    padding: 2.4px 2.4px 2.4px 4.8px !important;
}
.timeline-cup-result-table tbody tr td:not(:nth-child(3)) {
    text-align: center;
}
.timeline-cup-result-table tbody tr td:last-child {
    width: 68px;
}
.timeline-cup-result-table tbody tr:not(:first-child) td:nth-child(1) {
    font-weight: 600;
    font-size: 0.95em;
    text-align: center;
}
.timeline-cup-result-table tbody tr:nth-child(2n) {
    background-color: #e7f3fa;
}
.timeline-cup-result-table {
    border-collapse: collapse;
    margin-top: 2em;
}
.timeline-cup-result-table tbody tr:nth-child(1) {
    color: #5d5d5d;
}
.timeline-cup-result-table tbody tr td:nth-child(2) {
    width: 22.8px;
}
.timeline-cup-result-table tbody tr td a.short-name {
    display: none;
}
.timeline-cup-result-table tbody tr td:nth-child(4), .timeline-cup-result-table tbody tr td:nth-child(5), .timeline-cup-result-table tbody tr td:nth-child(7) {
    max-width: fit-content;
}
.timeline-cup-result-table img {
    cursor: pointer;
}
.chosen-string.active {
    background-color: #ffcfe8 !important;
    box-shadow: 0 0 0 1px white;
}
.bib-icon::before {
    content: "\e927";
    font-family: 'icomoon';
    font-size: 0.80em;
    font-weight: normal;
    color: #8d8d8d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bib-icon, .shooting-icon, .timeline-cup-result-table tr td:nth-child(8), .timeline-cup-result-table tr td:nth-child(7) {
    position: relative;
}
.timeline-cup-result-table tr:first-child td:nth-child(8)::before {
    content: "\e925";
    font-family: 'icomoon';
    font-size: 0.80em;
    font-weight: normal;
    color: #8d8d8d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shooting-icon::before {
    content: "\e077";
    font-family: 'icomoon';
    font-size: 0.80em;
    font-weight: normal;
    color: #8d8d8d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.shooting-icon::before, .bib-icon::before, .timeline-cup-result-select-body-text.short {
    display: none;
}

.timeline-cup-result__select-body {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    flex-wrap: wrap;
    gap: 1.5em 16px;
    align-items: center;
}
.timeline-cup__flag {
    display: flex;
    align-items: center;
}
.timeline-cup__flag div {
    display: flex;
    gap: 0 5px;
    flex-wrap: wrap;
    width: min-content;
    white-space: nowrap;
}
.timeline-cup__flag select {
    outline: 1px solid #d0d9dd;
    border-radius: 3px;
    transition: all .3s ease;
    cursor: pointer;
}
.timeline-cup__select-flag {
    margin-left: 10px;
    padding: 5px 0 5px 5px;
    width: 98px;
}
.timeline-cup__flag span:nth-child(2) {
    font-size: 0.9em;
}
.timeline-cup-result__analysis-button a {
    padding: 6px 20px;
    background-color: #e7f3fa;
    position: relative;
    border-radius: 33px;
    z-index: 2;
    display: flex;
    transition: all .3s ease;
    -webkit-tap-highlight-color: transparent;
}
.timeline-cup-result-discription {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
}
.timeline-cup-result-discription-links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.toggle-style-table {
    display: flex;
    border-radius: 33px 0 0 33px;
    height: 28px;
    position: relative;
    width: 60px;
    cursor: pointer;
    justify-content: space-between;
    height: 22px;
    box-shadow: 0 1px 2px rgba(209, 235, 251,.5) inset, 0 -1px 0 rgba(209, 235, 251,.2) inset;
    background-color: #e7f3fa;
    border-radius: 33px;
    -webkit-tap-highlight-color: transparent;
}
.toggle-style-table__text {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    color: #5d5d5d;
    user-select: none;
}
.toggle-style-table__icon {
    position: absolute;
    top: -2.5px;
    height: 28px;
    width: 28px;
    left: -1px;
    border: 2px solid #c0e5fb;
    background-color: white;
    transition: all 0.4s ease;
    -webkit-tap-highlight-color: transparent;
}
.timeline-cup-result.modern .toggle-style-table__icon {
    border-radius: 50%;
}
.timeline-cup-result.old .toggle-style-table__icon {
    transform: translateX(33px) rotate(360deg);
    border-radius: 0;
}
.toggle-style-table__text {
    display: flex;
    justify-content: center;
    font-size: 0.7em;
}

.cell-container, .photo-profile {
    display: none;
}
.timeline-cup-result.modern tbody tr td:nth-child(2) img {
    display: none;
}
.timeline-cup-result.modern .cell-container {
    display: flex;
    flex-direction: column;
}
.timeline-cup-result.modern .photo-profile {
    display: block;
    background-color: white;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 0 1px 2px rgba(0,0,0,.3) inset, 0 -1px 0 rgba(0,0,0,.2) inset;
    transition: all 0.3s ease;
    overflow: hidden;
    scale: 1.01;
    -webkit-tap-highlight-color: transparent;
}
.timeline-cup-result.modern .photo-profile:hover {
    box-shadow: 0 1px 2px rgb(129, 170, 213, .4) inset, 0 -1px 0 rgb(129, 170, 213, .3) inset;
}
.timeline-cup-result.modern .photo-profile.wierer {
    background-image: url(img/profiles/1.png);
}
.timeline-cup-result.modern .photo-profile.vittozzi {
    background-image: url(img/profiles/2.png);
}
.timeline-cup-result.modern .photo-profile.herrmann {
    background-image: url(img/profiles/3.png);
}
.timeline-cup-result.modern .photo-profile.simon {
    background-image: url(img/profiles/4.png);
}
.timeline-cup-result.modern .photo-profile.lander {
    background-image: url(img/profiles/5.png);
}
.timeline-cup-result.modern .photo-profile.fogt {
    background-image: url(img/profiles/6.png);
}
.timeline-cup-result.modern .photo-profile.tandrevold {
    background-image: url(img/profiles/7.png);
}
.timeline-cup-result.modern .photo-profile.h-shevalye {
    background-image: url(img/profiles/8.png);
}
.timeline-cup-result.modern .photo-profile.knotten {
    background-image: url(img/profiles/9.png);
}
.timeline-cup-result.modern .photo-profile.p-klemenchich {
    background-image: url(img/profiles/10.png);
}
.timeline-cup-result.modern .photo-profile.kebinger {
    background-image: url(img/profiles/11.png);
}
.timeline-cup-result.modern .photo-profile.s-bushe {
    background-image: url(img/profiles/12.png);
}
.timeline-cup-result.modern .photo-profile.davidova {
    background-image: url(img/profiles/13.png);
}
.timeline-cup-result.modern .photo-profile.arnekleyv {
    background-image: url();
}
.timeline-cup-result.modern .photo-profile.tomingas {
    background-image: url(img/profiles/15.png);
}
.timeline-cup-result.modern .photo-profile.zhanmonno {
    background-image: url(img/profiles/16.png);
}
.timeline-cup-result.modern .photo-profile.auhentaller {
    background-image: url(img/profiles/17.png);
}
.timeline-cup-result.modern .photo-profile.zduch {
    background-image: url(img/profiles/18.png);
}
.timeline-cup-result.modern .photo-profile.baserga {
    background-image: url(img/profiles/19.png);
}
.timeline-cup-result.modern .photo-profile.e-oeberg {
    background-image: url(img/profiles/20.png);
}
.timeline-cup-result.modern .photo-profile.shtayner {
    background-image: url(img/profiles/21.png);
}
.timeline-cup-result.modern .photo-profile.hekki {
    background-image: url(img/profiles/22.png);
}
.timeline-cup-result.modern .photo-profile.h-oeberg {
    background-image: url(img/profiles/23.png);
}
.timeline-cup-result.modern .photo-profile.hettih {
    background-image: url(img/profiles/24.png);
}
.timeline-cup-result.modern .photo-profile.magnusson {
    background-image: url(img/profiles/25.png);
}
.timeline-cup-result.modern .photo-profile.harvatova {
    background-image: url(img/profiles/26.png);
}
.timeline-cup-result.modern .photo-profile.kolombo {
    background-image: url(img/profiles/27.png);
}
.timeline-cup-result.modern .photo-profile.mozer {
    background-image: url(img/profiles/28.png);
}
.timeline-cup-result.modern .photo-profile.passler {
    background-image: url(img/profiles/29.png);
}
.timeline-cup-result.modern .photo-profile.tachizaki {
    background-image: url(img/profiles/30.png);
}
.timeline-cup-result.modern .photo-profile.i-fialkova {
    background-image: url(img/profiles/31.png);
}
.timeline-cup-result.modern .photo-profile.bilosyuk {
    background-image: url(img/profiles/32.png);
}
.timeline-cup-result.modern .photo-profile.halvarsson {
    background-image: url();
}
.timeline-cup-result.modern .photo-profile.a-gasparin {
    background-image: url(img/profiles/34.png);
}
.timeline-cup-result.modern .photo-profile.avvakumova {
    background-image: url(img/profiles/35.png);
}
.timeline-cup-result.modern .photo-profile.yuppe {
    background-image: url(img/profiles/36.png);
}
.timeline-cup-result.modern .photo-profile.dzhima {
    background-image: url(img/profiles/37.png);
}
.timeline-cup-result.modern .photo-profile.merkushina {
    background-image: url(img/profiles/38.png);
}
.timeline-cup-result.modern .photo-profile.komola {
    background-image: url(img/profiles/39.png);
}
.timeline-cup-result.modern .photo-profile.brursson {
    background-image: url(img/profiles/40.png);
}
.timeline-cup-result.modern .photo-profile.vobornikova {
    background-image: url(img/profiles/41.png);
}
.timeline-cup-result.modern .photo-profile.rid {
    background-image: url(img/profiles/42.png);
}
.timeline-cup-result.modern .photo-profile.vaydely {
    background-image: url(img/profiles/43.png);
}
.timeline-cup-result.modern .photo-profile.li {
    background-image: url(img/profiles/44.png);
}
.timeline-cup-result.modern .photo-profile.persson {
    background-image: url(img/profiles/45.png);
}
.timeline-cup-result.modern .photo-profile.hauzer {
    background-image: url(img/profiles/46.png);
}
.timeline-cup-result.modern .photo-profile.tomashevska {
    background-image: url(img/profiles/47.png);
}
.timeline-cup-result.modern .photo-profile.irvin {
    background-image: url(img/profiles/48.png);
}
.timeline-cup-result.modern .photo-profile.p-fialkova {
    background-image: url(img/profiles/49.png);
}
.timeline-cup-result.modern .photo-profile.ermits {
    background-image: url(img/profiles/50.png);
}
.timeline-cup-result.modern .photo-profile.yislova {
    background-image: url(img/profiles/51.png);
}
.timeline-cup-result.modern .photo-profile.lien {
    background-image: url(img/profiles/52.png);
}
.timeline-cup-result.modern .photo-profile.minkkinen {
    background-image: url(img/profiles/53.png);
}
.timeline-cup-result.modern .photo-profile.blashko {
    background-image: url(img/profiles/54.png);
}
.timeline-cup-result.modern .photo-profile.royseland {
    background-image: url(img/profiles/55.png);
}
.timeline-cup-result.modern .photo-profile.yankya {
    background-image: url(img/profiles/56.png);
}
.timeline-cup-result.modern .photo-profile.kyuelym {
    background-image: url(img/profiles/57.png);
}
.timeline-cup-result.modern .photo-profile.el-gasparin {
    background-image: url(img/profiles/58.png);
}
.timeline-cup-result.modern .photo-profile.gandler {
    background-image: url(img/profiles/59.png);
}
.timeline-cup-result.modern .photo-profile.maka {
    background-image: url(img/profiles/60.png);
}
.timeline-cup-result.modern .photo-profile.lampich {
    background-image: url(img/profiles/61.png);
}
.timeline-cup-result.modern .photo-profile.kadeva {
    background-image: url(img/profiles/62.png);
}
.timeline-cup-result.modern .photo-profile.tolmacheva {
    background-image: url();
}
.timeline-cup-result.modern .photo-profile.shovo {
    background-image: url(img/profiles/64.png);
}
.timeline-cup-result.modern .photo-profile.femshteynevik {
    background-image: url(img/profiles/65.png);
}
.timeline-cup-result.modern .photo-profile.kondratyeva {
    background-image: url(img/profiles/66.png);
}
.timeline-cup-result.modern .photo-profile.levins {
    background-image: url(img/profiles/67.png);
}
.timeline-cup-result.modern .photo-profile.kochergina {
    background-image: url(img/profiles/68.png);
}
.timeline-cup-result.modern .photo-profile.yakela {
    background-image: url(img/profiles/69.png);
}
.timeline-cup-result.modern .photo-profile.talihyarm {
    background-image: url(img/profiles/70.png);
}
.timeline-cup-result.modern .photo-profile.payffer {
    background-image: url(img/profiles/71.png);
}
.timeline-cup-result.modern .photo-profile.kipyachenkova {
    background-image: url(img/profiles/72.png);
}
.timeline-cup-result.modern .photo-profile.lestsinskayte {
    background-image: url(img/profiles/73.png);
}
.timeline-cup-result.modern .photo-profile.sato {
    background-image: url(img/profiles/74.png);
}
.timeline-cup-result.modern .photo-profile.bendika {
    background-image: url(img/profiles/75.png);
}
.timeline-cup-result.modern .photo-profile.chon {
    background-image: url(img/profiles/76.png);
}
.timeline-cup-result.modern .photo-profile.dikinson {
    background-image: url(img/profiles/77.png);
}
.timeline-cup-result.modern .photo-profile.mayer {
    background-image: url(img/profiles/78.png);
}
.timeline-cup-result.modern .photo-profile.kinnunen {
    background-image: url(img/profiles/79.png);
}
.timeline-cup-result.modern .photo-profile.chirkova {
    background-image: url(img/profiles/80.png);
}
.timeline-cup-result.modern .photo-profile.meny {
    background-image: url(img/profiles/81.png);
}
.timeline-cup-result.modern .photo-profile.dikson {
    background-image: url(img/profiles/82.png);
}
.timeline-cup-result.modern .photo-profile.stremous {
    background-image: url(img/profiles/83.png);
}
.timeline-cup-result.modern .photo-profile.ahatova {
    background-image: url(img/profiles/84.png);
}
.timeline-cup-result.modern .photo-profile.z-remenova {
    background-image: url(img/profiles/85.png);
}
.timeline-cup-result.modern .photo-profile.hirnikely {
    background-image: url(img/profiles/86.png);
}
.timeline-cup-result.modern .photo-profile.remenova {
    background-image: url(img/profiles/87.png);
}
.timeline-cup-result.modern .photo-profile.fukuda {
    background-image: url(img/profiles/88.png);
}
.timeline-cup-result.modern .photo-profile.sabule {
    background-image: url(img/profiles/89.png);
}
.timeline-cup-result.modern .photo-profile.gilenko {
    background-image: url(img/profiles/90.png);
}
.timeline-cup-result.modern .photo-profile.vinklarkova {
    background-image: url(img/profiles/91.png);
}
.timeline-cup-result.modern .photo-profile.zdravkova {
    background-image: url(img/profiles/92.png);
}
.timeline-cup-result.modern .photo-profile.zhuk {
    background-image: url(img/profiles/93.png);
}
.timeline-cup-result.modern .photo-profile.todorova {
    background-image: url(img/profiles/94.png);
}
.timeline-cup-result.modern .photo-profile.kuuttinen {
    background-image: url();
}
.timeline-cup-result.modern .photo-profile.shnayder {
    background-image: url(img/profiles/96.png);
}
.timeline-cup-result.modern .photo-profile.yiny {
    background-image: url(img/profiles/97.png);
}


.timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(3) {
    padding: 2.4px 7px 2.4px 4.8px;
}
.timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(2) {
    padding: 4.8px 2.4px 4.8px 3.5px !important;
}
.timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(4), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(5), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(6), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(7), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(8) {
    padding: 4.8px 7px 4.8px 7px;
}
.nation {
    display: none;
}
.timeline-cup-result.modern .nation {
    display: initial;
}
.cell-container-name-nat {
    display: inline-flex;
    flex-direction: column;
}
.text-2 {
    display: none;
}
@media (hover: hover) {
    .timeline-cup__flag select:hover {
        outline-color: #bfc6ca;
    }
    .toggle-style-table:hover .toggle-style-table__icon {
        box-shadow: 0 0 0 2px rgba(192, 229, 251,.35);
    }
    .timeline-cup-result__analysis-button a:hover {
        background-color: #d1ebfb;
    }
    .timeline-cup-result-table tbody tr:not(:first-child, .active):hover td {
        background-color: #fffce5;
    }
    .timeline-cup .age-button-svg:hover path:nth-child(1) {
        fill: #1bd212;
    }
    .timeline-cup .age-button-svg:hover path:nth-child(3) {
        fill: #ff0000;
    }
    .timeline-cup .age-button-svg:hover path:nth-child(4) {
        fill: #fcd401;
    }
}

.personal-best {
    color: #08a400;
    cursor: help;
    position: relative;
}
.personal-best::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 1.5px;
    height: 100%;
    background-color: #08a400;
}

@media screen and (max-width: 992px) {
    .timeline-cup-result-table tbody tr td:nth-child(4), .timeline-cup-result-table tbody tr td:nth-child(5), .timeline-cup-result-table tbody tr td:nth-child(7) {
        max-width: none;
    }
}

@media screen and (max-width: 580px) {
    .text-1, .timeline-cup-result-select-body-text, .timeline-cup-result-table tbody tr td a.long-name, .shooting-icon span, .bib-icon span {
        display: none;
    }
    .text-2, .timeline-cup-result-select-body-text.short, .timeline-cup-result-table tbody tr td a.short-name, .shooting-icon::before, .bib-icon::before {
        display: initial;
    }
    .timeline-cup-result-table tr:first-child td:nth-child(8)::before {
        content: "";
    }
    .timeline-cup-result-table tr:first-child td:nth-child(7)::before {
        content: "\e925";
        font-family: 'icomoon';
        font-size: 0.80em;
        font-weight: normal;
        color: #8d8d8d;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(4), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(5), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(6), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(7), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(8) {
        padding: 4.8px 6px 4.8px 6px;
    }
      .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(3) {
        padding: 2.4px 6px 2.4px 4.8px;
    }
}
@media screen and (max-width: 550px) {
    .timeline-cup-result {
        padding: 2em 1.06em 2em 1.06em;
    }
}