#tippy-16 {
    width: auto;
}
#tippy-16 .tippy-content {
    overflow: hidden;
}
#tippy-16 ul li a {
    color: black !important;
    font-size: 13.5px !important;
    text-transform: none !important;
    padding: 0px 10px 0px 10px !important;
    transition: 0s !important;
    text-shadow: none !important;
    width: 100%;
    display: flex;
}
#tippy-16 ul li:last-of-type a {
    border-bottom: none !important;
}
  
#tippy-16 ul li::before, #tippy-16 ul li::after {
    display: none !important;
}
  
#tippy-16 ul li a:hover {
    background-color: #ecf5fb;
}
#tippy-16 ul li {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type a, #tippy-16 ul li:last-of-type a::before {
    color: red !important;
   }
#tippy-16 ul li:first-of-type a::before {
    content: "\e016";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:nth-child(2) a::before {
    content: "\e015";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:last-of-type a::before {
    content: "\e9b";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}

.timeline-tournament {
    padding: 2em 1.5em 2em 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
    overflow-x: hidden;
    /* background: url(img/picture/background.jpg); */
}
.timeline-tournament__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    position: relative;
    gap: 15px 25px;
}
.timeline__date {
    align-items: flex-start;
    margin-top: 5px;
}
.timeline-tournament__head > span:nth-child(1) {
    font-size: 1.3em;
    color: black;
    font-weight: 700;
}
.timeline-tournament__menu {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.tournament-menu__body {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px 7px;
    justify-content: center;
}
.timeline-tournament__menu a {
    display: inline-block;
    width: fit-content;
    padding: 7px 13px;
    background-color: #e7f3fa;
    white-space: nowrap;
    border-radius: 33px;
    transition: all .3s ease;
    -webkit-tap-highlight-color: transparent;
}
.timeline-tournament__menu a.active {
    background-color: #c0e5fb;
}

.timeline-tournament__team-container-title {
    display: block;
    color: #1f7ec4;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.timeline-tournament__forecast-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 30px;
    margin-bottom: 2em;
}
.view-conteiner-2 {
    display: flex;
    gap: 20px 15px;
    flex-direction: column;
}
.view-block-1, .view-block-2 {
    display: flex;
}
.view-block-1 span {
    background-color: #e7f3fa;
    border: 1px solid #C2DFF3;
    padding: 5px 15px;
    border-radius: 8px;
    color: #08a400;
    height: fit-content;
}
.timeline-tournament__forecast-title {
    margin-bottom: 2em;
    background-color: #d1ebfb;
}
.timeline-tournament__forecast-table-bonus {
    margin-bottom: 1em;
}
.timeline-tournament__forecast-title, .timeline-tournament__forecast-table-bonus {
    display: flex;
    justify-content: center;
}
.bonus-icon {
    width: 40px;
    height: 40px;
    fill: #ff0d0d;
}
.timeline-tournament__forecast-table-scores {
    display: flex;
    margin-bottom: 1em;
    gap: 20px;
    flex-wrap: wrap;
}
.timeline-tournament__forecast-table-scores-container {
    display: flex;
    align-items: center;
}
.timeline-tournament__forecast-table-scores-block {
    padding: 4px 10px;
}
.timeline-tournament__forecast-table-scores-block:first-child {
    padding-left: 0;
    color: #1f7ec4;
    font-size: 1.2em;
}
.number {
    width: 35px;
    text-align: center;
}
.timeline-tournament__forecast-table-scores-block.forecast-red {
    border-radius: 3px 0 0 3px;
}
.timeline-tournament__forecast-table-scores-block.forecast-green {
    border-radius: 0 3px 3px 0;
}
.forecast-red {
    background: radial-gradient(circle, rgb(255, 163, 163) 0%, rgb(255, 115, 115) 100%);
}
.forecast-blue {
    background: radial-gradient(circle, rgb(173, 214, 255) 0%, rgb(129, 192, 255) 100%);
}
.forecast-pink {
    background: radial-gradient(circle, rgb(255, 199, 241) 0%, rgb(255, 143, 227) 100%);
}
.forecast-yellow {
    background: radial-gradient(circle, rgb(255, 250, 221) 0%, rgb(246, 234, 167) 100%);
}
.forecast-green {
    background: radial-gradient(circle, rgb(188, 242, 188) 0%, rgb(125, 227, 125) 100%);
}
.timeline-tournament__forecast-table .forecast-yellow {
    background: radial-gradient(circle, rgb(255, 250, 221) 0%, rgb(246, 234, 167) 100%);
    box-shadow: inset 0 -1px 0 0 white, inset 0 1px 0 0 white;
}
.timeline-tournament__forecast-table .forecast-blue {
    background: radial-gradient(circle, rgb(173, 214, 255) 0%, rgb(129, 192, 255) 100%);
    box-shadow: inset 0 -1px 0 0 white, inset 0 1px 0 0 white;
}
.timeline-tournament__forecast-table .forecast-red {
    background: radial-gradient(circle, rgb(255, 163, 163) 0%, rgb(255, 115, 115) 100%);
    box-shadow: inset 0 -1px 0 0 white, inset 0 1px 0 0 white;
}
.timeline-tournament__forecast-table .forecast-green {
    background: radial-gradient(circle, rgb(188, 242, 188) 0%, rgb(125, 227, 125) 100%);
    box-shadow: inset 0 -1px 0 0 white, inset 0 1px 0 0 white;
}
.timeline-tournament__forecast-table .forecast-pink {
    background: radial-gradient(circle, rgb(255, 199, 241) 0%, rgb(255, 143, 227) 100%);
    box-shadow: inset 0 -1px 0 0 white, inset 0 1px 0 0 white;
}
.timeline-tournament__forecast-table-wrapper {
    overflow-x: auto;
    margin-bottom: 1em;
}
.timeline-tournament__forecast-table {
    border-collapse: collapse;
    width: 100%;
}
.timeline-tournament__forecast-table-2 {
    border-collapse: collapse;
    margin: 0 auto;
}
.timeline-tournament__forecast-table tr td, .timeline-tournament__forecast-table-2 tr td {
    padding: 2.4px 7px;
    white-space: nowrap;
}
.timeline-tournament__forecast-table tbody tr:nth-child(2n+1), .timeline-tournament__forecast-table-2 tbody tr:nth-child(2n) {
    background-color: #e7f3fa;
}
.timeline-tournament__forecast-table tr td:not(:nth-child(3)), .timeline-tournament__forecast-table-2 tr td:not(:last-child) {
    text-align: center;
}
.timeline-tournament__forecast-table-2 tr td:last-child {
    padding-left: 0;
}
.timeline-tournament__forecast-table thead tr:first-child td, .timeline-tournament__forecast-table-2 thead tr td {
    color: #5d5d5d;
}
.timeline-tournament__forecast-table tbody tr td:nth-child(2), .timeline-tournament__forecast-table-2 tbody tr td:nth-child(3) {
    font-weight: 600;
    font-size: 0.95em;
    padding-right: 0;
}
.timeline-tournament__forecast-table-2 thead tr td:nth-child(3) {
    padding-right: 0;
}

.timeline-tournament__forecast-table tr td:nth-child(2) {
    width: 32.4px;
    padding-right: 0;
}
.shooting-icon, .extra-scores {
    position: relative;
    cursor: help;
}
.shooting-icon::before {
    content: "\e077";
    font-family: 'icomoon';
    font-size: 0.80em;
    font-weight: normal;
    color: #8d8d8d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.forecast-red-color {
    color: red;
    font-weight: 600;
    font-size: 0.95em;
}
.timeline-tournament__team-container-title-2 {
    color: #1f7ec4;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.timeline-tournament__team-container-title-3 {
    font-weight: 600;
    margin-top: 2em;
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 0.5em;
}
.tr-marked {
    background-color: #ffcfe8 !important;
    box-shadow: 0 0 0 1px white;
}
.shooting-icon::before {
    display: none;
}

.extra-scores svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11.5px;
    height: 11.5px;
    fill: #8d8d8d;
    display: none;
}


@media (hover: hover) {
    .timeline-tournament__forecast-table tbody tr:hover td, .timeline-tournament__forecast-table-2 tbody tr:hover:not(.tr-marked) td {
        background-color: #fffce5;
    }
    .timeline-tournament__menu a:hover:not(.active) {
        background-color: #d1ebfb;
    }
    .tr-marked:hover {
        background-color: #ffbee0 !important;
    }
}

@media screen and (max-width: 550px) {
    .timeline-tournament {
        padding: 2em 1.06em 2em 1.06em;
    }
    .shooting-icon::before, .extra-scores svg {
        display: inherit;
    }
    .shooting-icon span, .extra-scores span {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .timeline-tournament__forecast-table-2 tr td {
        padding: 2.4px 6px;
    }
}







html[data-theme="dark"] .tournament-menu__body a, html[data-theme="dark"] .view-block-1 span {
    background-color: #15314d;
}
html[data-theme="dark"] .view-block-1 span {
    border-color: #215994;
}
html[data-theme="dark"] .timeline-tournament, html[data-theme="dark"] .timeline-tournament__head > span:nth-child(1) {
    color: #dfdfdf;
}
html[data-theme="dark"] .timeline-tournament {
    background-color: #202124;
}
html[data-theme="dark"] .timeline-tournament__team-container-title, html[data-theme="dark"] .timeline-tournament__forecast-table-scores-block:first-child, html[data-theme="dark"] .timeline-tournament__team-container-title-2 {
    color: #2b7ed7;
}
html[data-theme="dark"] .timeline-tournament__forecast-title {
    background-color: #1f2d40;
}
html[data-theme="dark"] .timeline-tournament__forecast-table thead tr:first-child td, html[data-theme="dark"] .timeline-tournament__forecast-table-2 thead tr td {
    color: #b5b5b5;
}
html[data-theme="dark"] .bonus-icon {
    fill: #ee3232;
}
html[data-theme="dark"] .forecast-red-color {
    color: #d40000;
}
html[data-theme="dark"] .timeline-tournament__forecast-table tbody tr:nth-child(2n+1), html[data-theme="dark"] .timeline-tournament__forecast-table-2 tbody tr:nth-child(2n) {
    background-color: #1f2d40;
}
html[data-theme="dark"] .tr-marked {
    box-shadow: 0 0 0 1px #202124;
    background-color: #4a3d44 !important;
}


html[data-theme="dark"] .timeline-tournament__forecast-table .forecast-blue, html[data-theme="dark"] .timeline-tournament__forecast-table .forecast-yellow {
    box-shadow: inset 0 -1px 0 0 #202124, inset 0 1px 0 0 #202124;
}
html[data-theme="dark"] .forecast-yellow {
    background: radial-gradient(circle, rgb(168, 168, 101) 0%, rgb(164, 164, 81) 100%);
}
html[data-theme="dark"] .forecast-green {
    background: radial-gradient(circle, rgb(96, 158, 96) 0%, rgb(81, 137, 81) 100%);
}
html[data-theme="dark"] .forecast-pink {
    background: radial-gradient(circle, rgb(182, 107, 163) 0%, rgb(185, 102, 164) 100%);
}
html[data-theme="dark"] .forecast-blue {
    background: radial-gradient(circle, rgb(88, 125, 160) 0%, rgb(77, 119, 160) 100%);
}
html[data-theme="dark"] .forecast-red {
    background: radial-gradient(circle, rgb(206, 107, 107) 0%, rgb(205, 94, 94) 100%);
}



@media (hover: hover) {
    html[data-theme="dark"] .tr-marked:hover {
        background-color: #51434b !important;
    }
    html[data-theme="dark"] .timeline-tournament__forecast-table tbody tr:hover td, html[data-theme="dark"] .timeline-tournament__forecast-table-2 tbody tr:hover:not(.tr-marked) td {
        background-color: #282720;
    }
    html[data-theme="dark"] .tournament-menu__body a:hover:not(.active) {
        background-color: #184779;
        color: #abcbff !important;
    }
}









html[data-theme="Black"] .tournament-menu__body a, html[data-theme="Black"] .view-block-1 span {
    background-color: #102442;
}
html[data-theme="Black"] .view-block-1 span {
    border-color: #1a3359;
}
html[data-theme="Black"] .timeline-tournament, html[data-theme="Black"] .timeline-tournament__head > span:nth-child(1) {
    color: #c9ccd0;
}
html[data-theme="Black"] .timeline-tournament {
    background-color: #121212;
    border: 1px solid #292a2c;
}
html[data-theme="Black"] .timeline-tournament__team-container-title, html[data-theme="Black"] .timeline-tournament__forecast-table-scores-block:first-child, html[data-theme="Black"] .timeline-tournament__team-container-title-2 {
    color: #326bb3;
}
html[data-theme="Black"] .timeline-tournament__forecast-title {
    background-color: #0e1721;
}
html[data-theme="Black"] .timeline-tournament__forecast-table thead tr:first-child td, html[data-theme="Black"] .timeline-tournament__forecast-table-2 thead tr td {
    color: #a4a6a7;
}
html[data-theme="Black"] .bonus-icon {
    fill: #d40000;
}
html[data-theme="Black"] .forecast-red-color {
    color: #d40000;
}
html[data-theme="Black"] .timeline-tournament__forecast-table tbody tr:nth-child(2n+1), html[data-theme="Black"] .timeline-tournament__forecast-table-2 tbody tr:nth-child(2n) {
    background-color: #0e1721;
}
html[data-theme="Black"] .tr-marked {
    box-shadow: 0 0 0 1px #121212;
    background-color: #32292e !important;
}


html[data-theme="Black"] .timeline-tournament__forecast-table .forecast-blue, html[data-theme="Black"] .timeline-tournament__forecast-table .forecast-yellow {
    box-shadow: inset 0 -1px 0 0 #121212, inset 0 1px 0 0 #121212;
}
html[data-theme="Black"] .forecast-yellow {
    background: radial-gradient(circle, rgb(140, 140, 85) 0%, rgb(151, 151, 69) 100%);
}
html[data-theme="Black"] .forecast-green {
    background: radial-gradient(circle, rgb(82, 128, 82) 0%, rgb(69, 115, 69) 100%);
}
html[data-theme="Black"] .forecast-pink {
    background: radial-gradient(circle, rgb(117, 76, 106) 0%, rgb(119, 67, 106) 100%);
}
html[data-theme="Black"] .forecast-blue {
    background: radial-gradient(circle, rgb(64, 88, 112) 0%, rgb(55, 84, 113) 100%);
}
html[data-theme="Black"] .forecast-red {
    background: radial-gradient(circle, rgb(144, 70, 70) 0%, rgb(147, 65, 65) 100%);
}



@media (hover: hover) {
    html[data-theme="Black"] .tr-marked:hover {
        background-color: #3c3137 !important;
    }
    html[data-theme="Black"] .timeline-tournament__forecast-table tbody tr:hover td, html[data-theme="Black"] .timeline-tournament__forecast-table-2 tbody tr:hover:not(.tr-marked) td {
        background-color: #232219;
    }
    html[data-theme="Black"] .tournament-menu__body a:hover:not(.active) {
        background-color: #173660;
        color: #6688c0 !important;
    }
}










html[data-theme="summer"] .tournament-menu__body a, html[data-theme="summer"] .view-block-1 span {
    background-color: #ffefc9;
}
html[data-theme="summer"] .timeline-tournament__body a {
    color: #348232;
}
html[data-theme="summer"] .timeline-tournament__body a:hover {
    color: #63b961 !important;
    border-color: #63b961 !important;
}
html[data-theme="summer"] .view-block-1 span {
    border-color: #ffe4a4;
}
html[data-theme="summer"] .timeline-tournament {
    background-color: #fffdf8;
}
html[data-theme="summer"] .timeline-tournament__team-container-title, html[data-theme="summer"] .timeline-tournament__forecast-table-scores-block:first-child, html[data-theme="summer"] .timeline-tournament__team-container-title-2 {
    color: #e99e00;
}
html[data-theme="summer"] .timeline-tournament__forecast-title {
    background-color: #fff2d5;
}
html[data-theme="summer"] .bonus-icon {
    fill: #ff4949;
}
html[data-theme="summer"] .forecast-red-color {
    color: #ff4949;
}
html[data-theme="summer"] .timeline-tournament__forecast-table tbody tr:nth-child(2n+1), html[data-theme="summer"] .timeline-tournament__forecast-table-2 tbody tr:nth-child(2n) {
    background-color: #fff2d5;
}
html[data-theme="summer"] .tr-marked {
    box-shadow: 0 0 0 1px #fffdf8;
    background-color: #fbd2e7 !important;
}


html[data-theme="summer"] .timeline-tournament__forecast-table .forecast-blue, html[data-theme="summer"] .timeline-tournament__forecast-table .forecast-yellow {
    box-shadow: inset 0 -1px 0 0 #fffdf8, inset 0 1px 0 0 #fffdf8;
}
html[data-theme="Black"] .forecast-yellow {
    background: radial-gradient(circle, rgb(140, 140, 85) 0%, rgb(151, 151, 69) 100%);
}
html[data-theme="Black"] .forecast-green {
    background: radial-gradient(circle, rgb(82, 128, 82) 0%, rgb(69, 115, 69) 100%);
}
html[data-theme="Black"] .forecast-pink {
    background: radial-gradient(circle, rgb(117, 76, 106) 0%, rgb(119, 67, 106) 100%);
}
html[data-theme="Black"] .forecast-blue {
    background: radial-gradient(circle, rgb(64, 88, 112) 0%, rgb(55, 84, 113) 100%);
}
html[data-theme="Black"] .forecast-red {
    background: radial-gradient(circle, rgb(144, 70, 70) 0%, rgb(147, 65, 65) 100%);
}



@media (hover: hover) {
    html[data-theme="summer"] .tr-marked:hover {
        background-color: #f9c8e1 !important;
    }
    html[data-theme="summer"] .timeline-tournament__forecast-table tbody tr:hover td, html[data-theme="summer"] .timeline-tournament__forecast-table-2 tbody tr:hover:not(.tr-marked) td {
        background-color: #e2f4e2;
    }
    html[data-theme="summer"] .tournament-menu__body a:hover {
        background-color: #ffe9b6;
        color: #348232 !important;
    }
}









html[data-theme="grey"] .tournament-menu__body a, html[data-theme="grey"] .view-block-1 span {
    background-color: #e9e9e9;
}
html[data-theme="grey"] .view-block-1 span {
    border-color: #dadada;
}
html[data-theme="grey"] .timeline-tournament {
    color: #1e1e1e;
}
html[data-theme="grey"] .timeline-tournament__team-container-title, html[data-theme="grey"] .timeline-tournament__forecast-table-scores-block:first-child, html[data-theme="grey"] .timeline-tournament__team-container-title-2 {
    color: #648099;
}
html[data-theme="grey"] .timeline-tournament__forecast-title {
    background-color: #eeeeee;
}
html[data-theme="grey"] .timeline-tournament__forecast-table thead tr:first-child td, html[data-theme="grey"] .timeline-tournament__forecast-table-2 thead tr td {
    color: #7e7e7e;
}
html[data-theme="grey"] .bonus-icon {
    fill: #ff0d0d;
}
html[data-theme="grey"] .forecast-red-color {
    color: #ee3232;
}
html[data-theme="grey"] .timeline-tournament__forecast-table tbody tr:nth-child(2n+1), html[data-theme="grey"] .timeline-tournament__forecast-table-2 tbody tr:nth-child(2n) {
    background-color: #eeeeee;
}
html[data-theme="grey"] .view-block-1 span {
    color: #50ae4b;
}

html[data-theme="grey"] .tr-marked {
    background-color: #f4d4e5 !important;
}


html[data-theme="grey"] .forecast-yellow {
    background: radial-gradient(circle, rgba(247, 247, 188, 0.7) 0%, rgb(247, 247, 188) 100%);
}
html[data-theme="grey"] .forecast-green {
    background: radial-gradient(circle, rgba(196, 227, 196, 0.7) 0%, rgb(196, 227, 196) 100%);
}
html[data-theme="grey"] .forecast-pink {
    background: radial-gradient(circle, rgba(255, 186, 238, 0.7) 0%, rgb(255, 186, 238) 100%);
}
html[data-theme="grey"] .forecast-blue {
    background: radial-gradient(circle, rgba(164, 209, 255, 0.7) 0%, rgb(164, 209, 255) 100%);
}
html[data-theme="grey"] .forecast-red {
    background: radial-gradient(circle, rgba(255, 172, 172, 0.7) 0%, rgb(255, 172, 172) 100%);
}



@media (hover: hover) {
    html[data-theme="grey"] .tr-marked:hover {
        background-color: #f4cbe1 !important;
    }
    html[data-theme="grey"] .tournament-menu__body a:hover {
        background-color: #e0e0e0;
        color: #2f5278 !important;
    }
}

