#tippy-16 li::before, #tippy-16 li::after {
    display: none;
}
#tippy-16 ul li:first-of-type a::before {
    content: "\e016";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:nth-child(2) a::before {
    content: "\e015";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
  }
#tippy-16 ul li a {
    color: black !important;
    font-size: 13.5px !important;
    text-transform: none !important;
    padding: 0px 10px 0px 10px !important;
    transition: 0s !important;
    text-shadow: none !important;
    width: 100%;
    display: flex;
}
#tippy-16 ul li:last-of-type a::before {
    content: "\e9b";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:last-of-type a, #tippy-16 ul li:last-of-type a::before {
    color: red !important;
}
#tippy-16 ul li {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li a:hover {
    background-color: #ecf5fb;
}
#tippy-16 .tippy-content {
    overflow: hidden;
}

html[data-theme="dark"] #tippy-16 ul li a {
    color: #e1e1e1 !important;
}
html[data-theme="dark"] #tippy-16 ul li a:hover {
    background-color: #293139;
}
html[data-theme="dark"] #tippy-16 ul li:first-of-type a::before, html[data-theme="dark"] #tippy-16 ul li:nth-child(2) a::before {
    color: rgba(47, 111, 200, 0.85);
}
html[data-theme="dark"] #tippy-16 ul li:last-of-type a, html[data-theme="dark"] #tippy-16 ul li:last-of-type a::before {
    color: #d40000 !important;
}
html[data-theme="summer"] #tippy-16 ul li:first-of-type a::before, html[data-theme="summer"] #tippy-16 ul li:nth-child(2) a::before {
    color: rgb(101, 192, 99);
}
html[data-theme="summer"] #tippy-16 ul li a:hover {
    background-color: #fdf8ed
}
html[data-theme="Black"] #tippy-16 ul li a {
    color: #c9ccd0 !important;
}
html[data-theme="Black"] #tippy-16 ul li:first-of-type a::before, html[data-theme="Black"] #tippy-16 ul li:nth-child(2) a::before {
    color: #265591;
}
html[data-theme="Black"] #tippy-16 ul li:last-of-type a, html[data-theme="Black"] #tippy-16 ul li:last-of-type a:before {
    color: #d40000 !important;
}
html[data-theme="Black"] #tippy-16 ul li a:hover {
    background-color: #19202b;
}
html[data-theme="grey"] #tippy-16 ul li a {
    color: #1e1e1e !important;
}
html[data-theme="grey"] #tippy-16 ul li:first-of-type a::before, html[data-theme="grey"] #tippy-16 ul li:nth-child(2) a::before {
    color: rgba(98, 129, 157, 0.75);
}
html[data-theme="grey"] #tippy-16 ul li:last-of-type a, html[data-theme="grey"] #tippy-16 ul li:last-of-type a:before {
    color: #ee3232 !important;
}
html[data-theme="grey"] #tippy-16 ul li a:hover {
    background-color: #f5f5f5;
}


.timeline-cup {
    padding: 2em 1.5em 1.75em 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
    overflow-x: hidden;
}
.timeline-cup__head {
    /* padding-bottom: 0.75em; */
    margin-bottom: 1.5em;
    position: relative;
    /* display: flex;
    justify-content: space-between; */
}
.timeline-cup__head span:nth-child(1) {
    font-size: 1.3em;
    color: black;
    font-weight: 700;
    padding-right: 58px;
}

.age-button {
    display: flex;
    /* width: 35px; */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.age-button-svg {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.age-button-svg path {
    fill: #84acd4;
    transition: all .3s ease;
}
.timeline-cup.profiles-color .age-button-svg path:nth-child(1) {
    fill: #1bd212;
}
.timeline-cup.profiles-color .age-button-svg path:nth-child(3) {
    fill: #ff0000;
}
.timeline-cup.profiles-color .age-button-svg path:nth-child(4) {
    fill: #fcd401;
}
.age-color-1, .age-color-2, .age-color-3, .age-color-4, .age-color-5, .age-color-6 {
    transition: background-color .3s ease;
}
.timeline-cup.profiles-color .age-color-1 {
    /* background-color: #bcffbc; */
    /* background-color: #c1ffc1; */
    background-color: #cfffcf;
}
.timeline-cup.profiles-color .age-color-2 {
    /* background-color: #5bff5b; */
    background-color: #95ff95;
}
.timeline-cup.profiles-color .age-color-3 {
    /* background-color: rgb(255, 255, 164); */
    /* background-color: #ffffba; */
    background-color: #ffc;
}
.timeline-cup.profiles-color .age-color-4 {
    /* background-color: #ffff3c; */
    background-color: #ff7;
}
.timeline-cup.profiles-color .age-color-5 {
    /* background-color: #ffc1c1; */
    /* background-color: #ffd0d0; */
    background-color: #ffd4d4;
}
.timeline-cup.profiles-color .age-color-6 {
    /* background-color: #ff7b7b; */
    background-color: #ff9f9f;
}

.timeline-cup.points-table-1 .points-button-td, .timeline-cup.points-table-2 .points-button-td-2 {
    min-width: 51px;
}
.timeline-cup.points-table-1 .timeline-cup-table-male tbody td:nth-child(4), .timeline-cup.points-table-2 .timeline-cup-table-female tbody td:nth-child(4) {
    width: 161px;
}

/* .age-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.age-button-icon {
    background-image: url(img/Age-5.png);
    background-size: cover;
    transition: all 0.4s ease;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.age-button-icon:hover {
    transform: rotate(360deg);
}
.age-button-icon:hover ~ .age-button-title {
    color: red;
}
.age-button-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-size: 12px;
    transition: all 0.4s ease;
    color: #002b71;
} */

/* .age-button::before {
    content: "\e91f";
    font-family: 'icomoon';
    font-size: 1.5em;
    font-weight: normal;
    padding-left: 5px;
    color: #81aad5;
} */
.timeline-cup__body {
}
.timeline-cup__navbar {
    /* margin-top: 0.75em; */
    margin-top: 0.75em;
    background-color: white;
    /* padding-bottom: 0.75em; */
    padding-bottom: 1em;
}

.timeline-cup__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.timeline-cup__list li {
    background-color: #e7f3fa;
    cursor: pointer;
    outline: 1px solid #d0d9dd;
    flex: 1 1 auto;
    text-align: center;
    color: #002b71;
    transition: all .3s ease;
    -webkit-tap-highlight-color: transparent;
}
.timeline-cup__list li:hover {
    background-color: #d1ebfb;
}
.timeline-cup__list-short {
    display: none;
}
.timeline-cup__list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
}

.timeline-cup__select-body {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5em;
    flex-wrap: wrap;
    gap: 1.5em 16px;
}
.timeline-cup__flag {
    display: flex;
    align-items: center;
}
.timeline-cup__select-flag {
    margin-left: 7px;
    /* padding: 5px;
    width: 102px; */
    padding: 5px 0 5px 5px;
    width: 98px;
}
.timeline-cup__select-season {
    margin-left: 7px;
    padding: 5px 0 5px 5px;
}
.timeline-cup__select-menu {
    display: flex;
    align-items: center;
}
.timeline-cup__footer {
}

.hide-profile {
    display: none;
}
.compare-icon:before {
    /* content: "\e91b"; */
    content: "\e91c";
    font-family: 'icomoon';
    color: #8d8d8d;
    font-size: 0.85em;
}

.timeline-cup__list li.active {
    background-color: #c0e5fb;
}
/* .timeline-cup__bottom-navbar {
    display: none;
} */
/* .timeline-cup__bottom-navbar-flag {
}
.timeline-cup__bottom-navbar-season {
}
.timeline-cup__bottom-navbar-compare {
}
.timeline-cup__bottom-navbar-gender {
}
.timeline-cup__bottom-navbar-male {
}
.timeline-cup__bottom-navbar-female {
} */
.timeline-cup__select-body.smart {
    display: none;
}
.timeline-cup__select-body select {
    outline: 1px solid #d0d9dd;
}
/* .body.fixed .footer {
    margin-bottom: 40px;
} */

.timeline-cup-tables {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow-x: auto;
    gap: 20px;
}
.timeline-cup-table {
    /* background-color: #e7f3fa; */
    /* font-size: 0.95em; */
    border-collapse: collapse;
    margin-top: 10px;
}
.timeline-cup-table tr {
    /* height: 25.35px; */
    /* display: flex; */
}
.timeline-cup-table tbody tr:nth-child(2n) {
    /* background-color: #d6ecf9; */
    background-color: #e7f3fa;
}
.timeline-cup-table tbody tr td:nth-child(2) {
    min-width: 25px;
    text-align: center;
}
.timeline-cup-table tbody tr:not(:first-child) td:nth-child(2) {
    font-weight: 600;
    font-size: 0.85em;
    padding-bottom: 4px;
    text-align: center;
}

.timeline-cup-table tbody tr td:first-child {
    font-size: 11.5px; 
    min-width: 28.8px;
}
.timeline-cup-table tbody tr:not(:first-child) td:first-child {
    padding-bottom: 4px;
}
.timeline-cup-table .red {
    color: red;
}
.timeline-cup-table .green {
    color: #1bd212;
}
.timeline-cup-table .new-result {
    color: #fcd401;
}
.timeline-cup-table tbody tr:nth-child(1) {
    background-color: white;
    color: #5d5d5d;
}
.timeline-cup-table img {
    cursor: pointer;
}
.timeline-cup-table tbody tr td:first-child, .timeline-cup-table tbody tr td:last-child {
    text-align: center;
}
.timeline-cup-table tbody tr td {
    padding: 2.4px;
    white-space: nowrap;
}
.timeline-cup-table tbody tr td:last-child {
    /* width: 40.4667px; */
    /* min-width: 41.5px; */
    min-width: 62px;
    padding: 0;
}
/* .table-compare-exemple-3 tr:not(:first-child), .table-compare-exemple-4 tr:not(:first-child) {
    display: flex;
    width: 330.9px;
} */
.timeline-cup-table tbody tr td:nth-child(3) {
    width: 22.8px;
}
.timeline-cup-table a:hover {
    color: #73b5e5;
    border-bottom: 1px solid #73b5e5;
}
.timeline-cup-table-title tr:first-child td {
    text-align: center;
    /* height: 50px; */
    font-weight: 600;
    /* font-size: 1.1em; */
    text-transform: uppercase;
    color: #1f7ec4;
    font-family: tahoma, Arial, Helvetica, sans-serif;
}

/* .timeline-cup-table tbody {
    margin-top: 20px;
    display: block;
} */

/* .timeline-cup-table-title tr:first-child td::after {
    content: "\e91e";
    font-family: 'icomoon';
    color: #81aad5;
    font-size: 1em;
    padding-left: 5px;
    font-weight: normal;
} */

.timeline-cup__flag span {
    display: flex;
    gap: 0 5px;
    flex-wrap: wrap;
    width: min-content;
    white-space: nowrap;
}
.timeline-cup__flag i {
    font-style: normal;
}
.timeline-cup__flag i:nth-child(2) {
    font-size: 0.9em;
}
.no-change-legend::before {
    content: '=';
}

/* .timeline-cup.norway .norway-string {
    background-color: #ffcae5;
} */
.chosen-string.active {
    background-color: #ffcae5 !important;
}


.timeline__more-tables {
    padding: 2em 1.5em 1.75em 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
}
.timeline__more-tables-head {
    padding-bottom: 0.75em;
}
.timeline__more-tables-head span {
    font-size: 1.3em;
    font-weight: 700;
}

.timeline__more-tables-body {
    margin-top: 0.75em;
    /* border: 1px solid #d0d9dd;
    padding: 15px;
    border-radius: 15px; */
}
.timeline__more-tables-body svg {
    position: absolute;
    top: 0;
    right: 0;
    fill: #e7f3fa;
    height: 130px;
    width: 130px;
    z-index: -1;
}
.timeline__more-tables-body ul {
    position: relative;
    height: 130px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    z-index: 1;
}
.timeline__more-tables-body li {
    /* list-style: disc;
    list-style-position: inside; */
}
.timeline__more-tables-body li::before {
    content: "\e902";
    font-family: 'icomoon';
    color: #81aad5;
    font-size: 0.95em;
    padding-right: 5px;
}

.timeline__more-tables-body li.active::before {
    color: #8d8d8d;
}
.timeline__more-tables-body li.active {
    color: #5d5d5d;
}

.table-compare {
    display: none;
}

.timeline-cup.another-table .timeline-cup-table {
    display: none;
}
.timeline-cup.another-table .table-compare {
    display: block;
}


.table-title-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    /* margin: 5px 0 15px 0; */
    margin-top: 10px;
}

.table-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 2;
    width: 42px;
    height: 42px;
    cursor: default;
    background-color: white;
    font-weight: 600;
    color: #464646;
    /* border: 1px solid #dfedf4; */
    border: 1px solid #ddeffa;
    font-family: tahoma;
}

.table-button {
    color: #002b71;
    transition: all .3s ease;
}
.table-button-now-1.active::before, .table-button-earlier-1.active::before, .table-button-now-2.active::before, .table-button-earlier-2.active::before {
    width: calc(100% + 1px);
}
.table-button-now-1, .table-button-now-2 {
    border-radius: 33px 0 0 33px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0px 32px 0px 15px;
    height: 33px;
    -webkit-tap-highlight-color: transparent;
}
.table-button-earlier-1, .table-button-earlier-2 {
    border-radius: 0 33px 33px 0;
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0px 15px 0px 32px;
    height: 33px;
    -webkit-tap-highlight-color: transparent;
}
.table-button::before {
    content: '';
    position: absolute;
    top: 0px;
    height: 100%;
    width: 0;
    background-color: #ddeffa;
    z-index: -1;
    transition: all 0.4s ease;
}
.table-button-now-1::before, .table-button-now-2::before {
    right: 0;
    border-radius: 33px 0 0 33px;
}

.table-button-earlier-1::before, .table-button-earlier-2::before {
    left: 0;
    border-radius: 0 33px 33px 0;
}

.table-title-body:before {

}
.another-table .timeline-cup-table-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.table-compare-exemple-2 .compare-icon-2::before, .table-compare-exemple-4 .compare-icon-2::before {
        content: "\e91d";
        font-family: 'icomoon';
        color: #8d8d8d;
        font-size: 1.05em;
}
.timeline-cup-table-male tbody td:nth-child(4) {
    /* width: 203.383px; */
    /* width: 202.6px; */
    width: 150px;
    display: block;
}
.timeline-cup-table-female tbody td:nth-child(4) {
    /* min-width: 212.767px; */
    min-width: 150px;
    display: block;
}
.table-compare-exemple-2 tr td:nth-child(3), .table-compare-exemple-4 tr td:nth-child(3) {
    width: 22.8px;
}
/* .table-compare-exemple-4 tr td:nth-child(4) {
    min-width: 212.767px;
    display: block;
} */

.table-compare-exemple-2, .table-compare-exemple-4 {
    display: none;
}
.timeline-cup.another-table-2 .table-compare-exemple-1, .timeline-cup.another-table-3 .table-compare-exemple-3 {
    display: none;
}
.based-table, .table-compare-exemple-3, .table-compare-exemple-1, .timeline-cup.another-table-2 .table-compare-exemple-2, .timeline-cup.another-table-3 .table-compare-exemple-4 {
    margin-top: 20px;
    display: block;
}

/* .timeline-cup-table .timeline-cup.another-table-1,  {
    margin-top: 20px;
    display: block;
} */


.table-button-now-1:focus, .table-button-now-2:focus, .table-button-earlier-1:focus, .table-button-earlier-2:focus {
    box-shadow: inset 0px 0px 0px 1px #ddeffa;
    -webkit-tap-highlight-color: transparent;
}

.timeline-cup-table tbody tr td.points-button-td, .timeline-cup-table tbody tr td.points-button-td-2 {
    padding: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.timeline-cup-table tbody tr:nth-child(7) td, .timeline-cup-table tbody tr:nth-child(8) td, .timeline-cup-table tbody tr:nth-child(9) td, .timeline-cup-table tbody tr:nth-child(10) td, .timeline-cup-table tbody tr:nth-child(11) td, .timeline-cup-table tbody tr:nth-child(19) td, .timeline-cup-table tbody tr:nth-child(20) td, .timeline-cup-table tbody tr:nth-child(21) td, .timeline-cup-table tbody tr:nth-child(22) td, .timeline-cup-table tbody tr:nth-child(23) td, .timeline-cup-table tbody tr:nth-child(24) td, .timeline-cup-table tbody tr:nth-child(27) td, .timeline-cup-table tbody tr:nth-child(28) td, .timeline-cup-table tbody tr:nth-child(29) td, .timeline-cup-table tbody tr:nth-child(30) td, .timeline-cup-table tbody tr:nth-child(31) td {
    position: relative;
}
.timeline-cup-table tbody tr:nth-child(7) td:first-child::after, .timeline-cup-table tbody tr:nth-child(8) td:first-child::after, .timeline-cup-table tbody tr:nth-child(9) td:first-child::after, .timeline-cup-table tbody tr:nth-child(10) td:first-child::after, .timeline-cup-table tbody tr:nth-child(11) td:first-child::after, .timeline-cup-table tbody tr:nth-child(19) td:first-child::after, .timeline-cup-table tbody tr:nth-child(20) td:first-child::after, .timeline-cup-table tbody tr:nth-child(21) td:first-child::after, .timeline-cup-table tbody tr:nth-child(22) td:first-child::after, .timeline-cup-table tbody tr:nth-child(23) td:first-child::after, .timeline-cup-table tbody tr:nth-child(24) td:first-child::after, .timeline-cup-table tbody tr:nth-child(27) td:first-child::after, .timeline-cup-table tbody tr:nth-child(28) td:first-child::after, .timeline-cup-table tbody tr:nth-child(29) td:first-child::after, .timeline-cup-table tbody tr:nth-child(30) td:first-child::after, .timeline-cup-table tbody tr:nth-child(31) td:first-child::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #1f7ec4;
}
.timeline-cup-table tbody tr:nth-child(7) td:last-child::after, .timeline-cup-table tbody tr:nth-child(8) td:last-child::after, .timeline-cup-table tbody tr:nth-child(9) td:last-child::after, .timeline-cup-table tbody tr:nth-child(10) td:last-child::after, .timeline-cup-table tbody tr:nth-child(11) td:last-child::after, .timeline-cup-table tbody tr:nth-child(19) td:last-child::after, .timeline-cup-table tbody tr:nth-child(20) td:last-child::after, .timeline-cup-table tbody tr:nth-child(21) td:last-child::after, .timeline-cup-table tbody tr:nth-child(22) td:last-child::after, .timeline-cup-table tbody tr:nth-child(23) td:last-child::after, .timeline-cup-table tbody tr:nth-child(24) td:last-child::after, .timeline-cup-table tbody tr:nth-child(27) td:last-child::after, .timeline-cup-table tbody tr:nth-child(28) td:last-child::after, .timeline-cup-table tbody tr:nth-child(29) td:last-child::after, .timeline-cup-table tbody tr:nth-child(30) td:last-child::after, .timeline-cup-table tbody tr:nth-child(31) td:last-child::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid #1f7ec4;
}
.timeline-cup-table tbody tr:nth-child(7) td::after, .timeline-cup-table tbody tr:nth-child(19) td::after, .timeline-cup-table tbody tr:nth-child(27) td::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #1f7ec4;
}
.timeline-cup-table tbody tr:nth-child(11) td::after, .timeline-cup-table tbody tr:nth-child(24) td::after, .timeline-cup-table tbody tr:nth-child(31) td::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #1f7ec4;
}
.timeline-cup-table tbody tr td img, .timeline-cup-table tbody tr td a {
    position: relative;
    z-index: 1;
}
.points-button, .points-button-2 {
    display: flex;
    justify-content: center;
    color: #002b71;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.timeline-cup.points-table-1 .points-1, .timeline-cup.points-table-2 .points-2 {
    display: none;
}

.points-1-2, .points-2-2 {
    display: none;
}
.points-button-stars, .points-button-stars-2 {
    display: none;
}
.timeline-cup.points-table-1 .points-1-2, .timeline-cup.points-table-1 .points-button-stars, .timeline-cup.points-table-2 .points-2-2, .timeline-cup.points-table-2 .points-button-stars-2 {
    display: block;
    -webkit-tap-highlight-color: transparent;
}
.timeline-cup.points-table-1 .points-button, .timeline-cup.points-table-2 .points-button-2 {
    display: none;
}

.points-button-stars::before, .points-button-stars-2::before {
    content: "\e920";
    font-family: 'icomoon';
    font-size: 0.80em;
    color: #8d8d8d;
    transition: .3s ease;
}

.based-table tr:not(:first-child) .points-button-td:before, .based-table tr:not(:first-child) .points-button-td-2:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0.5px;
    height: 50%;
    transform: translate(0, -50%);
    background-color: #d0d9dd;
    opacity: 0;
}
.triangle::before {
    content: "\e921";
    font-family: 'icomoon';
    font-size: 0.7em;
    color: #1bd212;
    padding-right: 2px;
}
.triangle-down::before {
    content: "\e924";
    font-family: 'icomoon';
    font-size: 0.7em;
    color: red;
    padding-right: 2px;
}
.table-circle::before {
    content: "\e923";
    font-family: 'icomoon';
    font-size: 0.55em;
    color: #fcd401;
}
.square::before {
    content: "\e922";
    font-family: 'icomoon';
    font-size: 0.55em;
}
.red.square::before {
    color: red;
}
.green.square::before {
    color: #1bd212;
}
.timeline-cup__footer-legend {
    margin-top: 2.5em;
}
.timeline-cup__footer-legend-title, .timeline-cup__footer-legend-title-2 {
    font-size: 1.3em;
    font-weight: 700;
    display: flex;
    background-color: #d1ebfb;
}
.timeline-cup__footer-legend-content:not(:last-child) {
    margin: 1em 0 2em 0;
}
.timeline-cup__footer-legend-content.last {
    margin-bottom: 1em;
}
.timeline-cup__footer-legend-content ul li::before {
    display: inline-block;
    width: 10px;
}
.timeline-cup__footer-legend-remark {
    font-size: 0.9em;
    color: #5d5d5d;
  }
.timeline-cup__footer-legend-list {
    margin-top: 1em;
}
.timeline-cup__footer-legend-list-title {
    font-weight: 600;
}
.age-legend-1 {
    background-color: #cfffcf;
}
.age-legend-2 {
    background-color: #95ff95;
}
.age-legend-3 {
    background-color: #ffc;
}
.age-legend-4 {
    background-color: #ff7;
}
.age-legend-5 {
    background-color: #ffd4d4;
}
.age-legend-6 {
    background-color: #ff9f9f;
}
.timeline-cup__footer-legend-remark {

}
.remark-icon {
    width: 12px;
    height: 12px;
    fill: black;
}
.timeline-cup__any-tables {
    margin-top: 2em;
}
.timeline-cup__any-tables-races-title, .timeline-cup__any-tables-races-scores-title {
    margin-bottom: 10px;
    background-color: #d1ebfb;
}
.timeline-cup__any-tables-races-title span, .timeline-cup__any-tables-races-scores-title span, .timeline-cup__any-tables-all-result-title span {
    font-size: 1.3em;
    font-weight: 600;
}

.timeline-cup__any-tables-races {
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}
.timeline-cup__any-tables-races tr td:first-of-type {
    font-weight: 600;
    font-size: .9em;
}
.timeline-cup__any-tables-races tbody tr:nth-child(2n+1) {
    background-color: #e7f3fa;
}
.timeline-cup__any-tables-races tbody tr td:first-child, .timeline-cup__any-tables-races tbody tr td:last-child  {
    text-align: center;
}
/* .timeline-cup__any-tables-races tbody tr td:not(:nth-child(1), :nth-child(2), :nth-child(3)) {
    padding: 2.4px 6px;
} */
.timeline-cup__any-tables-races tbody tr td:nth-child(4), .timeline-cup__any-tables-races tbody tr td:nth-child(5) {
    padding: 2.4px 6px;
}
.timeline-cup__any-tables-races tbody tr td:nth-child(3) {
    padding: 2.4px 6px 2.4px 3px;
}
.timeline-cup__any-tables-races tbody tr td:nth-child(1), .timeline-cup__any-tables-races tbody tr td:nth-child(2) {
    padding: 2.4px 3px;
}
.timeline-cup__any-tables-races thead tr td {
    padding-bottom: 15px;
}
.timeline-cup__any-tables-overflow-wrapper {
    margin-top: 2em;
}
.timeline-cup__any-tables-races a:hover {
    border-bottom: 1px solid #73b5e5;
}
.timeline-cup__any-tables-races tbody tr td {
    white-space: nowrap;
}
.timeline-cup__any-tables-races thead {
    font-weight: 600;
    font-size: 1.3em;
    /* margin-bottom: 20px; */
}
.timeline-cup__any-tables-overflow-wrapper {
    overflow-x: auto;
}
/* .strong {
    font-weight: 600;
} */
.grey, .grey2 {
    color: #5d5d5d;
}



.timeline-cup__any-tables-races-scores {
    border-spacing: 0;
    border-collapse: collapse;
    overflow: hidden;
}
.timeline-cup__any-tables-races-scores tbody tr td, .timeline-cup__any-tables-races-scores tbody tr th {
    white-space: nowrap;
}
.timeline-cup__any-tables-races-scores span:not(.grey span) {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
}
.timeline-cup__any-tables-races-scores tr th:not(:first-child, :last-child) span:not(.grey span) {
    padding: 0px 6px;
}
.timeline-cup__any-tables-races-scores tr th:first-child span {
    padding: 0 3px 0 6px;
}
.timeline-cup__any-tables-races-scores tr th:last-child span {
    padding: 0 6px 0 3px;
}
.timeline-cup__any-tables-races-scores tr .score span {
    text-align: center;
}
.timeline-cup__any-tables-races-scores tr td span:not(.grey span) {
    position: relative;
    z-index: 2;
    padding: 2.4px 7px;
    width: 100%;
    height: 25.8px;
}
.timeline-cup__any-tables-races-scores tr:first-of-type span {
    font-weight: 400;
}
.timeline-cup__any-tables-races-scores tr:not(:first-child) td:nth-child(3) span, .timeline-cup__any-tables-races-scores tr:not(:first-child) td:nth-last-child(3) span {
    font-weight: 600;
    text-align: center;
}

.timeline-cup__any-tables-races-scores tr:not(:first-child) th:first-child span, .timeline-cup__any-tables-races-scores tr:not(:first-child) th:last-child span {
    display: block;
}
.timeline-cup__any-tables-races-scores tr .col:not(:nth-child(3), :nth-child(24), :nth-child(25), :nth-child(26)) span {
    font-weight: 600;
}
.timeline-cup__any-tables-races-scores tr:first-child th:nth-child(2), .timeline-cup__any-tables-races-scores tr:first-child th:nth-last-child(2) {
    text-align: left;
    padding: 0 7px;
}
.timeline-cup__any-tables-races-scores tr:not(:first-child) th span, .strong.col span {
    font-size: 0.9em;
}
.timeline-cup__any-tables-races-scores a, .timeline-cup__any-tables-races-scores img, .timeline-cup__any-tables-races-scores .col {
    position: relative;
    z-index: 2;
}
.timeline-cup__any-tables-races-scores tr:nth-child(2n) {
    background-color: #e7f3fa;
}
.timeline-cup__any-tables-races-scores a:hover, .timeline-cup__any-tables-all-result-table a:hover {
    border-bottom: 1px solid #73b5e5;
}
.timeline-cup__any-tables-races-scores tr td, .timeline-cup__any-tables-races-scores tr th {
    height: 25.8px;
}

.timeline-cup__any-tables-races-scores td, .timeline-cup__any-tables-races-scores th, .timeline-cup__any-tables-races-scores .row, .timeline-cup__any-tables-races-scores .col {
    position: relative;
}

.timeline-cup__any-tables-races-scores tr:not(.nations-string.active) td:hover::before, .timeline-cup__any-tables-races-scores tr:not(.nations-string.active) .row:hover::before { 
    /* background-color: #d6ecf9; */
    background-color: #fffce5;
    content: '';  
    height: 100%;
    left: -5000px;
    position: absolute;  
    top: 0;
    width: 10000px;   
    z-index: 1;
    /* border-top: 1px solid #d0d9dd;
    border-bottom: 1px solid #d0d9dd; */
}

.timeline-cup__any-tables-races-scores tr td:not(:nth-child(2), :nth-child(3), :nth-child(24), :nth-child(25), :nth-child(26)):hover::after, .timeline-cup__any-tables-races-scores .col:not(:nth-child(3), :nth-child(24)):hover::after, .timeline-cup__any-tables-races-scores .col.active::after { 
    /* background-color: #d6ecf9; */
    background-color: #fffce5;
    content: '';  
    height: 10000px;    
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: 1;   
    /* border-left: 1px solid #d0d9dd;
    border-right: 1px solid #d0d9dd; */
}
.nations-string.active {
    background-color: #ffcae5 !important;
}
.nations-string img, .timeline-cup__any-tables-races-scores .col {
    cursor: pointer;
}

/* .timeline-cup__any-tables-all-result span {
    display: block;
} */
/* .position {
    border-radius: 50%;
    border: 1px solid #d0d9dd;
    padding: 2px 7px;
    background-color: #e7f3fa;
} */

.timeline-cup__any-tables-all-result-table .table-nations td:first-child {
    /* min-width: 24px;
    padding-bottom: 1.8px; */
    min-width: 25.8px;
}
.timeline-cup__any-tables-all-result-table .table-nations td:last-child {
    /* padding: 2.4px 7px 2.4px 3px; */
    padding: 2.4px 7px 2.4px 7px;
}
.position {
    display: flex;
    height: 100%;
    border: 2px solid #dfedf4;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: .9em;
    font-weight: 600;
}
.timeline-cup__any-tables-all-result-title {
    margin-top: 2em;
    margin-bottom: 1.4em;
    background-color: #d1ebfb;
}
.timeline-cup__any-tables-all-result-nation {
}
.timeline-cup__any-tables-all-result-table tbody tr td {
    height: 25.8px;
    white-space: nowrap;
}
.timeline-cup__any-tables-all-result-table tbody {
    margin-top: 10px;
}
.timeline-cup__any-tables-all-result-table tbody tr:not(.table-nations) td:first-child {
    /* padding: 0 3px 0 7px; */
    padding: 0 3px 0 3px;
}
.timeline-cup__any-tables-all-result-table tbody tr td:nth-child(3) {
    /* padding: 2.4px 7px 2.4px 3px; */
    padding: 2.4px 7px 2.4px 2.4px;
}
.timeline-cup__any-tables-all-result-table tbody tr:not(.table-nations, .table-column-description) td:nth-child(2) {
    padding: 2.4px;
}
.timeline-cup__any-tables-all-result-table tbody tr:not(.table-nations, .table-column-description) td:first-child {
    font-weight: 600;
    font-size: .9em;
    min-width: 24px;
}
.timeline-cup__any-tables-all-result-table tbody tr td:nth-child(4), .timeline-cup__any-tables-all-result-table tbody tr td:nth-child(5), .timeline-cup__any-tables-all-result-table tbody tr td:nth-child(6) {
    padding: 2.4px 7px;
    text-align: center;
}
.timeline-cup__any-tables-all-result-table tbody .table-column-description td {
    color: #5d5d5d;
}
.timeline-cup__any-tables-all-result-table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    width: fit-content;
    margin: 0 auto;
}
.timeline-cup__any-tables-all-result-table tbody tr td:first-child {
    text-align: center;
}
.timeline-cup__any-tables-all-result-table tbody tr.table-zebra-33:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-32:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-31:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-30:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-29:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-28:nth-child(2n), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-27:nth-child(2n), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-26:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-25:nth-child(2n), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-24:nth-child(2n), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-23:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-22:nth-child(2n), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-21:nth-child(2n), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-20:nth-child(2n), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-19:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-18:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-17:nth-child(2n), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-16:nth-child(2n), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-15:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-14:nth-child(2n), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-13:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-12:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-11:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-10:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-9:nth-child(2n), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-8:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-7:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-1:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-3:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-4:nth-child(2n+1), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-2:nth-child(2n), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-5:nth-child(2n), .timeline-cup__any-tables-all-result-table tbody tr.table-zebra-6:nth-child(2n) {
    background-color: #e7f3fa;
}
.timeline-cup__any-tables-all-result-table-wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
    overflow-x: auto;
}
.birthday-icon {
    height: 15px;
    width: 15px;
    fill: #8d8d8d;
    display: block;
}

.timeline-cup__any-tables-all-result-table .table-column-description td:nth-child(4), .timeline-cup__any-tables-all-result-table .table-column-description td:nth-child(5) {
    position: relative;
}

.timeline-cup__any-tables-all-result-table .table-column-description td:nth-child(4) svg, .timeline-cup__any-tables-all-result-table .table-column-description td:nth-child(5) svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.race-icon {
    height: 12px;
    width: 12px;
    fill: #8d8d8d;
    display: block;
}
.timeline-cup__any-tables-all-result-table thead tr {
    display: flex;
    width: 100%;
    height: 25.8px;
}
.timeline-cup__any-tables-all-result-table thead tr td {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #1f7ec4;
    font-family: tahoma, Arial, Helvetica, sans-serif;
}
.timeline-cup__table-comments {
}
.timeline-cup__table-comments-title {
    display: flex;
    font-size: 1.3em;
    font-weight: 600;
    margin-top: .8em;
    margin-bottom: .9em;
    background-color: #d1ebfb;
}
.timeline-cup__table-comments-list {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}
/* .timeline-cup__table-comments-tables-body {
    display: flex;
    flex-direction: column;
} */
.timeline-cup__table-comments-title-wrapper {
    display: flex;
    gap: 18px;
}
.timeline-cup__table-comments-tables-wrapper {
    display: flex;
    gap: 18px;
}
.timeline-cup__table-comments-tables-1, .timeline-cup__table-comments-tables-2 {
    display: flex;
    gap: 18px;
    flex-direction: column;
}
.timeline-cup__table-comments-table-1-title, .timeline-cup__table-comments-table-2-title, .timeline-cup__table-comments-table-1-content, .timeline-cup__table-comments-table-2-content {
    width: 50%;
}
.timeline-cup__table-comments-tables-list {
    text-align: center;
}
@media (hover: hover) {
    .timeline-cup__any-tables-all-result-table tbody tr.table-zebra:hover {
        background-color: #fffce5;
    }
    .points-button-td:hover .points-button-stars::before, .points-button-td-2:hover .points-button-stars-2::before {
        color: #81aad5;
    }
    .based-table tr:not(:first-child) .points-button-td:hover::before, .based-table tr:not(:first-child) .points-button-td-2:hover::before {
        opacity: 1;
    }
    .timeline-cup .age-button-svg:hover path:nth-child(1) {
        fill: #1bd212;
    }
    .timeline-cup .age-button-svg:hover path:nth-child(3) {
        fill: #ff0000;
    }
    .timeline-cup .age-button-svg:hover path:nth-child(4) {
        fill: #fcd401;
    }
    .points-button:hover, .points-button-2:hover {
        color: #73b5e5;
    }
    .timeline-cup-table tbody tr:not(:first-child, .active):hover td, .timeline-cup__any-tables-races tbody tr:hover td {
        /* background-color: #d6ecf9; */
        background-color: #fffce5;
    }
    .timeline__more-tables-body ul li a:hover {
        color: #73b5e5;
        border-bottom: 1px solid #73b5e5;
    }
    .table-button-now-1:hover, .table-button-now-2:hover, .table-button-earlier-1:hover, .table-button-earlier-2:hover {
        box-shadow: inset 0px 0px 0px 1px #ddeffa;
    }
  }

@media screen and (max-width: 1300px) {
    .timeline-cup-tables {
        gap: 20px;
    }
}

@media screen and (max-width: 992px) {
    /* .timeline__more-tables-body ul li:not(:last-of-type) {
        margin-bottom: 7px;
    } */
    .timeline__more-tables-body ul {
        gap: 8px 0;
    }
    .timeline__more-tables-body ul {
        height: 172px;
    }

    .timeline-cup__select-body.smart {
        display: flex;
        flex-wrap: wrap;
        gap: 23px 15px;
    }
    .timeline-cup__list-long {
        display: none;
    }
    .timeline-cup__list-short {
        display: block;
    }
    .timeline-cup__select-body {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .timeline-cup-tables {
        justify-content: left;
    }
}

@media screen and (max-width: 650px) {
    .timeline-cup-tables {
        justify-content: left;
    }
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 550px) {
.timeline-cup {
    padding: 1.5em 1.06em;
}
.timeline__more-tables {
    padding: 1.5em 1.06em;
}
.timeline__more-tables-body ul {
    height: auto;
}
.timeline__more-tables-body svg {
    top: 50%;
    transform: translateY(-50%);
    height: 180px;
    width: 180px;
}
}