#tippy-16 li::before, #tippy-16 li::after {
    display: none;
}
#tippy-16 ul li:first-of-type a::before {
    content: "\e016";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:nth-child(2) a::before {
    content: "\e015";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
  }
#tippy-16 ul li a {
    color: black !important;
    font-size: 13.5px !important;
    text-transform: none !important;
    padding: 0px 10px 0px 10px !important;
    transition: 0s !important;
    text-shadow: none !important;
    width: 100%;
    display: flex;
}
#tippy-16 ul li:last-of-type a::before {
    content: "\e9b";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:last-of-type a, #tippy-16 ul li:last-of-type a::before {
    color: red !important;
}
#tippy-16 ul li {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li a:hover {
    background-color: #ecf5fb;
}
#tippy-16 .tippy-content {
    overflow: hidden;
}

html[data-theme="dark"] #tippy-16 ul li a {
    color: #e1e1e1 !important;
}
html[data-theme="dark"] #tippy-16 ul li a:hover {
    background-color: #293139;
}
html[data-theme="dark"] #tippy-16 ul li:first-of-type a::before, html[data-theme="dark"] #tippy-16 ul li:nth-child(2) a::before {
    color: rgba(47, 111, 200, 0.85);
}
html[data-theme="dark"] #tippy-16 ul li:last-of-type a, html[data-theme="dark"] #tippy-16 ul li:last-of-type a::before {
    color: #d40000 !important;
}
html[data-theme="summer"] #tippy-16 ul li:first-of-type a::before, html[data-theme="summer"] #tippy-16 ul li:nth-child(2) a::before {
    color: rgb(101, 192, 99);
}
html[data-theme="summer"] #tippy-16 ul li a:hover {
    background-color: #fdf8ed
}
html[data-theme="Black"] #tippy-16 ul li a {
    color: #c9ccd0 !important;
}
html[data-theme="Black"] #tippy-16 ul li:first-of-type a::before, html[data-theme="Black"] #tippy-16 ul li:nth-child(2) a::before {
    color: #265591;
}
html[data-theme="Black"] #tippy-16 ul li:last-of-type a, html[data-theme="Black"] #tippy-16 ul li:last-of-type a:before {
    color: #d40000 !important;
}
html[data-theme="Black"] #tippy-16 ul li a:hover {
    background-color: #19202b;
}
html[data-theme="grey"] #tippy-16 ul li a {
    color: #1e1e1e !important;
}
html[data-theme="grey"] #tippy-16 ul li:first-of-type a::before, html[data-theme="grey"] #tippy-16 ul li:nth-child(2) a::before {
    color: rgba(98, 129, 157, 0.75);
}
html[data-theme="grey"] #tippy-16 ul li:last-of-type a, html[data-theme="grey"] #tippy-16 ul li:last-of-type a:before {
    color: #ee3232 !important;
}
html[data-theme="grey"] #tippy-16 ul li a:hover {
    background-color: #f5f5f5;
}


.timeline-cup {
    padding: 2em 1.5em 1.39em 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
    overflow-x: hidden;
}
.timeline-cup__head {
    padding-bottom: 0.75em;
}
.timeline-cup__head span {
    font-size: 1.3em;
    color: black;
    font-weight: 700;
}
.timeline-cup__body {
}
.timeline-cup__navbar {
    /* margin-top: 0.75em; */
    margin-top: 0.75em;
    background-color: white;
    padding-bottom: 0.75em;
}

.timeline-cup__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.timeline-cup__list li {
    padding: 7px 10px;
    background-color: #e7f3fa;
    cursor: pointer;
    outline: 1px solid #d0d9dd;
    flex: 1 1 auto;
    text-align: center;
    color: #002b71;
    transition: all .3s ease;
}
.timeline-cup__list li:hover {
    background-color: #d1ebfb;
}
.timeline-cup__list-short {
    display: none;
}


.timeline-cup__select-body {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5em;
}
.timeline-cup__flag {
    display: flex;
    align-items: center;
}
.timeline-cup__select-flag {
    margin-left: 7px;
    padding: 5px;
    width: 102px;
}
.timeline-cup__select-season {
    margin-left: 7px;
    padding: 5px;
}
.timeline-cup__select-menu {
    display: flex;
    align-items: center;
}
.timeline-cup__footer {
}

.hide-profile {
    display: none;
}


.timeline-cup__list li.active {
    background-color: #d1ebfb;
}
/* .timeline-cup__bottom-navbar {
    display: none;
} */
/* .timeline-cup__bottom-navbar-flag {
}
.timeline-cup__bottom-navbar-season {
}
.timeline-cup__bottom-navbar-compare {
}
.timeline-cup__bottom-navbar-gender {
}
.timeline-cup__bottom-navbar-male {
}
.timeline-cup__bottom-navbar-female {
} */
.timeline-cup__select-body.smart {
    display: none;
}
.timeline-cup__select-body select {
    outline: 1px solid #d0d9dd;
}
.body.fixed .footer {
    margin-bottom: 40px;
}

.timeline-cup-tables {
    display: flex;
    justify-content: space-around;
    /* gap: 20px; */
    /* flex-wrap: wrap; */
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow-x: auto;
}
.timeline-cup-table {
    /* background-color: #e7f3fa; */
    /* font-size: 0.95em; */
    border-collapse: collapse;
}
.timeline-cup-table tr {
    /* height: 25.35px; */
}
.timeline-cup-table tbody tr:nth-child(2n) {
    /* background-color: #d6ecf9; */
    background-color: #e7f3fa;
}
.timeline-cup-table tbody tr td:nth-child(2) {
    width: 25px;
}
.timeline-cup-table tbody tr:not(:first-child) td:first-child {
    font-weight: 600;
    font-size: 0.9em;
    padding-bottom: 4px;
}
.timeline-cup-table tbody tr:nth-child(1) {
    background-color: white;
    color: #5d5d5d;
}
.timeline-cup-table img {
    cursor: pointer;
}
.timeline-cup-table tbody tr td:first-child, .timeline-cup-table tbody tr td:last-child {
    text-align: center;
}
.timeline-cup-table tbody tr td {
    padding: 2.4px;
    white-space: nowrap;
}
.timeline-cup-table tbody tr td:last-child {
    width: 40.4667px;
}
.timeline-cup-table a:hover {
    color: #73b5e5;
    border-bottom: 1px solid #73b5e5;
}
.timeline-cup-table-title tr td {
    text-align: center;
    height: 50px;
    font-weight: 600;
    /* font-size: 1.1em; */
    background-color: white;
    text-transform: uppercase;
    color: #1f7ec4;
    font-family: tahoma, Arial, Helvetica, sans-serif;
}

td[img*="Ukraine"] {
    background-color: red;
}
@media (hover: hover) {
    .timeline-cup-table tbody tr:not(:first-child):hover td {
        background-color: #d1ebfb;
        background-color: #fffce5;
        background-color: #c8eaff;
        background-color: #ffd5d5;
    }
  }

@media screen and (max-width: 550px) {
.timeline-cup {
    padding: 1.5em 1.06em;
}
}

@media screen and (max-width: 1300px) {
    .timeline-cup-tables {
        gap: 20px;
    }
}

@media screen and (max-width: 992px) {
    /* .body.fixed .timeline-cup__navbar {
        position: fixed;
        top: 0;
        z-index: 2;
        left: 0;
        width: 100%;
        margin-top: 0;
        padding-bottom: 0;
    } */
    /* .timeline-cup__bottom-navbar-male-title-short, .timeline-cup__bottom-navbar-female-title-short {
        display: none;
        margin-left: 7px;
    } */
    .timeline-cup__select-body.smart {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    .body.fixed .timeline-cup__select-body.smart {
        display: none;
    }
    /* .timeline-cup__bottom-navbar form, .timeline-cup__bottom-navbar-compere, .timeline-cup__bottom-navbar-male {
        border-right: 1px solid #d0d9dd;
    } */
    .body.fixed .timeline-cup__select-body.smart {
        display: none;
    }
    /* .timeline-cup__bottom-navbar .timeline-cup__select-flag {
        width: 102px;
    } */
    .timeline-cup__list-long {
        display: none;
    }
    .timeline-cup__list-short {
        display: block;
    }
    .timeline-cup__select-body {
        display: none;
    }
    /* .body.fixed .timeline-cup__bottom-navbar {
        display: flex;
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: white;
        width: 100%;
        line-height: 37.2px;
        align-items: center;
        z-index: 2;
    } */
    /* .body.fixed .timeline-cup__bottom-navbar select {
        padding: 12px 5px;
    } */
    /* .season::before {
        content: "\e900";
        font-family: 'icomoon';
        font-size: 1em;
        font-weight: normal;
        color: #81aad5;
    } */
    /* .timeline-cup__bottom-navbar .timeline-cup__select-menu, .timeline-cup__bottom-navbar-flag {
        margin-left: 7px;
    }
    .timeline-cup__bottom-navbar .timeline-cup__select-season {
        width: 64px;
    }
    .timeline-cup__bottom-navbar-gender {
        display: flex;
        flex: 1;
    }
    .timeline-cup__bottom-navbar-male, .timeline-cup__bottom-navbar-female, .timeline-cup__bottom-navbar-compere {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .timeline-cup__bottom-navbar-male.active, .timeline-cup__bottom-navbar-female.active, .timeline-cup__bottom-navbar-compere.active {
        background-color: #e7f3fa;
    }
    .timeline-cup__bottom-navbar-male, .timeline-cup__bottom-navbar-female {
        flex: 1 0 40px;
    }
    .timeline-cup__bottom-navbar-compere {
        flex: 0 0 40px;
        padding: 0 7px;
    }
    .timeline-cup__bottom-navbar-male-icon::before {
        content: "\e051";
        font-family: 'icomoon';
        font-size: 1.1em;
        color: #81aad5;
    }
    .timeline-cup__bottom-navbar-female-icon::before {
        content: "\e052";
        font-family: 'icomoon';
        font-size: 1.2em;
        color: #81aad5;
    }
    .timeline-cup__bottom-navbar-compere-icon::before {
        content: "\e904";
        font-family: 'icomoon';
        font-size: 1.2em;
        color: #81aad5;
    }
    .timeline-cup__bottom-navbar-compere-title, .timeline-cup__bottom-navbar-male-title, .timeline-cup__bottom-navbar-female-title {
        padding-left: 7px;
    } */
}

@media screen and (max-width: 650px) {
    .timeline-cup-tables {
        justify-content: left;
    }
}

/* @media screen and (max-width: 400px) {
    .timeline-cup__bottom-navbar-compere {
        margin-left: 0px;
    }
}
@media screen and (max-width: 380px) {
    .timeline-cup__bottom-navbar-male-title-short, .timeline-cup__bottom-navbar-female-title-short {
        display: none;
    }
}
@media screen and (max-width: 520px) {
    .timeline-cup__bottom-navbar-male-title-short, .timeline-cup__bottom-navbar-female-title-short {
        display: block;
    }
    .timeline-cup__bottom-navbar-compere-title, .timeline-cup__bottom-navbar-male-title, .timeline-cup__bottom-navbar-female-title {
        display: none;
    }
}
@media screen and (max-width: 415px) {
    .timeline-cup__bottom-navbar-male-title-short, .timeline-cup__bottom-navbar-female-title-short {
        display: none !important;
    }
}
@media screen and (max-width: 346px) {
    .timeline-cup__bottom-navbar .timeline-cup__select-flag {
        width: 76px;
    }
} */