#tippy-16 {
    width: auto;
}
#tippy-16 .tippy-content {
    overflow: hidden;
}
#tippy-16 ul li a {
    color: black !important;
    font-size: 13.5px !important;
    text-transform: none !important;
    padding: 0px 10px 0px 10px !important;
    transition: 0s !important;
    text-shadow: none !important;
    width: 100%;
    display: flex;
}
#tippy-16 ul li:last-of-type a {
    border-bottom: none !important;
}
  
#tippy-16 ul li::before, #tippy-16 ul li::after {
    display: none !important;
}
  
#tippy-16 ul li a:hover {
    background-color: #ecf5fb;
}
#tippy-16 ul li {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type a, #tippy-16 ul li:last-of-type a::before {
    color: red !important;
   }
#tippy-16 ul li:first-of-type a::before {
    content: "\e016";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:nth-child(2) a::before {
    content: "\e015";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:last-of-type a::before {
    content: "\e9b";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}

.timeline-news {
    padding: 2em 1.5em 1.75em 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
    overflow-x: hidden;
}
.timeline-news__head {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 1.5em; */
    margin-bottom: 2em;
    position: relative;
    gap: 20px;
    align-items: center;
}
.timeline-news__head > span:nth-child(1) {
    font-size: 1.3em;
    color: black;
    font-weight: 700;
}

.last--comments-news-body-image-two {
    background-image: url(//www.biathlon.com.ua/uploads/2020/120105.jpg);
}
.last--comments-news-body-image-five {
    background-image: url(//www.biathlon.com.ua/uploads/2022/136843.png);
}
.last--comments-news-body-image-one, .last--comments-news-body-image-three {
    background-image: url(img/picture/logo-fbu-2.jpg);
}
.last--comments-news-body-image-8 {
    background-image: url(https://cdn.biathlon.com.ua/uploads/2021/132000.jpg);
}
.last--comments-news-body-image-9 {
    background-image: url(https://cdn.biathlon.com.ua/uploads/2021/132000.jpg);
}
.last--comments-news-body-image-10 {
    background-image: url(img/slider3/1.jpg);
}

.timeline-news__filters {
    display: flex;
    margin-bottom: 3em;
    gap: 20px 25px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.timeline-news__group {
    display: flex;
    gap: 15px;
    align-items: center;
}

.timeline-news__select-month, .timeline-news__select-season {
    padding: 5px 0 5px 8px;
    outline: 1px solid #d0d9dd;
    transition: all .3s ease;
    cursor: pointer;
    border-radius: 3px;
}
.timeline-news__select-month:focus, .timeline-news__select-season:focus {
    outline-color: #bfc6ca;
}
.timeline-news__select-season {
    width: 60px;
}

.timeline-news__filters-button {
    display: flex;
    height: 33px;
    padding: 0 15px;
    border-radius: 33px;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: #e7f3fa;
    transition: all .3s ease;
    cursor: pointer;
    color: #002b71;
}
.timeline-news__filters_type2 {
    display: flex;
}
.timeline-news__filters_type2 span {
    position: relative;
}
.timeline-news__filters_type2 span:not(:first-child) {
    margin-left: 10px;
}
.timeline-news__filters_type2 span:not(:last-child) {
    margin-right: 10px;
}
.timeline-news__filters_type2 span:not(:last-child):before {
    position: absolute;
    content: '';
    right: -10px;
    top: 50%;
    width: 1px;
    height: 70%;
    transform: translateY(-50%);
    background-color: #d0d9dd;
    scale: 1;
}
@media (hover: hover) {
    .timeline-news__filters-button:hover {
        background-color: #d1ebfb;
    }
}

@media screen and (max-width: 550px) {
    .timeline-news {
        padding: 2em 1.06em 1.75em 1.06em;
    }
}