#tippy-16 {
    width: auto;
}
   #tippy-16 .tippy-content {
    overflow: hidden;
}
#tippy-16 ul li a {
    color: black !important;
    font-size: 13.5px !important;
    text-transform: none !important;
    padding: 0px 10px 0px 10px !important;
    transition: 0s !important;
    text-shadow: none !important;
    width: 100%;
    display: flex;
}
#tippy-16 ul li:last-of-type a {
    border-bottom: none !important;
}
  
#tippy-16 ul li::before, #tippy-16 ul li::after {
    display: none !important;
}
  
#tippy-16 ul li a:hover {
    background-color: #ecf5fb;
}
#tippy-16 ul li {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type {
    white-space: nowrap;
    line-height: 33px;
}
#tippy-16 ul li:last-of-type a, #tippy-16 ul li:last-of-type a::before {
    color: red !important;
   }
#tippy-16 ul li:first-of-type a::before {
    content: "\e016";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:nth-child(2) a::before {
    content: "\e015";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}
#tippy-16 ul li:last-of-type a::before {
    content: "\e9b";
    font-family: 'icomoon';
    margin-right: 7px;
    font-size: 13px;
    color: #81aad5;
}




.timeline-cup {
    padding: 2em 1.5em 1.75em 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
    /* overflow-x: hidden; */
}
.timeline-cup__head {
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
}
.timeline-cup__head span:nth-child(1) {
    font-size: 1.3em;
    color: black;
    font-weight: 700;
}
.timeline-cup-statistics__discription {
    display: flex;
}
.timeline-cup-statistics-title {
    display: flex;
    background-color: #d1ebfb;
    margin-bottom: 0.5em;
    padding: 1.3px 10px 1.3px 51px;
    position: relative;
}
.timeline-cup-statistics-title:not(:first-child) {
    margin-top: 2em;
}
.timeline-cup-statistics-title:first-child {
    margin-top: 1.5em;
}
.timeline-cup-statistics-title span {
    font-size: 1.2em;
    font-weight: 600;
}

.circle-element-for-cup {
    position: absolute;
    top: 3px;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #d1ebfb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.female-icon, .male-icon, .medals-icon {
    fill: #81aad5;
    scale: 1;
}
.female-icon, .male-icon {
    width: 23px;
    height: 23px;
}
.medals-icon {
    width: 21px;
    height: 21px;
}

.timeline__more-tables {
    padding: 2em 1.5em 1.39em 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
}
.timeline__more-tables-head {
    padding-bottom: 0.75em;
}
.timeline__more-tables-head span {
    font-size: 1.3em;
    font-weight: 700;
}
.timeline__more-tables-body {
    margin-top: 0.75em;
}
.timeline__more-tables-body ul {
    position: relative;
    height: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
}
.timeline__more-tables-body li::before {
    content: "\e902";
    font-family: 'icomoon';
    color: #81aad5;
    font-size: 0.95em;
    padding-right: 5px;
}
.timeline__more-tables-body li.active::before {
    color: #8d8d8d;
}
.timeline__more-tables-body li.active {
    color: #5d5d5d;
}
.timeline__more-tables-body svg {
    position: absolute;
    top: 0;
    right: 0;
    fill: #e7f3fa;
    height: 130px;
    width: 130px;
    z-index: -1;
}

.timeline-cup-statistics-table-wrapper {
    /* overflow-x: auto; */
}
.timeline-cup-statistics-table {
    width: 100%;
    position: relative;
}
.timeline-cup-statistics-table tr td {
    text-align: center;
}

.timeline-cup-statistics-table tr:not(:last-child) td {
    padding: 1.6px 7px;
}
.timeline-cup-statistics-table thead tr td, .timeline-cup-statistics-table tr:last-child td {
    padding: 5px 7px;
}
.timeline-cup-statistics-table tr:first-child td:first-child  {
    color: #5d5d5d;
}
.timeline-cup-statistics-table tr td {
    border: 1px solid #d0d9dd;
}

.timeline-cup-statistics-table thead tr td {
    background-color: white;
}
.timeline-cup-statistics-table tbody tr td:first-child {
    position: sticky;
    left: 2px;
    background-color: white;
    box-shadow: -2px 0 0 0 white;
}
.timeline-cup-statistics-table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
.timeline-cup-statistics-table thead tr td:first-child {
    position: sticky;
    left: 2px;
    background-color: white;
    z-index: 1;
    box-shadow: -2px 0 0 0 white;
}
.table-cell-flex {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.table-cell-flex img {
    margin: 0 auto;
}

/* .color-0 {
    background-color: #dedede;
}
.color-1 {
    background-color: #f7c0c0;
}
.color-2 {
    background-color: #ffdbb8;
}
.color-3 {
    background-color: #ffffba;
}
.color-4 {
    background-color: #c6e9c6;
}
.color-5 {
    background-color: #80ca80;
} */

.color-0 {
    /* background-color: #dedede; */
    background: radial-gradient(circle, rgba(222, 222, 222, 0.7) 0%, rgb(222, 222, 222) 100%);
}
.color-1 {
    /* background-color: #f7c0c0; */
    background: radial-gradient(circle, rgba(247, 192, 192, 0.7) 0%, rgb(247, 192, 192) 100%);
}
.color-2 {
    /* background-color: #ffdbb8; */
    background: radial-gradient(circle, rgba(255, 219, 184, 0.7) 0%, rgb(255, 219, 184) 100%);
}
.color-3 {
    /* background-color: #ffffba; */
    background: radial-gradient(circle, rgba(255, 255, 186, 0.7) 0%, rgb(255, 255, 186) 100%);
}
.color-4 {
    /* background-color: #c6e9c6; */
    background: radial-gradient(circle, rgba(198, 233, 198, 0.7) 0%, rgb(198, 233, 198) 100%);
}
.color-5 {
    /* background-color: #80ca80; */
    background: radial-gradient(circle, rgba(128, 202, 128, 0.7) 0%, rgb(128, 202, 128) 100%);
}

.timeline-cup__head-back-button {
    position: relative;
    display: flex;
    padding: 6px 20px 6px 40px;
    background-color: #e7f3fa;
    border-radius: 33px;
    transition: all .3s ease;
    -webkit-tap-highlight-color: transparent;
}
.timeline-cup__head-back-button-icon {
    position: absolute;
    left: 2px;
    top: 50%;
    height: calc(100% - 4px);
    width: 29px;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}
.timeline-cup__head-back-button-icon::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    content: "\e093";
    font-family: 'icomoon';
    font-size: 1.2em;
    color: #81aad5;
    transition: all .4s ease;
    scale: 1;
}
.timeline-cup__head-back-button-icon::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% + 28px), -50%) rotate(90deg);
    content: "\e093";
    font-family: 'icomoon';
    font-size: 1.2em;
    color: #81aad5;
    transition: all .4s ease;
    opacity: 0;
    scale: 1;
}
@media (hover: hover) {
    .timeline-cup__head-back-button:hover {
        background-color: #d1ebfb;
    }
    .timeline-cup__head-back-button:hover .timeline-cup__head-back-button-icon::after {
        transform: translate(-50%, calc(-50%)) rotate(90deg);
        opacity: 1;
    }
    .timeline-cup__head-back-button:hover .timeline-cup__head-back-button-icon::before {
        transform: translate(calc(-50% - 28px), -50%) rotate(90deg);
        opacity: 0;
    }
}
@media screen and (max-width: 1299px) {
    .timeline-cup-statistics-table-wrapper {
        overflow-x: auto;
    }
}

@media screen and (max-width: 992px) {
    .timeline__more-tables-body ul, .timeline-cup__table-comments-tables-recommend-list {
        gap: 8px 0;
    }
    .timeline__more-tables-body ul {
        height: 172px;
    }
}

@media screen and (max-width: 550px) {
    .timeline-cup {
        padding: 2em 1.06em 1.75em 1.06em;
    }
      .timeline-cup, .timeline__more-tables {
        padding: 2em 1.06em 1.75em 1.06em;
    }
    .timeline__more-tables-body ul {
        height: auto;
    }
    .timeline__more-tables-body svg {
        top: 50%;
        transform: translateY(-50%);
        height: 180px;
        width: 180px;
    }
}