    .edit-news {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
    margin-left: 1em;
  }
  .edit-news::before {
    content: "\e063";
    font-family: 'icomoon';
    color: #81aad5;
    font-size: 0.90em;
  }
  .edit-news:hover {
    background-color: #e7f3fa;
    cursor: pointer;
  }

.timeline__speedbar {
    padding: 1.4em 1.5em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
}
.delimiter {
    position: relative;
    margin: 0 15px;
}
.delimiter:before {
    position: absolute;
    content: '';
    top: 5px;
    right: 0px;
    width: 7.375px;
    height: 7.375px;
    border-top: 1.875px solid #81aad5;
    border-right: 1.875px solid #81aad5;
    transform: rotate(45deg);
}
.timeline__speedbar a, .timeline__speedbar-title {
    font-weight: 600;
    font-size: 1.05em;
}

.hide, .timeline__footer {
    display: none;
}
.timeline__item-comments {
    padding: 1.5em;
    background-color: white;
    border-radius: 8px;
}
.timeline__item-comments-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
    flex-wrap: wrap;
    gap: 10px 15px;
}
.timeline__item-comments-title {
    height: 33px;
}
.timeline__item-comments-title span:first-child {
    font-size: 1.3em;
    color: black;
    font-weight: 700;
}
.timeline__item-comments-title-number {
    padding: 6px 8px;
    background-color: #d1ebfb;
    border-radius: 33px;
    font-size: 1.15em;
    margin-left: 7px;
    color: #002b71;
    font-weight: 400;
    height: 30px;
    display: inline-flex;
    align-items: center;
    min-width: 30px;
    justify-content: center;
}
.timeline__item-comments-to-write-comments {
    display: flex;
    align-items: center;
    height: 33px;
    position: relative;
    /* border-radius: 33px; */
    /* overflow: hidden; */
    z-index: 1;
    padding: 0 15px 0 20px;
}
/* .timeline__item-comments-to-write-comments:hover {
    color: #002b71 !important;
} */
.timeline__item-comments-to-write-comments::before {
    position: absolute;
    left: 0px;
    content: "\e093";
    font-family: 'icomoon';
    font-size: 1.2em;
    color: #81aad5;
    transition: all .4s ease;
    scale: 1;
}
.timeline__item-comments-to-write-comments:hover::before {
    transform: translateY(20px);
    opacity: 0;
}

.timeline__item-comments-to-write-comments::after {
    position: absolute;
    left: 0px;
    top: -21px;
    content: "\e093";
    font-family: 'icomoon';
    font-size: 1.2em;
    color: #81aad5;
    transition: all .4s ease;
    opacity: 0;
    scale: 1;
}
.timeline__item-comments-to-write-comments:hover::after {
    top: 4px;
    opacity: 1;
}

/* .timeline__item-comments-to-write-comments::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e7f3fa;
    top: -100%;
    left: 0;
    transition: all .4s ease;
    z-index: -1;
}
.timeline__item-comments-to-write-comments:hover::after {
    top: 0;
} */


.timeline__item-comments-body {
}
.timeline__item-comments-more-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.timeline__item-comments-more-comments.hide {
    display: none;
}
.timeline__item-comments-more-comments span {
    border: 2px solid #dfedf4;
    border-radius: 33px;
    padding: 4.4px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #002b71;
    /* color: #5d5d5d; */
    /* font-weight: 700; */
    /* color: #002b71; */
}
.timeline__item-comments-more-comments span:hover {
    background-color: #e7f3fa;
    border-color: #e7f3fa;
    /* color: #002b71; */
}
.timeline__item-comments-discussion {
    /* margin-bottom: 1.5em; */
    /* margin-bottom: 1em; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #dfedf4;
    padding: 15px 10px;
    border-radius: 15px;
    /* background-color: #f9fdff; */
    /* background-color: #fafdff; */
    /* box-shadow: 0px 1px 7px rgba(165, 165, 165, 0.50);
    border-color: transparent; */
}
.timeline__item-comments-discussion.hide {
    display: none;
}
.timeline__item-comments-discussion.discussion-newest {
    margin-bottom: 0;
}
.timeline__item-comments-discussion-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 0 15px;
}
.timeline__item-comments-rumor {
    display: flex;
    flex-direction: row;
    margin: 5px 0 15px 0;
}
.timeline__item-comments-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.timeline__item-comments-avatar {
    position: relative;
    margin-right: 15px;
    height: 50px;
}
.timeline__item-comments-avatar .logged {
    position: absolute;
    height: 12px;
    width: 12px;
    border: 2px solid #f9fdff;
    border-radius: 50%;
    background-color: #1bd212;
    right: 1px;
    top: 35px;
    scale: 1;
}
.discussion-male, .discussion-female, .discussion-unknown {
    fill: #679bcd;
}
.timeline__item-comments-profile-all {
    /* display: flex;
    gap: 15px;
    justify-content: space-between; */
}
.timeline__item-comments-profile-body {

}
.timeline__item-comments-username {
    /* display: flex;
    gap: 0px 10px;
    flex-wrap: wrap; */
}
.timeline__item-comments-username a:hover {
    border-bottom: 1px solid #73b5e5;
}

/* .editor {
    display: inline-flex;
    padding: 0px 13px;
    border: 1px solid #d0d9dd;
    border-radius: 33px;
    font-size: 0.9em;
    cursor: default;
    text-align: center;
} */
.timeline__item-comments-username a {
    font-weight: 600;
    margin-right: 5px;
}
.timeline__item-comments-date {
    color: #5d5d5d;
    font-size: 0.97em;
}
.timeline__item-comments-controls {
    display: flex;
    gap: 7px;
    margin-left: auto;
}
.timeline__item-comments-number {
    display: flex;
    /* width: 30px; */
    height: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 9px 0 11px;
}
.timeline__item-comments-number span {
    color: #5d5d5d;
    font-size: 0.95em;
    margin-bottom: 3px;
}
.timeline__item-comments-quote {
}
.timeline__item-comments-quote, .timeline__item-comments-edit, .timeline__item-comments-delete, .timeline__item-comments-ip {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
    margin-top: -2px;
    -webkit-tap-highlight-color: transparent;
}
.timeline__item-comments-quote::before, .timeline__item-comments-edit::before, .timeline__item-comments-ip::before {
    font-family: 'icomoon';
    color: #81aad5;
    font-size: 0.90em;
}
.timeline__item-comments-quote::before {
    content: "\e061";
}
.timeline__item-comments-quote:hover, .timeline__item-comments-edit:hover, .timeline__item-comments-delete:hover, .timeline__item-comments-ip:hover, .timeline__item-comments-delete[aria-expanded="true"], .timeline__item-comments-ip[aria-expanded="true"] {
    background-color: #e7f3fa;
    cursor: pointer;
}
.timeline__item-comments-edit::before {
    content: "\e063";
}
.timeline__item-comments-edit-icon {
}
.timeline__item-comments-ip::before {
    content: "\e062";
}
.timeline__item-comments-ip-icon {
}
.timeline__item-comments-delete::before {
    content: "\e064";
    font-family: 'icomoon';
    color: #81aad5;
    font-size: 0.85em;
}
.timeline__item-comments-body {
    display: flex;
    flex-direction: column;
}
.timeline__item-total-accuracy {
    /* min-width: 62.5px; */
    display: flex;
}
.timeline__item-total-accuracy span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5px;
    border: 1px solid #d0d9dd;
    height: fit-content;
    border-radius: 8px;
    font-size: 0.9em;
    width: 50px;
    text-align: center;
    cursor: help;
}
.timeline__item-total-accuracy span::before {
    content: "\e057";
    font-family: 'icomoon';
    font-size: 0.95em;
    font-weight: normal;
    padding-right: 5px;
    color: #81aad5;
}
.timeline__item-comments-comment {
    margin-left: 15px;
}
.timeline__item-comments-comment span {
    display: inline-block;
    width: 100%;
}
.quote {
    display: block;
    padding: 10px;
    background-color: #e7f3fa;
    border-radius: 15px;
    margin: 5px 0 10px 0;
    width: fit-content;
}
.quote {
    background-position: calc(100% - 10px) calc(100% - 5px), calc(100% - 30px) calc(100% - 5px);
    background-repeat: no-repeat;
    background-size: 30px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 512 512'%3E%3Cpath fill='%23CFE7EF' d='M99.5 79.6c-36.8 6.5-69.6 30.7-86.1 63.6C4 161.9.7 175.8.6 197c-.1 17.6 1.4 26.2 6.9 41.8 13.8 38.4 49.5 69.1 89.2 76.4l6.4 1.2-.6 5c-1.2 9-7.3 31.3-11.5 42A227.6 227.6 0 0 1 69.9 404c-6 9.2-6.9 11.3-6.9 15.2 0 8.7 7.3 15.3 15.9 14.5 5.6-.6 31-13.2 45.1-22.5 52-34 89-84.4 106.4-145 8.8-30.4 11.8-69.8 7.1-92-8.9-42.7-39.8-77.2-80.8-90.6-16.6-5.4-40-7.1-57.2-4zM371.5 79.6c-36.8 6.5-69.6 30.7-86.1 63.6-9.4 18.7-12.7 32.6-12.8 53.8-.1 17.6 1.4 26.2 6.9 41.8 13.7 38.3 49.6 69.1 88.8 76.3l6.8 1.3-.6 5c-1.2 8.9-7.3 31.3-11.5 41.9a232.9 232.9 0 0 1-21.1 40.8c-6 9.1-6.9 11.2-6.9 15.1 0 8.7 7.3 15.3 15.9 14.5 5.6-.6 31-13.2 45.1-22.5 52-34 89-84.4 106.4-145 8.8-30.4 11.8-69.8 7.1-92-6.6-31.5-25.7-59.7-52.1-76.8-8.9-5.9-22.1-12-31.4-14.7-16.1-4.7-38.5-5.9-54.5-3.1z'/%3E%3C/svg%3E");
}
.quote-user {
    color: #002b71;
    cursor: pointer;
    display: inline-block;
    width: fit-content;
}
.quote-user.me {
    background-color: #66FF99;
    border-radius: 8px;
    padding: 0 5px;
}
.quote-user-icon {
    display: block;
}
.timeline__item-comments-comment .quote-user-icon:not(:first-of-type) {
    margin-top: 15px;
}
.quote-user-icon::before {
    content: "\e069";
    font-family: 'icomoon';
    font-size: 0.9em;
    color: #81aad5;
    margin-right: 5px;
}
.quote-user:before {
    /* content: "\e069";
    font-family: 'icomoon';
    font-size: 0.9em;
    color: #81aad5;
    margin-right: 5px; */
}
.quote-user:hover {
    color: #73b5e5;
}
.timeline__item-comments-comment span {
    /* display: inline-block; */
    /*width: 100%; */
}
.editor {
    
}

.user-locality {
    font-size: 0.9em;
    display: inline-flex;
}
.timeline__item-comments-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-left: 65px; */
    gap: 15px 70px;
    flex-wrap: wrap;
}
.timeline__item-comments-target {
    position: relative;
    width: 99px;
    height: 33px;
}
.timeline__item-comments-answer {
    margin-left: auto;
}
.timeline__item-comments-answer-button {
    position: relative;
    display: flex;
    padding: 0px 15px;
    background-color: #e7f3fa;
    border-radius: 33px;
    height: 33px;
    align-items: center;
    color: #002b71;
    transition: all .4s ease;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.timeline__item-comments-answer-button:active::after {
    background-size: 0% 0%;
    opacity: 0.2;
    transition: all 0s ease 0s;
  }
  .timeline__item-comments-answer-button::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: radial-gradient(circle, rgb(255, 255, 255) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-size: 1000% 1000%;
    background-position: 50% center;
    opacity: 0;
    pointer-events: none;
    transition: background 0.4s ease 0s, opacity 1s ease 0s;
  }
.timeline__item-comments-answer-button:hover {
    background-color: #b9e4ff;
}
.timeline__item-comments-target-circle {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    justify-content: flex-end;
    background-color: #f9fdff;
}
.timeline__item-comments-target-percent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 33px;
    background-color: #343434;
    border-radius: 50%;
    color: white;
    font-size: 0.95em;
    border: 3px solid grey;
    cursor: crosshair;
    scale: 1;
    /* box-shadow: inset 1px 2px 2px black; */
    font-family: "RobotoCondensed";
    transition: backgroud 0s, color .4s ease-in-out, border .4s ease-in-out;
    position: relative;
    z-index: 1;
    margin-right: -1px;
    -webkit-tap-highlight-color: transparent;
}
/* .timeline__item-comments-target:hover .timeline__item-comments-target-shooting-plus {
    background-color: red;
} */

.timeline__item-comments-target-percent::before {
    content: "";
    /* background-color: #343434; */
    background-color: #5a5a5a;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 33px;
    z-index: -1;
    transition: all .4s ease;
}
.timeline__item-comments-target.hide-on-target .timeline__item-comments-target-percent::before {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.target-8.hide-on-target {
    color: black;
}
.target-8.hide-on-target::before {
    background-color: white;
}

.timeline__item-comments-target-shooting {
    position: absolute;
    display: flex;
    background-color: #e7f3fa;
    right: -61px;
    top: 4px;
    border-radius: 0 33px 33px 0;
    height: 25px;
    scale: 1;
    /* display: none; */
}
.timeline__item-comments-target-shooting-plus {
    display: flex;
    width: 30px;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
    transition: all .4s ease;
    -webkit-tap-highlight-color: transparent;
}
.timeline__item-comments-target-shooting-minus {
    display: flex;
    width: 30px;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0 33px 33px 0;
    transition: all .4s ease;
    -webkit-tap-highlight-color: transparent;
}
.timeline__item-comments-target-shooting-plus-icon::before {
    content: "\e065";
    font-family: "icomoon";
    font-size: 0.8em;
    color: #81aad5;
    transition: all .4s ease;
}
.timeline__item-comments-target-shooting-minus-icon::before {
    content: "\e066";
    font-family: "icomoon";
    font-size: 0.8em;
    color: #81aad5;
    transition: all .4s ease;
}
.timeline__item-comments-target-shooting-plus:hover, .timeline__item-comments-target-shooting-minus:hover {
    background-color: #b9e4ff;
}
.target-1.plus-hover-1 .timeline__item-comments-target-shooting-plus-icon::before, .target-2.plus-hover-2 .timeline__item-comments-target-shooting-plus-icon::before, .target-3.plus-hover-3 .timeline__item-comments-target-shooting-plus-icon::before, .target-5.plus-hover-5 .timeline__item-comments-target-shooting-plus-icon::before, .target-6.plus-hover-6 .timeline__item-comments-target-shooting-plus-icon::before, .target-7.plus-hover-7 .timeline__item-comments-target-shooting-plus-icon::before, .timeline__item-comments-target-shooting-plus:hover .timeline__item-comments-target-shooting-plus-icon::before {
    color: rgba(0, 128, 0, 0.5);
}
.timeline__item-comments-target-shooting-minus:hover .timeline__item-comments-target-shooting-minus-icon::before {
    color: rgba(255, 0, 0, 0.5);
}


.timeline__item-comments-target-details {
    position: absolute;
    display: flex;
    background-color: #e7f3fa;
    right: 0px;
    top: 4px;
    border-radius: 0 33px 33px 0;
    height: 25px;
    scale: 1;
    width: 70px;
    align-items: center;
    transition: all 0.4s 0.4s ease;
    font-size: 0.95em;
    justify-content: center;
}
.timeline__item-comments-targets::before {
    content: "\e077";
    font-family: 'icomoon';
    color: #81aad5;
    font-size: 0.80em;
    margin-right: 5px;
}
.target-total .timeline__item-comments-target-details, .target-1.hide-on-target .timeline__item-comments-target-details, .target-1.hide-miss .timeline__item-comments-target-details, .target-2.hide-on-target .timeline__item-comments-target-details, .target-2.hide-miss .timeline__item-comments-target-details, .target-3.hide-on-target .timeline__item-comments-target-details, .target-3.hide-miss .timeline__item-comments-target-details, .target-5.hide-on-target .timeline__item-comments-target-details, .target-5.hide-miss .timeline__item-comments-target-details, .target-6.hide-on-target .timeline__item-comments-target-details, .target-6.hide-miss .timeline__item-comments-target-details, .target-7.hide-on-target .timeline__item-comments-target-details, .target-7.hide-miss .timeline__item-comments-target-details {
    right: -61px;
}
.timeline__item-comments-target-total::before {
    content: "\e067";
    font-family: 'icomoon';
    color: #81aad5;
    font-size: 0.80em;
    margin-right: 5px;
}

.timeline__item-comments-target.hide-on-target .timeline__item-comments-target-percent {
    background-color: white;
    box-shadow: none;
    color: black;
}
.target-1.hide-on-target .timeline__item-comments-target-shooting, .target-1.hide-miss .timeline__item-comments-target-shooting {
    animation: .4s ease-in-out forwards target-shooting;
}
.target-1.hide-on-target .timeline__item-comments-target-percent, .target-1.hide-miss .timeline__item-comments-target-percent {
    background-color: none;
}
.target-1.hide-miss .timeline__item-comments-target-percent {
    border-color: #ff6868;
}
.target-1.hide-miss .percent-before, .target-1.hide-on-target .percent-before {
    display: none;
}


.target-2.hide-on-target .timeline__item-comments-target-shooting, .target-2.hide-miss .timeline__item-comments-target-shooting {
    animation: .4s ease-in-out forwards target-shooting;
}
.target-2.hide-on-target .timeline__item-comments-target-percent, .target-2.hide-miss .timeline__item-comments-target-percent {
    background-color: none;
}
.target-2.hide-miss .timeline__item-comments-target-percent {
    border-color: #ff6868;
}
.percent-after-plus {
    display: none;
}
.hide-on-plus .percent-after-plus, .hide-on-minus .percent-after-minus {
    display: block;
}
.hide-on-plus .percent-before, .hide-on-minus .percent-before {
    display: none;
}
.percent-after-minus {
    display: none;
}

.target-total .timeline__item-comments-target-percent, .target-1.hide-on-target .timeline__item-comments-target-percent, .target-1.hide-miss .timeline__item-comments-target-percent, .target-2.hide-on-target .timeline__item-comments-target-percent, .target-2.hide-miss .timeline__item-comments-target-percent, .target-3.hide-on-target .timeline__item-comments-target-percent, .target-3.hide-miss .timeline__item-comments-target-percent, .target-5.hide-on-target .timeline__item-comments-target-percent, .target-5.hide-miss .timeline__item-comments-target-percent, .target-6.hide-on-target .timeline__item-comments-target-percent, .target-6.hide-miss .timeline__item-comments-target-percent, .target-7.hide-on-target .timeline__item-comments-target-percent, .target-7.hide-miss .timeline__item-comments-target-percent {
    cursor: default;
}


.target-3.hide-on-target .timeline__item-comments-target-shooting, .target-3.hide-miss .timeline__item-comments-target-shooting {
    animation: .4s ease-in-out forwards target-shooting;
}
.target-3.hide-on-target .timeline__item-comments-target-percent, .target-3.hide-miss .timeline__item-comments-target-percent {
    background-color: none;
}
.target-3.hide-miss .timeline__item-comments-target-percent {
    border-color: #ff6868;
}

.target-5.hide-on-target .timeline__item-comments-target-shooting, .target-5.hide-miss .timeline__item-comments-target-shooting {
    animation: .4s ease-in-out forwards target-shooting;
}
.target-5.hide-on-target.hide-on-target .timeline__item-comments-target-percent, .target-5.hide-miss .timeline__item-comments-target-percent {
    background-color: none;
}
.target-5.hide-miss .timeline__item-comments-target-percent {
    border-color: #ff6868;
}


.target-6.hide-on-target .timeline__item-comments-target-shooting, .target-6.hide-miss .timeline__item-comments-target-shooting {
    animation: .4s ease-in-out forwards target-shooting;
}
.target-6.hide-on-target.hide-on-target .timeline__item-comments-target-percent, .target-6.hide-miss .timeline__item-comments-target-percent {
    background-color: none;
}
.target-6.hide-miss .timeline__item-comments-target-percent {
    border-color: #ff6868;
}


.target-7.hide-on-target .timeline__item-comments-target-shooting, .target-7.hide-miss .timeline__item-comments-target-shooting {
    animation: .4s ease-in-out forwards target-shooting;
}
.target-7.hide-on-target.hide-on-target .timeline__item-comments-target-percent, .target-7.hide-miss .timeline__item-comments-target-percent {
    background-color: none;
}
.target-7.hide-miss .timeline__item-comments-target-percent {
    border-color: #ff6868;
}





.target-3 .percent-after {
    display: none;
}
.target-3.hide-miss .percent-before, .target-3.hide-on-target .percent-before {
    display: none;
}
/* .target-3.hide-on-target .percent-before {
    display: none;
} */
/* .target-3.hide-miss .percent-after, .target-3.hide-on-target .percent-after {
    display: block;
} */
.target-5.hide-miss .percent-before, .target-5.hide-on-target .percent-before {
    opacity: 0;
}

.target-6.hide-on-target .percent-before, .target-6.hide-miss .percent-before, .target-7.hide-on-target .percent-before, .target-7.hide-miss .percent-before {
    display: none;
}


.percent-plus-7 .percent-after {
    display: none;
}
.target-7.hide-miss .percent-after {
    display: block;
}
.target-7.hide-on-target .percent-after {
    display: block;
}

@keyframes target-shooting {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-65px);
      visibility: hidden;
    }
  }





















@media  (max-width: 992px) {
    .timeline__item-comments-quote, .timeline__item-comments-edit, .timeline__item-comments-delete, .timeline__item-comments-ip {
        width: 33px;
        height: 33px;
    }
    .timeline__item-comments-number span {
        margin-bottom: inherit;
      }
    .timeline__item-comments-more-comments {
        /* margin-bottom: 28px; */
        margin-bottom: 34px;
    }
    .timeline__speedbar {
        padding: 1em 1.5em;
    }
    .timeline__item-comments {
        padding: 1.5em 1.06em;
      }
    .timeline__item-comments-head {
        margin-bottom: 2.0em;
    }
    .timeline__item-comments-discussion-head {
        position: relative;
    }
    .timeline__item-comments-controls {
        position: absolute;
        top: -35px;
        right: -10.5px;
        background-color: #f9fdff;
        border-radius: 15px 15px 0 0;
        border: 1px solid #dfedf4;
        border-bottom: none;
        padding: 5px 5px 0 5px;
    }
    .timeline__item-comments-controls::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 17px;
        left: -1px;
        bottom: 0;
        background-color: #f9fdff;
        /* background-color: red; */
    }
    .timeline__item-comments-discussion {
        border-radius: 15px 0 15px 15px;
        margin-bottom: 2.0em;
    };
}
@media  (max-width: 550px) {
    .timeline__speedbar {
        padding: 1em 1.06em;
    }
}

.timeline__item-comments-ip-info {
    display: flex;
    height: 33px;
    align-items: center;
    padding: 0 0 0 10px;
}
.timeline__item-comments-ip-info input {
    width: 87.9px;
}
.timeline__item-comments-ip-info button {
    display: flex;
    width: 33px;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: all .3 ease;
    border-radius: 0 8px 8px 0;
}
.timeline__item-comments-ip-info button:hover {
    background-color: #ecf5fb;
}
/* .timeline__item-comments-ip-info button:active {
    background-color: #e7f3fa;
} */
.copy-icon::before {
    content: "\e100";
    font-family: 'icomoon';
    font-size: 0.9em;
    color: #81aad5;
    font-style: normal;
}
.timeline__item-comments-ip-info.active .copy-icon::before {
    content: "\e079";
    font-size: 0.8em;
}

/* .tippy-content {
    padding: 0;
} */
#tippy-43, #tippy-44, #tippy-45, #tippy-46, #tippy-47, #tippy-48, #tippy-49, #tippy-50, #tippy-51, #tippy-52, #tippy-53, #tippy-54, #tippy-55, #tippy-56, #tippy-57, #tippy-58, #tippy-59, #tippy-60, #tippy-61, #tippy-62, #tippy-63, #tippy-64, #tippy-65, #tippy-66, #tippy-67, #tippy-68, #tippy-69, #tippy-70, #tippy-71, #tippy-72, #tippy-73, #tippy-74, #tippy-75, #tippy-76, #tippy-77, #tippy-78, #tippy-79, #tippy-80, #tippy-81, #tippy-82, #tippy-83, #tippy-84, #tippy-85, #tippy-86, #tippy-87, #tippy-88, #tippy-89, #tippy-90, #tippy-91, #tippy-92, #tippy-93, #tippy-94, #tippy-95, #tippy-96, #tippy-97, #tippy-98, #tippy-99, #tippy-100, #tippy-101, #tippy-102, #tippy-103, #tippy-104, #tippy-105, #tippy-106, #tippy-107, #tippy-108 {
    inset: -5px auto auto 0px !important;
}
/* #tippy-43 .tippy-content, #tippy-44 .tippy-content, #tippy-45 .tippy-content, #tippy-46 .tippy-content {
    padding: 0;
} */

.timeline__item-comments-delete-info {
    padding-top: 5px;
}
.timeline__item-comments-delete-info span {
    display: flex;
    height: 33px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.timeline__item-comments-delete-info_choose {
    display: flex;
    justify-content: space-around;
}
.delete-yes {
    color: red;
    border-radius: 0 0 0px 8px;
    position: relative;
}
.delete-yes, .delete-no {
    width: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
}
.delete-yes:hover, .delete-no:hover {
    background-color: #ecf5fb;
  }
.delete-no {
    border-radius: 0 0 8px 0px;
}
.delete-yes::before {
    position: absolute;
    content: '';
    width: 0.5px;
    height: 15px;
    background-color: #d0d9dd;
    right: 0;
}





.timeline__item-comments-write {
    padding: 0 10px;
}
.timeline__item-comments-write-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5em;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 20px;
}
.timeline__item-comments-write-title {
    font-weight: 600;
    font-size: 1.1em;
    height: 33px;
    display: flex;
    align-items: center;
}
.timeline__item-comments-write-rules {
    color: red;
    display: flex;
    align-items: center;
    height: 33px;
    cursor: pointer;
}
.timeline__item-comments-write-rules:hover {
    color: rgb(227, 0, 0);
}
.timeline__item-comments-write-rules::before {
    display: block;
    content: "\e081";
    font-family: 'icomoon';
    color: #81aad5;
    font-size: .9em;
    margin-right: 7px;
    transition: all 0.4s ease;
    scale: 1;
}
/* .timeline__item-comments-write-rules:hover::before {
    transform: rotate(180deg);
} */



.timeline__item-comments-write-avatar {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.timeline__item-comments-avatar-body {
    position: relative;
    margin-right: 15px;
    height: 50px;
}
.timeline__item-comments-write-body {
    display: flex;
    /* margin-top: 20px; */
    flex-direction: column;
    margin-top: 15px;
}
.timeline__item-comments-write-textarea-body {
    display: flex;
    margin-top: 5px;
    position: relative;
}
.timeline__item-comments-write-tittle {
}


.timeline__item-comments-write-textarea-content {
    margin-left: 15px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
  
.timeline__item-comments-write-textarea-content .popup {
    position: absolute;
    display: none;
    flex-direction: column;
    background: #fff;
    padding: 10px;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    transform: translate(-37%, -50%);
    border-radius: 8px;
    box-shadow: 0px 0px 12px rgba(91, 91, 91, 0.3);
    min-width: 250px;
}
    
.timeline__item-comments-write-textarea-content .title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 1.1em;
    font-weight: 600;
    position: relative;
    height: 33px;
}
      
.timeline__item-comments-write-textarea-content .title span {
    user-select: none;
    cursor: pointer;
    width: 33px;
    height: 33px;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    border-radius: 50%;
    transition: all .4s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.timeline__item-comments-write-textarea-content .title span:hover {
    background-color: #d1ebfb;
    transform: rotate(90deg);
}
.timeline__item-comments-write-textarea-content .title span::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 18px;
    top: 15.5px;
    left: 7.5px;
    background-color: #1f7ec4;
    transform: rotate(45deg);
    border-radius: 5px;
}
.timeline__item-comments-write-textarea-content .title span::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 18px;
    top: 15.5px;
    left: 7.5px;
    background-color: #1f7ec4;
    transform: rotate(-45deg);
    border-radius: 5px;
}
.timeline__item-comments-write-textarea-content .title .content {
    padding: 4px 0;
    width: 100%;
}
      
.timeline__item-comments-write-textarea-content form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
        
.timeline__item-comments-write-textarea-content input {
    height: 33px;
}
        
.timeline__item-comments-write-textarea-content input[type="text"] {
    display: block;
    padding: 5px 15px;
    border: 1px solid #d0d9dd;
    border-radius: 33px;
    height: 33px;
    transition: border .3s ease, background-color .3s ease;
    width: 100%;
    margin: 10px 0;
  }
/* .timeline__item-comments-write-textarea-content input[type="text"]:focus {
    border-color: #b0dbf1;
}
  
.timeline__item-comments-write-textarea-content input[type="submit"] {
    padding: 4px;
    margin: 4px auto 0 auto;
} */

.timeline__item-comments-write-textarea-content .toolbar-button {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    user-select: none;
    cursor: pointer;
    border: 1px solid #d0d9dd;
    border-radius: 50%;
    transition: all 0.3s ease;
    scale: 1;
    background-color: #fff;
}
.toolbar-button:nth-child(1)::before {
    content: "\e083";
    font-family: 'icomoon';
    color: #5d5d5d;
    font-size: 0.75em;
}
.toolbar-button:nth-child(2)::before {
    content: "\e086";
    font-family: 'icomoon';
    color: #5d5d5d;
    font-size: 0.8em;
}
.toolbar-button:nth-child(3)::before {
    content: "\e084";
    font-family: 'icomoon';
    color: #5d5d5d;
    font-size: 0.75em;
}
.toolbar-button:nth-child(4)::before {
    content: "\e085";
    font-family: 'icomoon';
    color: #5d5d5d;
    font-size: 0.8em;
}
.toolbar-button:nth-child(5)::before {
    content: "\e087";
    font-family: 'icomoon';
    color: #5d5d5d;
    font-size: 0.8em;
}
.toolbar-button:nth-child(6)::before {
    content: "\e070";
    font-family: 'icomoon';
    color: #5d5d5d;
    font-size: 0.9em;
}
.toolbar-button:hover::before {
    color: black;
}
    
/* .timeline__item-comments-write-textarea-content textarea {
    display: block;
    width: 100%;
    padding: 0 8px;
    resize: none;
    font-size: 1em;
    font-family: Arial, tahoma, Helvetica, sans-serif;
    padding: 10px;
    color: black;
    border-radius: 8px 8px 0 0;
    line-height: 1.5;
    overflow: hidden;
    border-bottom: none;
    background: transparent;
    min-height: 100px;
} */

.text-field {
    display: block;
    width: 100% !important;
    resize: none;
    color: black;
    /* min-height: 125px; */
    min-height: 162px;
    font-family: Arial, tahoma, Helvetica, sans-serif;
    font-size: 1em;
    overflow: hidden;
    line-height: 1.5;
    padding: 10px 10px 45.8px 10px;
    border: 1px solid #d0d9dd;
    transition: border .3s ease, background-color .3s ease;
    border-radius: 8px;
}

.text-field:focus {
    /* background: #fafdff; */
    border-color: #b0dbf1;
    box-shadow: rgb(176, 219, 241, 0.5) 0px 0px 3px 2px;
}
.text-field:focus ~ .toolbar-list {
    border-top-color: #e5e9ea;
    border-left-color: #b0dbf1;
    border-right-color: #b0dbf1;
    border-bottom-color: #b0dbf1;
}

.popup input[type="text"] {
    transition: border .3s ease;
}
.popup input[type="text"]:focus {
    border-color: #b0dbf1;
    box-shadow: rgb(176, 219, 241, 0.5) 0px 0px 3px 2px;
}
.popup input[type="submit"] {
    background-color: #e7f3fa;
    border-radius: 33px;
    cursor: pointer;
    transition: background-color .3s ease;
    margin: 0 35px;
}
.popup input[type="submit"]:hover {
    background-color: #b9e4ff;
}
.timeline__item-comments-write-textarea-content textarea:focus::-moz-placeholder {
    color: transparent;
}
.timeline__item-comments-write-textarea-content textarea:focus::-webkit-input-placeholder {
    color: transparent;
}
.timeline__item-comments-write-textarea-content textarea:focus::-ms-input-placeholder {
    color: transparent;
}

.toolbar-list {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fcfcfc;
    margin-top: -35.8px;
    width: 100%;
    transition: border .3s ease;
    border: 1px solid #d0d9dd;
    border-radius: 0 0 8px 8px;
    align-items: center;
    border-top-color: #e5e9ea;
}

.toolbar-content {
    flex: 1;
    overflow: auto;
    position: relative;
}


.timeline__item-comments-write-textarea-content .toolbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    padding: 5px;
    align-items: center;
    width: 210.533px;
}
/* .toolbar-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, rgb(255, 255, 25) 100%);
} */
#toolbar-message-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    margin-right: 5px;
    border-radius: 33px;
    padding: 0 15px;
    height: 33px;
    transition: background-color .3s ease;
    color: #002b71;
    background-color: #e7f3fa;
}
/* .toolbar-message-input {
    color: #002b71;
    background-color: #e7f3fa;
    border-radius: 33px;
    cursor: pointer;
    margin: 0;
    transition: background-color .3s ease;
    padding: 0 15px;
} */
#toolbar-message-button:hover  {
    background-color: #b9e4ff;
}
/* .toolbar-message-button:hover {
    background-color: #b9e4ff;
} */
#toolbar-message-button::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: radial-gradient(circle, rgb(255, 255, 255) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-size: 1000% 1000%;
    background-position: 50% center;
    opacity: 0;
    pointer-events: none;
    transition: background 0.4s ease 0s, opacity 1s ease 0s;
}
#toolbar-message-button:active::after {
    background-size: 0% 0%;
    opacity: 0.2;
    transition: all 0s ease 0s;
}

#toolbar-message-button p {
    display: flex;
    align-items: center;
}
/* #toolbar-message-button p::before {
    content: "\e089";
    font-family: 'icomoon';
    color: #81aad5;
    font-size: 1.30em;
    margin-right: 5px;
} */

/* @media  (max-width: 450px) {
    .timeline__item-comments-write-textarea-content .toolbar {
        width: 60%;
    }
}
@media  (max-width: 370px) {
    .timeline__item-comments-write-textarea-content .toolbar {
        width: 105px;
    }
}
@media  (max-width: 335px) {
    .timeline__item-comments-write-textarea-content .toolbar {
        width: 95px;
        gap: 5px;
    }
} */

@media  (max-width: 430px) {
    #toolbar-message-button .button-icon::before {
        /* content: "\e090";
        font-family: 'icomoon';
        color: #81aad5;
        font-size: 1.30em;
        margin-right: 5px; */
        content: "\e091";
        font-family: 'icomoon';
        color: #81aad5;
        font-size: 1.20em;
    }
    #toolbar-message-button .button-text {
        display: none;
    }
    #toolbar-message-button {
        width: 33px;
        scale: 1;
        margin-left: 20px;
    }
}

@media  (max-width: 379px) {
    .toolbar-list::before {
        position: absolute;
        content: "";
        top: 0;
        right: 57px;
        bottom: 0px;
        z-index: 1;
        width: 20px;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(252,252,252,1) 100%);
    }
    .toolbar-list.hide::before {
        z-index: -1;
    }
}

/* @media  (max-width: 330px) {
    .timeline__item-comments-write-textarea-content .toolbar {
        gap: 8px;
        width: 200px;
      }
} */

/* @media  (max-width: 370px) {
    .timeline__item-comments-write-textarea-content .toolbar {
        width: 105px;
    }
}
@media  (max-width: 335px) {
    .timeline__item-comments-write-textarea-content .toolbar {
        width: 95px;
        gap: 5px;
    }
} */