.timeline-cup-result {
    padding: 2em 1.5em 1.75em 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 24px rgba(32,60,87,0.11);
    overflow-x: hidden;
}
.timeline-cup-result__head {
    margin-bottom: 1.5em;
    position: relative;
}
.timeline-cup-result__head span:nth-child(1) {
    font-size: 1.3em;
    color: black;
    font-weight: 700;
    /* padding-right: 58px; */
    padding-right: 110px;
}
.age-button {
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.age-button-svg {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.age-button-svg path {
    fill: #84acd4;
    transition: all .3s ease;
}
.timeline-cup.profiles-color .age-button-svg path:nth-child(3) {
    fill: #ff0000;
}
.timeline-cup.profiles-color .age-button-svg path:nth-child(4) {
    fill: #fcd401;
}
.timeline-cup.profiles-color .age-button-svg path:nth-child(1) {
    fill: #1bd212;
}

.age-color-1, .age-color-2, .age-color-3, .age-color-4, .age-color-5, .age-color-6 {
    transition: background-color .3s ease;
}
.timeline-cup.profiles-color .age-color-1 {
    background-color: #cfffcf;
}
.timeline-cup.profiles-color .age-color-2 {
    background-color: #95ff95;
}
.timeline-cup.profiles-color .age-color-3 {
    background-color: #ffc;
}
.timeline-cup.profiles-color .age-color-4 {
    background-color: #ff7;
}
.timeline-cup.profiles-color .age-color-5 {
    background-color: #ffd4d4;
}
.timeline-cup.profiles-color .age-color-6 {
    background-color: #ff9f9f;
}

.timeline-cup-result-table {
    width: 100%;
}
.yellow-jersey {
    background-color: #ffe559 !important;
    cursor: help;
}
.red-jersey {
    background-color: #ff8f8f !important;
    cursor: help;
}
.blue-jersey {
    background-color: #75c3fd !important;
    cursor: help;
}
.timeline-cup-result-wrapper {
    overflow-x: auto;
}
.timeline-cup-result-table tbody tr td:nth-child(1) {
    width: 30.4px;
}
.timeline-cup-result-table tbody tr td {
    white-space: nowrap;
}
/* .timeline-cup-result-table tbody tr td:nth-child(1), .timeline-cup-result-table tbody tr td:nth-child(2) {
    padding: 2.4px;
} */
.timeline-cup-result-table tbody tr td:nth-child(3) {
    padding: 2.4px 7px 2.4px 2.4px;
}
.timeline-cup-result-table tbody tr td:nth-child(4), .timeline-cup-result-table tbody tr td:nth-child(5), .timeline-cup-result-table tbody tr td:nth-child(6), .timeline-cup-result-table tbody tr td:nth-child(7), .timeline-cup-result-table tbody tr td:nth-child(8), .timeline-cup-result-table tbody tr td:nth-child(9) {
    padding: 2.4px 7px 2.4px 7px;
}
.timeline-cup-result-table tbody tr td:first-child {
    padding: 2.4px 0 !important;
}
.timeline-cup-result-table tbody tr td:nth-child(2) {
    padding: 2.4px 2.4px 2.4px 4.8px !important;
}
.timeline-cup-result-table tbody tr td:not(:nth-child(3), :last-child) {
    text-align: center;
}
.timeline-cup-result-table tbody tr td:last-child {
    width: 68px;
}
.timeline-cup-result-table tbody tr:not(:first-child) td:nth-child(1) {
    font-weight: 600;
    font-size: 0.85em;
    /* padding-bottom: 4px; */
    text-align: center;
}
.timeline-cup-result-table tbody tr:nth-child(2n) {
    background-color: #e7f3fa;
}
.timeline-cup-result-table {
    border-collapse: collapse;
    margin-top: 2em;
}
.timeline-cup-result-table tbody tr:nth-child(1) {
    color: #5d5d5d;
}
.timeline-cup-result-table tbody tr td:nth-child(2) {
    width: 22.8px;
}
.timeline-cup-result-table tbody tr td a.short-name {
    display: none;
}
.timeline-cup-result-table tbody tr td:nth-child(4), .timeline-cup-result-table tbody tr td:nth-child(5), .timeline-cup-result-table tbody tr td:nth-child(7) {
    max-width: fit-content;
}
.timeline-cup-result-table img {
    cursor: pointer;
}
.chosen-string.active {
    background-color: #ffcae5 !important;
}
.bib-icon::before {
    content: "\e927";
    font-family: 'icomoon';
    font-size: 0.80em;
    font-weight: normal;
    color: #8d8d8d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bib-icon, .shooting-icon, .lag-time-icon {
    position: relative;
}
.lag-time-icon::before {
    content: "\e925";
    font-family: 'icomoon';
    font-size: 0.80em;
    font-weight: normal;
    color: #8d8d8d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shooting-icon::before {
    content: "\e077";
    font-family: 'icomoon';
    font-size: 0.80em;
    font-weight: normal;
    color: #8d8d8d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.shooting-icon::before, .bib-icon::before, .timeline-cup-result-table tbody tr td:nth-child(9), .timeline-cup-result-select-body-text.short {
    display: none;
}

.timeline-cup-result__select-body {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    flex-wrap: wrap;
    gap: 1.5em 16px;
    align-items: center;
}
.timeline-cup__flag {
    display: flex;
    align-items: center;
}
.timeline-cup__flag div {
    display: flex;
    gap: 0 5px;
    flex-wrap: wrap;
    width: min-content;
    white-space: nowrap;
}
.timeline-cup__flag select {
    outline: 1px solid #d0d9dd;
}
.timeline-cup__select-flag {
    margin-left: 10px;
    padding: 5px 0 5px 5px;
    width: 98px;
}
.timeline-cup__flag span:nth-child(2) {
    font-size: 0.9em;
}
.timeline-cup-result__analysis-button a {
    padding: 6px 20px;
    background-color: #e7f3fa;
    position: relative;
    border-radius: 33px;
    z-index: 2;
    display: flex;
    transition: all .3s ease;
}
.timeline-cup-result-discription {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
}
.timeline-cup-result-discription-links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
/* .timeline-cup-result-discription-icons {
    position: relative;
    display: flex;
    height: 21px;
    width: 135px;
} */

/* .timeline-cup-result__history, .timeline-cup-result__photogallery, .timeline-cup-result__videogallery {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    border-radius: 50%;
    transition: all .3s ease;
    width: 30px;
    height: 30px;
}
.timeline-cup-result__history {
    left: 5px;
}
.timeline-cup-result__photogallery {
    left: 45px;
}
.timeline-cup-result__videogallery {
    left: 85px;
}
.timeline-cup-result__history:hover, .timeline-cup-result__photogallery:hover, .timeline-cup-result__videogallery:hover {
    background-color: #e7f3fa;
}
.timeline-cup-result__history::before {
    position: absolute;
    content: "\e929";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    font-size: .9em;
    color: #81aad5;
}
.timeline-cup-result__photogallery::before {
    position: absolute;
    content: "\e90c";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    font-size: 0.9em;
    color: #81aad5;
}

.timeline-cup-result__videogallery::before {
    position: absolute;
    content: "\e92a";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    font-size: 0.9em;
    color: #81aad5;
} */
.toggle-style-table {
    display: flex;
}
.cell-container, .photo-profile {
    display: none;
}
.timeline-cup-result.modern tbody tr td:nth-child(2) img {
    display: none;
}
.timeline-cup-result.modern .cell-container {
    display: flex;
    flex-direction: column;
}
.timeline-cup-result.modern .photo-profile {
    display: block;
    background-color: white;
    /* width: 2.886em;
    height: 2.886em; */
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.3) inset, 0 -1px 0 rgba(0,0,0,.2) inset;
    transition: all .3s ease;
}
.timeline-cup-result.modern .photo-profile:hover {
    scale: 1.1;
}
.timeline-cup-result.modern .photo-profile.wierer {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTITA20304199001.png);
}
.timeline-cup-result.modern .photo-profile.vittozzi {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTITA20402199501.png);
}
.timeline-cup-result.modern .photo-profile.herrmann {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTGER22010198801.png);
}
.timeline-cup-result.modern .photo-profile.simon {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTFRA20910199601.png);
}
.timeline-cup-result.modern .photo-profile.lander {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTCAN20209199101.png);
}
.timeline-cup-result.modern .photo-profile.fogt {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTGER20710199701.png);
}
.timeline-cup-result.modern .photo-profile.tandrevold {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTNOR22309199601.png);
}
.timeline-cup-result.modern .photo-profile.h-shevalye {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTFRA20211199501.png);
}
.timeline-cup-result.modern .photo-profile.knotten {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTNOR20601199501.png);
}
.timeline-cup-result.modern .photo-profile.p-klemenchich {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTSLO21604199701.png);
}
.timeline-cup-result.modern .photo-profile.kebinger {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTGER22611199701.png);
}
.timeline-cup-result.modern .photo-profile.s-bushe {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTFRA21202199301.png);
}
.timeline-cup-result.modern .photo-profile.davidova {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTCZE20301199701.png);
}
.timeline-cup-result.modern .photo-profile.arnekleyv {
    background-image: url();
}
.timeline-cup-result.modern .photo-profile.tomingas {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTEST20401199501.png);
}
.timeline-cup-result.modern .photo-profile.zhanmonno {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTFRA22810199801.png);
}
.timeline-cup-result.modern .photo-profile.auhentaller {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTITA22803200101.png);
}
.timeline-cup-result.modern .photo-profile.zduch {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTAUT20301199401.png);
}
.timeline-cup-result.modern .photo-profile.baserga {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTSUI22909200001.png);
}
.timeline-cup-result.modern .photo-profile.e-oeberg {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTSWE22602199901.png);
}
.timeline-cup-result.modern .photo-profile.shtayner {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTAUT22505199701.png);
}
.timeline-cup-result.modern .photo-profile.hekki {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTSUI20107199501.png);
}
.timeline-cup-result.modern .photo-profile.h-oeberg {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTSWE20211199501.png);
}
.timeline-cup-result.modern .photo-profile.hettih {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTGER21606199601.png);
}
.timeline-cup-result.modern .photo-profile.magnusson {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTSWE23103199501.png);
}
.timeline-cup-result.modern .photo-profile.harvatova {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTCZE20102199301.png);
}
.timeline-cup-result.modern .photo-profile.kolombo {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTFRA21604199601.png);
}
.timeline-cup-result.modern .photo-profile.mozer {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTCAN21607199701.png);
}
.timeline-cup-result.modern .photo-profile.passler {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTITA23108200101.png);
}
.timeline-cup-result.modern .photo-profile.tachizaki {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTJPN21301198901.png);
}
.timeline-cup-result.modern .photo-profile.i-fialkova {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTSVK22211199401.png);
}
.timeline-cup-result.modern .photo-profile.bilosyuk {
    background-image: url(https://ibu.blob.core.windows.net/docs/athletes/BTUKR20901198701.png);
}
.timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(3) {
    padding: 2.4px 7px 2.4px 4.8px;
}
.timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(2) {
    padding: 4.8px 2.4px 4.8px 3.5px !important;
}
.timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(4), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(5), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(6), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(7), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(8), .timeline-cup-result.modern .timeline-cup-result-table tbody tr td:nth-child(9) {
    padding: 4.8px 7px 4.8px 7px;
}
.nation {
    display: none;
}
.timeline-cup-result.modern .nation {
    display: initial;
}
.cell-container-name-nat {
    display: inline-flex;
    flex-direction: column;
}
@media (hover: hover) {
    .timeline-cup-result__analysis-button a:hover {
        background-color: #d1ebfb;
    }
    .timeline-cup-result-table tbody tr:not(:first-child, .active):hover td {
        background-color: #fffce5;
    }
    .timeline-cup .age-button-svg:hover path:nth-child(1) {
        fill: #1bd212;
    }
    .timeline-cup .age-button-svg:hover path:nth-child(3) {
        fill: #ff0000;
    }
    .timeline-cup .age-button-svg:hover path:nth-child(4) {
        fill: #fcd401;
    }
}

@media screen and (max-width: 992px) {
    .timeline-cup-result-table tbody tr td:nth-child(4), .timeline-cup-result-table tbody tr td:nth-child(5), .timeline-cup-result-table tbody tr td:nth-child(7) {
        max-width: none;
    }
}

@media screen and (max-width: 580px) {
    .timeline-cup-result-table tbody tr td:nth-child(7), .timeline-cup-result-select-body-text, .timeline-cup-result-table tbody tr td a.long-name, .shooting-icon span, .bib-icon span {
        display: none;
    }
    .timeline-cup-result-select-body-text.short, .timeline-cup-result-table tbody tr td a.short-name, .shooting-icon::before, .bib-icon::before, .timeline-cup-result-table tbody tr td:nth-child(9) {
        display: initial;
    }
}
@media screen and (max-width: 550px) {
    .timeline-cup-result {
        padding: 1.5em 1.06em;
    }
}