@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6nn0t7');
  src:  url('fonts/icomoon.eot?6nn0t7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6nn0t7') format('truetype'),
    url('fonts/icomoon.woff?6nn0t7') format('woff'),
    url('fonts/icomoon.svg?6nn0t7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comments2:before {
  content: "\e907";
}
.icon-calendar1:before {
  content: "\e909";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-list:before {
  content: "\e901";
}
.icon-clock2:before {
  content: "\e905";
}
.icon-user-male:before {
  content: "\e903";
}
.icon-user-female:before {
  content: "\e904";
}
.icon-comments:before {
  content: "\e906";
}
.icon-calendar3:before {
  content: "\e900";
}
.icon-014:before {
  content: "\e914";
}
.icon-number33:before {
  content: "\e908";
}
